Repository tock/tock, changes with the labels that .github/labeler.yml gives for each.
All labels: stm32, nrf, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network, WG-Crypto, kernel, component

IPC RFC documentation
  doc/rfcs/2025-11-22--InterProcessCommunication.md
Labels: none

IPC RFC documentation
  doc/rfcs/2025-11-22--InterProcessCommunication.md
Labels: none

[WIP] Edit IPC RFC Documentation
  doc/rfcs/2025-11-22--InterProcessCommunication.md
Labels: none

Use case example
  doc/rfcs/2025-11-22--InterProcessCommunication.md
Labels: none

x86: ignore cdecl warning on x86-64
  arch/x86/src/boundary/mod.rs
  arch/x86/src/interrupts/handlers.rs
  arch/x86/src/segmentation.rs
  boards/qemu_i486_q35/src/main.rs
  chips/x86_q35/src/interrupts.rs
Labels: none

clippy: is_multiple_of
  arch/cortex-m/src/mpu.rs
  arch/cortex-m33/src/mpu_v8m.rs
  arch/riscv/src/pmp.rs
  boards/imix/src/test/log_test.rs
  boards/nano33ble/src/test/log_test.rs
  capsules/core/src/test/random_alarm.rs
  capsules/core/src/test/random_timer.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/phy_driver.rs
  capsules/extra/src/log.rs
  capsules/extra/src/net/frag_utils.rs
  capsules/extra/src/net/sixlowpan/sixlowpan_compression.rs
  capsules/extra/src/nonvolatile_to_pages.rs
  capsules/extra/src/screen/screen.rs
  capsules/extra/src/screen/screen_adapters.rs
  capsules/extra/src/screen/screen_shared.rs
  chips/apollo3/src/iom.rs
  chips/lowrisc/src/hmac.rs
  chips/lowrisc/src/spi_host.rs
  chips/msp432/src/adc.rs
  chips/sam4l/src/spi.rs
  chips/stm32f4xx/src/clocks/pll.rs
  chips/virtio/src/devices/virtio_gpu/mod.rs
  chips/virtio/src/queues/split_queue.rs
  kernel/src/hil/can.rs
  libraries/tock-tbf/src/parse.rs
Labels: stm32, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network

capsules/core: remove unnecessary paratheses around type
  capsules/core/examples/traitobj_list.rs
Labels: none

x86: ignore cdecl warning on x86-64
  arch/x86/src/boundary/mod.rs
  arch/x86/src/interrupts/handlers.rs
  arch/x86/src/segmentation.rs
  boards/qemu_i486_q35/src/main.rs
  chips/x86_q35/src/interrupts.rs
Labels: none

boards: qemu i486: target-width is an int now
  boards/qemu_i486_q35/i486-unknown-none.json
Labels: none

tools/ci/license-checker: fix hidden elided lifetime lint
  tools/ci/license-checker/src/parser.rs
Labels: none

.gitattributes: don't hide Cargo.lock diff by default on GitHub
  .gitattributes
Labels: none

chips: add stm32l4xx support with interrupt-based USART
  Cargo.lock
  Cargo.toml
  boards/nucleo_l476rg/.cargo/config.toml
  boards/nucleo_l476rg/Cargo.toml
  boards/nucleo_l476rg/Makefile
  boards/nucleo_l476rg/chip_layout.ld
  boards/nucleo_l476rg/layout.ld
  boards/nucleo_l476rg/src/io.rs
  boards/nucleo_l476rg/src/main.rs
  chips/stm32l476rg/Cargo.toml
  chips/stm32l476rg/README.md
  chips/stm32l476rg/src/chip_specs.rs
  chips/stm32l476rg/src/interrupt_service.rs
  chips/stm32l476rg/src/lib.rs
  chips/stm32l4xx/Cargo.toml
  chips/stm32l4xx/README.md
  chips/stm32l4xx/src/chip.rs
  chips/stm32l4xx/src/chip_specific/chip_specs.rs
  chips/stm32l4xx/src/chip_specific/clock_constants.rs
  chips/stm32l4xx/src/chip_specific/flash.rs
  chips/stm32l4xx/src/chip_specific/mod.rs
  chips/stm32l4xx/src/clocks/clocks.rs
  chips/stm32l4xx/src/clocks/hsi.rs
  chips/stm32l4xx/src/clocks/mod.rs
  chips/stm32l4xx/src/clocks/msi.rs
  chips/stm32l4xx/src/clocks/phclk.rs
  chips/stm32l4xx/src/clocks/pll.rs
  chips/stm32l4xx/src/exti.rs
  chips/stm32l4xx/src/flash.rs
  chips/stm32l4xx/src/gpio.rs
  chips/stm32l4xx/src/lib.rs
  chips/stm32l4xx/src/nvic.rs
  chips/stm32l4xx/src/pwr.rs
  chips/stm32l4xx/src/rcc.rs
  chips/stm32l4xx/src/syscfg.rs
  chips/stm32l4xx/src/usart.rs
Labels: stm32

Edit IPC RFC doc
  doc/rfcs/2025-11-22--InterProcessCommunication.md
Labels: none

boards: litex: remove duplicate AlarmHw
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
Labels: none

boards: litex: use AlarmHw
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
Labels: none

Ignore license checks on gitattributes file
  .lcignore
Labels: none

kernel: deferred call: simplify nesting/cells
  kernel/src/deferred_call.rs
Labels: kernel

kernel: deferred call: improve new()
  kernel/src/deferred_call.rs
Labels: kernel

Update kernel/src/deferred_call.rs
  kernel/src/deferred_call.rs
Labels: kernel

kernel/deferred_call: fix clippy lints
  kernel/src/deferred_call.rs
Labels: kernel

kernel/deferred_call: fix clippy lints
  kernel/src/deferred_call.rs
Labels: kernel

panic_print -> panic_print_old
  boards/esp32-c3-devkitM-1/src/io.rs
  boards/litex/sim/src/io.rs
  boards/opentitan/earlgrey-cw310/src/io.rs
  boards/qemu_i486_q35/src/io.rs
  boards/qemu_rv32_virt/src/io.rs
  boards/tutorials/qemu_rv32_virt-tutorial/src/io.rs
  boards/veer_el2_sim/src/io.rs
  kernel/src/debug.rs
Labels: WG-OpenTitan, kernel

Prototype specialized PanicWriter for nrf52dk
  boards/nordic/nrf52_components/src/startup.rs
  boards/nordic/nrf52dk/src/io.rs
  boards/nordic/nrf52dk/src/main.rs
  chips/nrf52/src/uart.rs
  chips/nrf5x/src/gpio.rs
  chips/nrf5x/src/pinmux.rs
  kernel/src/debug.rs
Labels: nrf, kernel

chips: nrf52: update pinmux
  chips/nrf5x/src/gpio.rs
  chips/nrf5x/src/pinmux.rs
Labels: nrf

boards: nrf52: update to new PinMux
  boards/clue_nrf52840/src/main.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/main.rs
  boards/nordic/nrf52840dk/src/lib.rs
  boards/nordic/nrf52_components/src/startup.rs
  boards/particle_boron/src/main.rs
  boards/sma_q3/src/main.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/main.rs
  boards/tutorials/nrf52840dk-hotp-tutorial/src/main.rs
  boards/tutorials/nrf52840dk-root-of-trust-tutorial/src/main.rs
  boards/tutorials/nrf52840dk-thread-tutorial/src/main.rs
  boards/wm1110dev/src/main.rs
Labels: none

kernel: debug: panic writer: add comments
  kernel/src/debug.rs
Labels: kernel

Responses and updates to some of Leon's thoughts
  doc/rfcs/2025-11-22--InterProcessCommunication.md
Labels: none

kernel/debug: port changes from PR #4519
  boards/esp32-c3-devkitM-1/src/io.rs
  kernel/src/debug.rs
Labels: kernel

boards: tut: qemu: panic resources
  boards/tutorials/qemu_rv32_virt-tutorial/src/io.rs
Labels: none

boards: microbit v2: panic resources
  boards/microbit_v2/src/io.rs
  boards/microbit_v2/src/main.rs
Labels: none

boards: raspberry_pi_pico: panic resources
  boards/raspberry_pi_pico/src/io.rs
  boards/raspberry_pi_pico/src/main.rs
Labels: none

boards: makepython-nrf52840: panic resources
  boards/makepython-nrf52840/src/io.rs
  boards/makepython-nrf52840/src/main.rs
Labels: none

boards: qemu_rv32_virt: panic resources
  boards/qemu_rv32_virt/src/io.rs
  boards/qemu_rv32_virt/src/lib.rs
Labels: none

boards: nucleo_f429zi: panic resources
  boards/nucleo_f429zi/src/io.rs
  boards/nucleo_f429zi/src/main.rs
Labels: none

boards: cy8cproto_62_4343_w: panic resources
  boards/cy8cproto_62_4343_w/src/io.rs
  boards/cy8cproto_62_4343_w/src/main.rs
Labels: none

boards: wm1110dev: panic resources
  boards/wm1110dev/src/io.rs
  boards/wm1110dev/src/main.rs
Labels: none

boards: hail: panic resources
  boards/hail/src/io.rs
  boards/hail/src/main.rs
Labels: none

boards: veer_el2_sim: panic resources
  boards/veer_el2_sim/src/io.rs
  boards/veer_el2_sim/src/main.rs
Labels: none

boards: nano33ble: panic resources
  boards/nano33ble/src/io.rs
  boards/nano33ble/src/main.rs
Labels: none

boards: hifive inventor: panic resources
  boards/hifive_inventor/src/io.rs
  boards/hifive_inventor/src/main.rs
Labels: none

.github/labeler.yml:

# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

# This is a configuration file for the labeler github action.
# The labeler action runs uses this configuration to automatically
# label each PR submitted to the Tock repository, by applying labels
# that match the corresponding glob paths. More details on the rules
# that apply to this configuration file can be found in the documentation
# at https://github.com/actions/labeler

stm32:
  - chips/stm*/**/*

nrf:
  - chips/nrf5*/**/*

sam4l:
  - chips/sam4l/**/*

HIL:
  - kernel/src/hil/*

risc-v:
  - arch/rv32i/**/*
  - arch/riscv/**/*

tock-libraries:
  - libraries/**/*

WG-OpenTitan:
  - boards/opentitan/**/*
  - chips/earlgrey/**/*
  - chips/lowrisc/**/*
  - doc/wg/opentitan/**/*

WG-Network:
  - capsules/extra/src/ble_advertising_driver.rs
  - capsules/extra/src/can.rs
  - capsules/extra/src/ethernet_tap.rs
  - capsules/extra/src/ieee802154/**/*
  - capsules/extra/src/net/**/*
  - capsules/extra/src/rf233.rs
  - capsules/extra/src/rf233_const.rs
  - chips/apollo3/src/ble.rs
  - chips/litex/src/liteeth.rs
  - chips/nrf52/src/ble_radio.rs
  - chips/nrf52840/src/ieee802154_radio.rs
  - chips/stm32f429zi/src/can_registers.rs
  - chips/stm32f4xx/src/can.rs
  - chips/virtio/src/devices/virtio_net.rs
  - doc/wg/network/**/*
  - kernel/src/hil/ble_advertising.rs
  - kernel/src/hil/can.rs
  - kernel/src/hil/ethernet.rs
  - kernel/src/hil/radio.rs

WG-Crypto:
  - doc/wg/cryptography/**/*
  - kernel/src/hil/symmetric_encryption.rs
  - kernel/src/hil/public_key_crypto/**/*
  - kernel/src/hil/digest.rs
  - kernel/src/hil/crc.rs
  - kernel/src/hil/rng.rs
  - capsules/extra/src/symmetric_encryption/**/*
  - capsules/extra/src/public_key_crypto/**/*
  - capsules/extra/src/hmac.rs
  - capsules/extra/src/hmac_sha256.rs
  - capsules/extra/src/sha.rs
  - capsules/extra/src/sha256.rs
  - capsules/aes_gcm/**/*
  - capsules/ecdsa_sw/**/*

# add kernel label unless already covered by hil label
kernel:
  - any: ['kernel/**/*', '!kernel/src/hil/*']

# add documentation label only if all changes are in doc/
documentation:
  - all: ['doc/**/*']

component:
  - boards/components/**/*
