Repository tock/tock, changes with the labels that .github/labeler.yml gives for each.
All labels: stm32, nrf, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network, WG-Crypto, kernel, component

components/cyw4343: added doc comment
  boards/components/src/cyw4343.rs
Labels: component

capsules/cyw4343: renamed modules
  capsules/extra/src/cyw4343/bus/common.rs
  capsules/extra/src/cyw4343/bus/spi.rs
  capsules/extra/src/cyw4343/constants.rs
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/cyw4343/macros.rs
  capsules/extra/src/cyw4343/mod.rs
  capsules/extra/src/cyw4343/sdpcm.rs
Labels: none

chips/rp2040: updated dma interrupt handler; renamings and doc comments in pio
  chips/rp2040/src/dma.rs
  chips/rp2040/src/pio.rs
  chips/rp2040/src/pio_gspi.rs
Labels: none

capsules/wifi: updated security enum
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/wifi/device.rs
Labels: none

capsules/cyw4343: updated comments for the common bus operations
  capsules/extra/src/cyw4343/bus/common.rs
Labels: none

clippy: fixed warnings
  capsules/extra/src/cyw4343/bus/spi.rs
  chips/rp2040/src/pio_gspi.rs
Labels: none

capsules/cyw4343: fixed tests
  capsules/extra/src/cyw4343/macros.rs
  capsules/extra/src/cyw4343/sdpcm.rs
Labels: none

readme: use tock-ci link variable
  README.md
Labels: none

kernel: make {Readable,Writeable}ProcessBuffer unsafe traits
  kernel/src/processbuffer.rs
Labels: kernel

Add license header
  .gitattributes
Labels: none

Network working group call notes: November 24, 2025
  doc/wg/network/notes/network-notes-2025-11-24.md
Labels: WG-Network

kernel: move schedulers to capsules
  capsules/system/src/lib.rs
  capsules/system/src/scheduler/cooperative.rs
  capsules/system/src/scheduler/mlfq.rs
  capsules/system/src/scheduler/mod.rs
  capsules/system/src/scheduler/priority.rs
  capsules/system/src/scheduler/round_robin.rs
  kernel/src/scheduler.rs
Labels: kernel

Fix esp32-c3-devkitM-1 test miscompilation
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

kernel: add `init()` to `Chip`
  kernel/src/platform/chip.rs
Labels: kernel

chips: nrf52: implement init()
  chips/nrf52/src/chip.rs
  chips/nrf52/src/crt1.rs
  chips/nrf52/src/lib.rs
  chips/nrf52840/src/lib.rs
Labels: nrf

nrf52: move deferred call init to the chip
  boards/nordic/nrf52840dk/src/lib.rs
  chips/nrf52/src/chip.rs
Labels: nrf

boards: nrf52840dk: use ChipHw::init()
  boards/nordic/nrf52840dk/src/lib.rs
Labels: none

arch: switch from is_multiple_of to next_multiple_of
  arch/cortex-m/src/mpu.rs
  arch/riscv/src/pmp.rs
Labels: risc-v

kernel/utilities/math: remove `closest_power_of_two`
  arch/cortex-m/src/mpu.rs
  chips/sam4l/src/adc.rs
  kernel/src/utilities/math.rs
Labels: sam4l, kernel

minor fixes
  kernel/src/dynamic_binary_storage.rs
  kernel/src/process_loading.rs
Labels: kernel

.github/labeler.yml:

# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

# This is a configuration file for the labeler github action.
# The labeler action runs uses this configuration to automatically
# label each PR submitted to the Tock repository, by applying labels
# that match the corresponding glob paths. More details on the rules
# that apply to this configuration file can be found in the documentation
# at https://github.com/actions/labeler

stm32:
  - chips/stm*/**/*

nrf:
  - chips/nrf5*/**/*

sam4l:
  - chips/sam4l/**/*

HIL:
  - kernel/src/hil/*

risc-v:
  - arch/rv32i/**/*
  - arch/riscv/**/*

tock-libraries:
  - libraries/**/*

WG-OpenTitan:
  - boards/opentitan/**/*
  - chips/earlgrey/**/*
  - chips/lowrisc/**/*
  - doc/wg/opentitan/**/*

WG-Network:
  - capsules/extra/src/ble_advertising_driver.rs
  - capsules/extra/src/can.rs
  - capsules/extra/src/ethernet_tap.rs
  - capsules/extra/src/ieee802154/**/*
  - capsules/extra/src/net/**/*
  - capsules/extra/src/rf233.rs
  - capsules/extra/src/rf233_const.rs
  - chips/apollo3/src/ble.rs
  - chips/litex/src/liteeth.rs
  - chips/nrf52/src/ble_radio.rs
  - chips/nrf52840/src/ieee802154_radio.rs
  - chips/stm32f429zi/src/can_registers.rs
  - chips/stm32f4xx/src/can.rs
  - chips/virtio/src/devices/virtio_net.rs
  - doc/wg/network/**/*
  - kernel/src/hil/ble_advertising.rs
  - kernel/src/hil/can.rs
  - kernel/src/hil/ethernet.rs
  - kernel/src/hil/radio.rs

WG-Crypto:
  - doc/wg/cryptography/**/*
  - kernel/src/hil/symmetric_encryption.rs
  - kernel/src/hil/public_key_crypto/**/*
  - kernel/src/hil/digest.rs
  - kernel/src/hil/crc.rs
  - kernel/src/hil/rng.rs
  - capsules/extra/src/symmetric_encryption/**/*
  - capsules/extra/src/public_key_crypto/**/*
  - capsules/extra/src/hmac.rs
  - capsules/extra/src/hmac_sha256.rs
  - capsules/extra/src/sha.rs
  - capsules/extra/src/sha256.rs
  - capsules/aes_gcm/**/*
  - capsules/ecdsa_sw/**/*

# add kernel label unless already covered by hil label
kernel:
  - any: ['kernel/**/*', '!kernel/src/hil/*']

# add documentation label only if all changes are in doc/
documentation:
  - all: ['doc/**/*']

component:
  - boards/components/**/*
