Repository tock/tock, changes with the labels that .github/labeler.yml gives for each.
All labels: stm32, nrf, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network, WG-Crypto, kernel, component

.github/labeler.yml:

# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

# This is a configuration file for the labeler github action.
# The labeler action runs uses this configuration to automatically
# label each PR submitted to the Tock repository, by applying labels
# that match the corresponding glob paths. More details on the rules
# that apply to this configuration file can be found in the documentation
# at https://github.com/actions/labeler

stm32:
  - chips/stm*/**/*

nrf:
  - chips/nrf5*/**/*

sam4l:
  - chips/sam4l/**/*

HIL:
  - kernel/src/hil/*

risc-v:
  - arch/rv32i/**/*
  - arch/riscv/**/*

tock-libraries:
  - libraries/**/*

WG-OpenTitan:
  - boards/opentitan/**/*
  - chips/earlgrey/**/*
  - chips/lowrisc/**/*
  - doc/wg/opentitan/**/*

WG-Network:
  - capsules/extra/src/ble_advertising_driver.rs
  - capsules/extra/src/can.rs
  - capsules/extra/src/ethernet_tap.rs
  - capsules/extra/src/ieee802154/**/*
  - capsules/extra/src/net/**/*
  - capsules/extra/src/rf233.rs
  - capsules/extra/src/rf233_const.rs
  - chips/apollo3/src/ble.rs
  - chips/litex/src/liteeth.rs
  - chips/nrf52/src/ble_radio.rs
  - chips/nrf52840/src/ieee802154_radio.rs
  - chips/stm32f429zi/src/can_registers.rs
  - chips/stm32f4xx/src/can.rs
  - chips/virtio/src/devices/virtio_net.rs
  - doc/wg/network/**/*
  - kernel/src/hil/ble_advertising.rs
  - kernel/src/hil/can.rs
  - kernel/src/hil/ethernet.rs
  - kernel/src/hil/radio.rs

WG-Crypto:
  - doc/wg/cryptography/**/*
  - kernel/src/hil/symmetric_encryption.rs
  - kernel/src/hil/public_key_crypto/**/*
  - kernel/src/hil/digest.rs
  - kernel/src/hil/crc.rs
  - kernel/src/hil/rng.rs
  - capsules/extra/src/symmetric_encryption/**/*
  - capsules/extra/src/public_key_crypto/**/*
  - capsules/extra/src/hmac.rs
  - capsules/extra/src/hmac_sha256.rs
  - capsules/extra/src/sha.rs
  - capsules/extra/src/sha256.rs
  - capsules/aes_gcm/**/*
  - capsules/ecdsa_sw/**/*

# add kernel label unless already covered by hil label
kernel:
  - any: ['kernel/**/*', '!kernel/src/hil/*']

# add documentation label only if all changes are in doc/
documentation:
  - all: ['doc/**/*']

component:
  - boards/components/**/*

tock-registers: update dependency usage
  arch/riscv/Cargo.toml
  arch/rv32i/Cargo.toml
  arch/x86/Cargo.toml
  chips/litex/Cargo.toml
  chips/pci-x86/Cargo.toml
  chips/x86_q35/Cargo.toml
  kernel/Cargo.toml
  libraries/riscv-csr/Cargo.toml
Labels: risc-v, tock-libraries, kernel

libraries/tock-register-interface: split out into separate repository
  Cargo.lock
  Cargo.toml
  libraries/tock-register-interface/CHANGELOG.md
  libraries/tock-register-interface/Cargo.toml
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/debug.rs
  libraries/tock-register-interface/src/fields.rs
  libraries/tock-register-interface/src/interfaces.rs
  libraries/tock-register-interface/src/lib.rs
  libraries/tock-register-interface/src/local_register.rs
  libraries/tock-register-interface/src/macros.rs
  libraries/tock-register-interface/src/registers.rs
Labels: tock-libraries

libraries/README: indicate tock-registers has moved to separate repo
  libraries/README.md
Labels: tock-libraries

Makefile: remove tock-register-interface related checks
  Makefile
Labels: none

kernel/utilities: point to new separate tock-registers repository
  kernel/src/utilities/mod.rs
Labels: kernel

ci-nighly: fix creating GitHub issue
  .github/workflows/ci-nightly.yml
Labels: none

ci-nightly: pin dacbd/create-issue-action to v2.0.0
  .github/workflows/ci-nightly.yml
Labels: none

ci-nightly: allow workflow to be invoked manually
  .github/workflows/ci-nightly.yml
Labels: none

ci-nightly: switch to JasonEtco/create-an-issue action
  .github/ci_nightly_failure_issue_template.md
  .github/workflows/ci-nightly.yml
Labels: none

ci-nightly: ci-build: create issue on workflow failure
  .github/workflows/ci-nightly.yml
Labels: none

ci-nightly: ci-build: add newlines in between workflow steps
  .github/workflows/ci-nightly.yml
Labels: none

ci-nightly: fix upload-artifact failure of duplicate artifact names
  .github/workflows/ci-nightly.yml
Labels: none

Elide `link_section` attr for kernel version when targeting macOS
  kernel/src/lib.rs
Labels: kernel

Elide `link_section = stack_buffer` attr when targeting macOS
  kernel/src/utilities/helpers.rs
Labels: kernel

Elide `link_section = ".storage"` attr when targeting macOS
  kernel/src/utilities/storage_volume.rs
Labels: kernel

boards: elide `link_section` attrs when targeting macOS
  boards/imxrt1050-evkb/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_i486_q35/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/raspberry_pi_pico_2/src/main.rs
  boards/teensy40/src/fcb.rs
  boards/teensy40/src/main.rs
Labels: none

annotate example ringbuffer
  kernel/src/collections/ring_buffer.rs
Labels: kernel

clean up annotations
  kernel/src/collections/ring_buffer.rs
Labels: kernel

Network working group call notes: October 27
  doc/wg/network/notes/network-notes-2025-10-27.md
Labels: WG-Network

flux: annotate example ringbuffer
  kernel/src/collections/ring_buffer.rs
Labels: kernel

flux: clean up annotations
  kernel/src/collections/ring_buffer.rs
Labels: kernel

tock_kernel_layout.ld: place .stack at bottom of SRAM
  boards/build_scripts/tock_kernel_layout.ld
Labels: none

tock_kernel_layout.ld: clarify .stack placement comment
  boards/build_scripts/tock_kernel_layout.ld
Labels: none

rustc: update version 2025-11
  .vscode/settings.json
  doc/Getting_Started.md
  rust-toolchain.toml
Labels: none

doc: cryptography-wg notes 2025-10-31
  doc/wg/cryptography/notes/cryptography-notes-2025-10-31.md
Labels: WG-Crypto

avoid hidden lifetimes
  chips/lowrisc/src/virtual_otbn.rs
  chips/psoc62xa/src/gpio.rs
  chips/rp2040/src/gpio.rs
  chips/rp2350/src/gpio.rs
  chips/stm32f303xc/src/gpio.rs
  chips/stm32f4xx/src/gpio.rs
Labels: stm32, WG-OpenTitan

capsules: extra: siphash: don't set ntail then return
  capsules/extra/src/sip_hash.rs
Labels: none

clippy: fix warnings
  capsules/extra/src/sha256.rs
  chips/lowrisc/src/spi_host.rs
  kernel/src/debug.rs
  kernel/src/processbuffer.rs
Labels: WG-OpenTitan, WG-Crypto, kernel

cdecl -> C
  arch/x86/src/boundary/mod.rs
  arch/x86/src/interrupts/handlers.rs
  arch/x86/src/segmentation.rs
  boards/qemu_i486_q35/src/main.rs
  chips/x86_q35/src/interrupts.rs
Labels: none

capsules/core: remove unnecessary paratheses around type
  capsules/core/examples/traitobj_list.rs
Labels: none

tools/ci/license-checker: fix hidden elided lifetime lint
  tools/ci/license-checker/src/parser.rs
Labels: none

kernel: move schedulers to capsules
  capsules/system/src/lib.rs
  capsules/system/src/scheduler/cooperative.rs
  capsules/system/src/scheduler/mlfq.rs
  capsules/system/src/scheduler/mod.rs
  capsules/system/src/scheduler/priority.rs
  capsules/system/src/scheduler/round_robin.rs
  kernel/src/scheduler.rs
Labels: kernel

Fix esp32-c3-devkitM-1 test miscompilation
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

kernel: update cargo.toml comment on features
  kernel/Cargo.toml
Labels: kernel

Move x86 PcComponent out of chips/ and into boards/components
  boards/qemu_i486_q35/src/main.rs
  chips/x86_q35/src/chip.rs
  chips/x86_q35/src/lib.rs
  chips/x86_q35/src/pic.rs
  chips/x86_q35/src/serial.rs
  chips/x86_q35/src/vga.rs
Labels: none

Core working group call notes: November 6, 2025
  doc/wg/core/notes/core-notes-2025-11-06.md
Labels: none

chips: nrf52840: include init() in component
  chips/nrf52840/src/components/nrf52840_default_peripherals.rs
Labels: nrf

chips: nrf5283x: update to new nrf52 structure
  chips/nrf52832/src/interrupt_service.rs
  chips/nrf52832/src/lib.rs
  chips/nrf52833/src/interrupt_service.rs
  chips/nrf52833/src/lib.rs
Labels: nrf

boards: nrf52840: use chip-level component for peripherals
  boards/clue_nrf52840/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/lib.rs
  boards/particle_boron/src/main.rs
  boards/sma_q3/src/main.rs
  boards/wm1110dev/src/main.rs
Labels: none

kernel: deferred call: use SingleThreadValue
  kernel/src/deferred_call.rs
Labels: kernel
