Repository tock/tock, changes with the labels that .github/labeler.yml gives for each.
All labels: stm32, nrf, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network, WG-Crypto, kernel, component

kernel: deferred call: fix example comment
  kernel/src/deferred_call.rs
Labels: kernel

boards: esp32-c3: update make
  boards/esp32-c3-devkitM-1/Makefile
  boards/esp32-c3-devkitM-1/README.md
Labels: none

Fixed error in STM32F3 uart interrupt handling
  chips/stm32f303xc/src/usart.rs
Labels: stm32

Network working group call notes: November 10, 2025
  doc/wg/network/notes/network-notes-2025-11-10.md
Labels: WG-Network

Update doc/wg/network/notes/network-notes-2025-11-10.md
  doc/wg/network/notes/network-notes-2025-11-10.md
Labels: WG-Network

small fix to detached spec scope, but still getting an error
  kernel/src/collections/ring_buffer.rs
Labels: kernel

kernel: virt sched timer: move to capsules
  capsules/system/src/lib.rs
  capsules/system/src/virtual_scheduler_timer.rs
  kernel/src/platform/scheduler_timer.rs
Labels: kernel

boards: use component for virtual sched timer
  boards/components/src/lib.rs
  boards/components/src/virtual_scheduler_timer.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/opentitan/earlgrey-cw310/src/main.rs
  boards/qemu_i486_q35/src/main.rs
  boards/qemu_rv32_virt/src/lib.rs
  boards/redboard_redv/src/main.rs
  boards/veer_el2_sim/src/main.rs
Labels: WG-OpenTitan, component

elide mod comments using new detached-spec-scoping
  kernel/src/collections/ring_buffer.rs
Labels: kernel

address comment changes
  kernel/src/collections/ring_buffer.rs
Labels: kernel

capsules/cyw4343: move capsule to module in capsules/extra
  Cargo.lock
  Cargo.toml
  boards/components/src/cyw4343.rs
  boards/components/src/lib.rs
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/src/main.rs
  capsules/cyw4343/Cargo.toml
  capsules/cyw4343/README.md
  capsules/cyw4343/src/lib.rs
  capsules/extra/src/cyw4343/bus.rs
  capsules/extra/src/cyw4343/bus/common.rs
  capsules/extra/src/cyw4343/bus/spi.rs
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/cyw4343/mod.rs
  capsules/extra/src/cyw4343/sdpcm.rs
  capsules/extra/src/cyw4343/utils.rs
  capsules/extra/src/lib.rs
Labels: component

capsules: add support for cyw4343x and wifi
  Cargo.lock
  Cargo.toml
  boards/components/src/lib.rs
  boards/components/src/wifi.rs
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/README.md
  boards/raspberry_pi_pico/layout.ld
  boards/raspberry_pi_pico/src/main.rs
  capsules/core/src/driver.rs
  capsules/cyw4343/Cargo.toml
  capsules/cyw4343/README.md
  capsules/cyw4343/src/bus.rs
  capsules/cyw4343/src/bus/common.rs
  capsules/cyw4343/src/bus/spi.rs
  capsules/cyw4343/src/component.rs
  capsules/cyw4343/src/driver.rs
  capsules/cyw4343/src/lib.rs
  capsules/cyw4343/src/sdpcm.rs
  capsules/cyw4343/src/utils.rs
  capsules/extra/README.md
  capsules/extra/src/lib.rs
  capsules/extra/src/wifi/device.rs
  capsules/extra/src/wifi/driver.rs
  capsules/extra/src/wifi/mod.rs
  chips/rp2040/src/chip.rs
  chips/rp2040/src/dma.rs
  chips/rp2040/src/gpio.rs
  chips/rp2040/src/lib.rs
  chips/rp2040/src/pio.rs
  chips/rp2040/src/pio_gspi.rs
Labels: component

capsules/cyw4343: added cyw4343 in readme
  capsules/extra/README.md
Labels: none

boards/pico: rename cyw43 fw dependency
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/src/main.rs
Labels: none

boards: split Pico in library/binary crates, add support for Pico W
  Cargo.lock
  Cargo.toml
  boards/README.md
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/src/lib.rs
  boards/raspberry_pi_pico_w/.cargo/config.toml
  boards/raspberry_pi_pico_w/Cargo.toml
  boards/raspberry_pi_pico_w/Makefile
  boards/raspberry_pi_pico_w/README.md
  boards/raspberry_pi_pico_w/layout.ld
  boards/raspberry_pi_pico_w/src/io.rs
  boards/raspberry_pi_pico_w/src/main.rs
Labels: none

chips/rp2040: added pio_gspi component
  Cargo.lock
  boards/components/Cargo.toml
  boards/components/src/lib.rs
  boards/components/src/pio_gspi.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/rp2040/src/pio_gspi.rs
Labels: component

capsules/wifi: updated credential representation
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/cyw4343/sdpcm.rs
  capsules/extra/src/wifi/device.rs
  capsules/extra/src/wifi/driver.rs
  capsules/extra/src/wifi/mod.rs
Labels: none

capsules: add xk68xx capsule
  capsules/extra/src/lib.rs
  capsules/extra/src/sk68xx.rs
Labels: none

boards: esp32-c3: reorder main.rs and label sections
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

components: add sk68xx component
  boards/components/src/lib.rs
  boards/components/src/sk68xx.rs
Labels: component

capsules: sk68xx: fix lifetime clippy warning
  capsules/extra/src/sk68xx.rs
Labels: none

components: sk68xx: remove old comment code
  boards/components/src/sk68xx.rs
Labels: component

capsules: extra: sk68xx: parametrize init
  capsules/extra/src/sk68xx.rs
Labels: none

capsules: add sk68xx to readme
  capsules/extra/README.md
Labels: none

boards: esp32-c3: add LEDs
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

capsules: extra: sk68xx: also paremetrize write()
  capsules/extra/src/sk68xx.rs
Labels: none

kernel: deferred call: have verify check for init
  kernel/src/deferred_call.rs
Labels: kernel

boards: split Pico in library/binary crates, add support for Pico W
  Cargo.lock
  Cargo.toml
  boards/README.md
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/src/lib.rs
  boards/raspberry_pi_pico_w/.cargo/config.toml
  boards/raspberry_pi_pico_w/Cargo.toml
  boards/raspberry_pi_pico_w/Makefile
  boards/raspberry_pi_pico_w/README.md
  boards/raspberry_pi_pico_w/layout.ld
  boards/raspberry_pi_pico_w/src/io.rs
  boards/raspberry_pi_pico_w/src/main.rs
Labels: none

capsules/wifi: updated credential representation
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/cyw4343/sdpcm.rs
  capsules/extra/src/wifi/device.rs
  capsules/extra/src/wifi/driver.rs
  capsules/extra/src/wifi/mod.rs
Labels: none

board/pico_w: moved pio_gspi component to board
  Cargo.lock
  boards/components/Cargo.toml
  boards/components/src/lib.rs
  boards/raspberry_pi_pico_w/src/main.rs
  boards/raspberry_pi_pico_w/src/pio_gspi_component.rs
Labels: component

cargo fmt
  kernel/src/collections/ring_buffer.rs
Labels: kernel

Set specific revision for flux-rs
  Cargo.lock
  kernel/Cargo.toml
Labels: kernel

boards/components/sk68xx: remove magic numbers, nest macros
  boards/components/src/sk68xx.rs
Labels: component

boards: esp32-c3: add buttons
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

kernel: deferred call: new infallible
  kernel/src/deferred_call.rs
Labels: kernel

README: fix tock-ci workflow badge
  README.md
Labels: none

kernel: move schedulers to capsules
  capsules/system/src/lib.rs
  capsules/system/src/scheduler/cooperative.rs
  capsules/system/src/scheduler/mlfq.rs
  capsules/system/src/scheduler/mod.rs
  capsules/system/src/scheduler/priority.rs
  capsules/system/src/scheduler/round_robin.rs
  kernel/src/scheduler.rs
Labels: kernel

Fix esp32-c3-devkitM-1 test miscompilation
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

Core WG notes for 2025-11-20
  doc/wg/core/notes/core-notes-2025-11-20.md
Labels: none

2025-11-20 core wg notes typo fix
  doc/wg/core/notes/core-notes-2025-11-20.md
Labels: none

.github/labeler.yml:

# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

# This is a configuration file for the labeler github action.
# The labeler action runs uses this configuration to automatically
# label each PR submitted to the Tock repository, by applying labels
# that match the corresponding glob paths. More details on the rules
# that apply to this configuration file can be found in the documentation
# at https://github.com/actions/labeler

stm32:
  - chips/stm*/**/*

nrf:
  - chips/nrf5*/**/*

sam4l:
  - chips/sam4l/**/*

HIL:
  - kernel/src/hil/*

risc-v:
  - arch/rv32i/**/*
  - arch/riscv/**/*

tock-libraries:
  - libraries/**/*

WG-OpenTitan:
  - boards/opentitan/**/*
  - chips/earlgrey/**/*
  - chips/lowrisc/**/*
  - doc/wg/opentitan/**/*

WG-Network:
  - capsules/extra/src/ble_advertising_driver.rs
  - capsules/extra/src/can.rs
  - capsules/extra/src/ethernet_tap.rs
  - capsules/extra/src/ieee802154/**/*
  - capsules/extra/src/net/**/*
  - capsules/extra/src/rf233.rs
  - capsules/extra/src/rf233_const.rs
  - chips/apollo3/src/ble.rs
  - chips/litex/src/liteeth.rs
  - chips/nrf52/src/ble_radio.rs
  - chips/nrf52840/src/ieee802154_radio.rs
  - chips/stm32f429zi/src/can_registers.rs
  - chips/stm32f4xx/src/can.rs
  - chips/virtio/src/devices/virtio_net.rs
  - doc/wg/network/**/*
  - kernel/src/hil/ble_advertising.rs
  - kernel/src/hil/can.rs
  - kernel/src/hil/ethernet.rs
  - kernel/src/hil/radio.rs

WG-Crypto:
  - doc/wg/cryptography/**/*
  - kernel/src/hil/symmetric_encryption.rs
  - kernel/src/hil/public_key_crypto/**/*
  - kernel/src/hil/digest.rs
  - kernel/src/hil/crc.rs
  - kernel/src/hil/rng.rs
  - capsules/extra/src/symmetric_encryption/**/*
  - capsules/extra/src/public_key_crypto/**/*
  - capsules/extra/src/hmac.rs
  - capsules/extra/src/hmac_sha256.rs
  - capsules/extra/src/sha.rs
  - capsules/extra/src/sha256.rs
  - capsules/aes_gcm/**/*
  - capsules/ecdsa_sw/**/*

# add kernel label unless already covered by hil label
kernel:
  - any: ['kernel/**/*', '!kernel/src/hil/*']

# add documentation label only if all changes are in doc/
documentation:
  - all: ['doc/**/*']

component:
  - boards/components/**/*
