Repository tock/tock, changes with the labels that .github/labeler.yml gives for each.
All labels: stm32, nrf, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network, WG-Crypto, kernel, component

.github/labeler.yml:

# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

# This is a configuration file for the labeler github action.
# The labeler action runs uses this configuration to automatically
# label each PR submitted to the Tock repository, by applying labels
# that match the corresponding glob paths. More details on the rules
# that apply to this configuration file can be found in the documentation
# at https://github.com/actions/labeler

stm32:
  - chips/stm*/**/*

nrf:
  - chips/nrf5*/**/*

sam4l:
  - chips/sam4l/**/*

HIL:
  - kernel/src/hil/*

risc-v:
  - arch/rv32i/**/*
  - arch/riscv/**/*

tock-libraries:
  - libraries/**/*

WG-OpenTitan:
  - boards/opentitan/**/*
  - chips/earlgrey/**/*
  - chips/lowrisc/**/*
  - doc/wg/opentitan/**/*

WG-Network:
  - capsules/extra/src/ble_advertising_driver.rs
  - capsules/extra/src/can.rs
  - capsules/extra/src/ethernet_tap.rs
  - capsules/extra/src/ieee802154/**/*
  - capsules/extra/src/net/**/*
  - capsules/extra/src/rf233.rs
  - capsules/extra/src/rf233_const.rs
  - chips/apollo3/src/ble.rs
  - chips/litex/src/liteeth.rs
  - chips/nrf52/src/ble_radio.rs
  - chips/nrf52840/src/ieee802154_radio.rs
  - chips/stm32f429zi/src/can_registers.rs
  - chips/stm32f4xx/src/can.rs
  - chips/virtio/src/devices/virtio_net.rs
  - doc/wg/network/**/*
  - kernel/src/hil/ble_advertising.rs
  - kernel/src/hil/can.rs
  - kernel/src/hil/ethernet.rs
  - kernel/src/hil/radio.rs

WG-Crypto:
  - doc/wg/cryptography/**/*
  - kernel/src/hil/symmetric_encryption.rs
  - kernel/src/hil/public_key_crypto/**/*
  - kernel/src/hil/digest.rs
  - kernel/src/hil/crc.rs
  - kernel/src/hil/rng.rs
  - capsules/extra/src/symmetric_encryption/**/*
  - capsules/extra/src/public_key_crypto/**/*
  - capsules/extra/src/hmac.rs
  - capsules/extra/src/hmac_sha256.rs
  - capsules/extra/src/sha.rs
  - capsules/extra/src/sha256.rs
  - capsules/aes_gcm/**/*
  - capsules/ecdsa_sw/**/*

# add kernel label unless already covered by hil label
kernel:
  - any: ['kernel/**/*', '!kernel/src/hil/*']

# add documentation label only if all changes are in doc/
documentation:
  - all: ['doc/**/*']

component:
  - boards/components/**/*

Rebase
  Cargo.lock
Labels: none

kernel: debug: move UartDebugWriter to capsules/system
  boards/components/src/debug_writer.rs
  capsules/system/src/debug_writer/mod.rs
  capsules/system/src/debug_writer/uart_debug_writer.rs
  capsules/system/src/lib.rs
  kernel/src/debug.rs
Labels: kernel, component

kernel: virt sched timer: move to capsules
  capsules/system/src/lib.rs
  capsules/system/src/virtual_scheduler_timer.rs
  kernel/src/platform/scheduler_timer.rs
Labels: kernel

boards: use component for virtual sched timer
  boards/components/src/lib.rs
  boards/components/src/virtual_scheduler_timer.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/opentitan/earlgrey-cw310/src/main.rs
  boards/qemu_i486_q35/src/main.rs
  boards/qemu_rv32_virt/src/lib.rs
  boards/redboard_redv/src/main.rs
  boards/veer_el2_sim/src/main.rs
Labels: WG-OpenTitan, component

kernel: syscall filter: move to capsules
  capsules/system/src/lib.rs
  capsules/system/src/syscall_filter/mod.rs
  capsules/system/src/syscall_filter/tbf_header_filter.rs
  kernel/src/platform/mod.rs
  kernel/src/platform/platform.rs
Labels: kernel

board panic wip
  boards/hail/src/io.rs
  boards/hail/src/main.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/lib.rs
  kernel/src/debug.rs
Labels: kernel

kernel: debug: update panic resources
  kernel/src/debug.rs
Labels: kernel

fix boards
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/lib.rs
Labels: none

More ergonomic use of RTT_BUFFER in io.rs
  boards/nordic/nrf52840dk/src/io.rs
Labels: none

nrf: bind stv variables
  boards/nordic/nrf52840dk/src/lib.rs
Labels: none

boards: arty_e12: use PANIC_RESOURCES
  boards/arty_e21/src/io.rs
  boards/arty_e21/src/main.rs
Labels: none

boards: clue_nrf52840: update to STV
  boards/clue_nrf52840/src/io.rs
  boards/clue_nrf52840/src/main.rs
Labels: none

boards: configuration: nrf52840dk: rm static mut
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/main.rs
  boards/nordic/nrf52840dk/src/io.rs
Labels: none

boards: makepython: update panic to use STV
  boards/makepython-nrf52840/src/io.rs
  boards/makepython-nrf52840/src/main.rs
Labels: none

boards/qemu_rv32_virt: update to PanicResources / STV
  boards/nordic/nrf52840dk/src/io.rs
  boards/qemu_rv32_virt/src/io.rs
  boards/qemu_rv32_virt/src/lib.rs
Labels: none

revert hail
  boards/hail/src/io.rs
  boards/hail/src/main.rs
Labels: none

esp32-c3-devkitM-1
  boards/esp32-c3-devkitM-1/src/io.rs
Labels: none

boards: nano33ble 1 and 2: update to STV
  boards/nano33ble/src/io.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/io.rs
  boards/nano33ble_rev2/src/main.rs
Labels: none

boards: wm1110dev: convert to STV
  boards/wm1110dev/src/io.rs
  boards/wm1110dev/src/main.rs
Labels: none

kernel: scheduler functions not unsafe
  kernel/src/kernel.rs
  kernel/src/scheduler.rs
  kernel/src/scheduler/priority.rs
Labels: kernel

kernel: move schedulers to capsules
  capsules/system/src/lib.rs
  capsules/system/src/scheduler/cooperative.rs
  capsules/system/src/scheduler/mlfq.rs
  capsules/system/src/scheduler/mod.rs
  capsules/system/src/scheduler/priority.rs
  capsules/system/src/scheduler/round_robin.rs
  kernel/src/scheduler.rs
Labels: kernel

kernel: move write to binary to capsules
  capsules/system/src/lib.rs
  capsules/system/src/process_printer.rs
  capsules/system/src/write_to_binary.rs
  kernel/src/utilities/binary_write.rs
Labels: kernel

board/opentitan: update syscall filter import path
  boards/opentitan/earlgrey-cw310/src/main.rs
Labels: WG-OpenTitan

chips: esp32: timg: fix now()
  chips/esp32/src/timg.rs
Labels: none

enforcing alignment for allocate_app_memory_region
  kernel/src/platform/mpu.rs
Labels: kernel

cast region_start as *const u8 and import utilities crate
  kernel/src/platform/mpu.rs
Labels: kernel

added alignment shift to size fit check and comment change
  kernel/src/platform/mpu.rs
Labels: kernel

riscv/esp32: fix vectored interrupts
  arch/riscv/src/lib.rs
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: risc-v

boards: esp32: remove fixed port
  boards/esp32-c3-devkitM-1/Makefile
Labels: none

esp32-c3: timg: wait for latched value
  chips/esp32/src/timg.rs
Labels: none

boards: esp32-c3: update make
  boards/esp32-c3-devkitM-1/Makefile
  boards/esp32-c3-devkitM-1/README.md
Labels: none

arch/riscv/src/lib.rs: document _start_trap
  arch/riscv/src/lib.rs
Labels: risc-v

capsules: add xk68xx capsule
  capsules/extra/src/lib.rs
  capsules/extra/src/sk68xx.rs
Labels: none

components: add sk68xx component
  boards/components/src/lib.rs
  boards/components/src/sk68xx.rs
Labels: component

boards: esp32-c3: reorder main.rs and label sections
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

boards: esp32-c3: add LEDs
  boards/esp32-c3-devkitM-1/src/main.rs
Labels: none

kernel/platform/mpu: make `MPU` an unsafe trait
  arch/cortex-m/src/mpu.rs
  arch/cortex-m33/src/mpu_v8m.rs
  arch/riscv/src/pmp.rs
  arch/x86/src/mpu.rs
  kernel/src/kernel.rs
  kernel/src/platform/mpu.rs
  kernel/src/process_standard.rs
Labels: risc-v, kernel

kernel/platform/mpu: don't implement MPU for `()`, add `NopMPU` type
  kernel/src/platform/mpu.rs
Labels: kernel

kernel/platform/mpu: remove `NopMPU` dummy MPU implementation
  kernel/src/platform/mpu.rs
Labels: kernel

capsules: sk68xx: fix lifetime clippy warning
  capsules/extra/src/sk68xx.rs
Labels: none
