Repository tock/tock, changes with the labels that .github/labeler.yml gives for each.
All labels: stm32, nrf, sam4l, HIL, risc-v, tock-libraries, WG-OpenTitan, WG-Network, WG-Crypto, kernel, component

.github/labeler.yml:

# Licensed under the Apache License, Version 2.0 or the MIT License.
# SPDX-License-Identifier: Apache-2.0 OR MIT
# Copyright Tock Contributors 2023.

# This is a configuration file for the labeler github action.
# The labeler action runs uses this configuration to automatically
# label each PR submitted to the Tock repository, by applying labels
# that match the corresponding glob paths. More details on the rules
# that apply to this configuration file can be found in the documentation
# at https://github.com/actions/labeler

stm32:
  - chips/stm*/**/*

nrf:
  - chips/nrf5*/**/*

sam4l:
  - chips/sam4l/**/*

HIL:
  - kernel/src/hil/*

risc-v:
  - arch/rv32i/**/*
  - arch/riscv/**/*

tock-libraries:
  - libraries/**/*

WG-OpenTitan:
  - boards/opentitan/**/*
  - chips/earlgrey/**/*
  - chips/lowrisc/**/*
  - doc/wg/opentitan/**/*

WG-Network:
  - capsules/extra/src/ble_advertising_driver.rs
  - capsules/extra/src/can.rs
  - capsules/extra/src/ethernet_tap.rs
  - capsules/extra/src/ieee802154/**/*
  - capsules/extra/src/net/**/*
  - capsules/extra/src/rf233.rs
  - capsules/extra/src/rf233_const.rs
  - chips/apollo3/src/ble.rs
  - chips/litex/src/liteeth.rs
  - chips/nrf52/src/ble_radio.rs
  - chips/nrf52840/src/ieee802154_radio.rs
  - chips/stm32f429zi/src/can_registers.rs
  - chips/stm32f4xx/src/can.rs
  - chips/virtio/src/devices/virtio_net.rs
  - doc/wg/network/**/*
  - kernel/src/hil/ble_advertising.rs
  - kernel/src/hil/can.rs
  - kernel/src/hil/ethernet.rs
  - kernel/src/hil/radio.rs

WG-Crypto:
  - doc/wg/cryptography/**/*
  - kernel/src/hil/symmetric_encryption.rs
  - kernel/src/hil/public_key_crypto/**/*
  - kernel/src/hil/digest.rs
  - kernel/src/hil/crc.rs
  - kernel/src/hil/rng.rs
  - capsules/extra/src/symmetric_encryption/**/*
  - capsules/extra/src/public_key_crypto/**/*
  - capsules/extra/src/hmac.rs
  - capsules/extra/src/hmac_sha256.rs
  - capsules/extra/src/sha.rs
  - capsules/extra/src/sha256.rs
  - capsules/aes_gcm/**/*
  - capsules/ecdsa_sw/**/*

# add kernel label unless already covered by hil label
kernel:
  - any: ['kernel/**/*', '!kernel/src/hil/*']

# add documentation label only if all changes are in doc/
documentation:
  - all: ['doc/**/*']

component:
  - boards/components/**/*

boards: earlgrey-cw310: panic resources
  boards/opentitan/earlgrey-cw310/src/io.rs
  boards/opentitan/earlgrey-cw310/src/main.rs
  boards/opentitan/earlgrey-cw310/src/tests/mod.rs
Labels: WG-OpenTitan

boards: redboard_redv: panic resources
  boards/redboard_redv/src/io.rs
  boards/redboard_redv/src/main.rs
Labels: none

boards: weact_f401ccu6: panic resources
  boards/weact_f401ccu6/src/io.rs
  boards/weact_f401ccu6/src/main.rs
Labels: none

boards: stm32: panic resources
  boards/stm32f3discovery/src/io.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/io.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/io.rs
  boards/stm32f429idiscovery/src/main.rs
Labels: none

boards: esp32-c3-devkitM-1: panic resources
  boards/esp32-c3-devkitM-1/src/io.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/esp32-c3-devkitM-1/src/tests/mod.rs
Labels: none

boards: particle_boron: panic resources
  boards/particle_boron/src/io.rs
  boards/particle_boron/src/main.rs
Labels: none

boards: nanorp2040: panic resources
  boards/nano_rp2040_connect/src/io.rs
  boards/nano_rp2040_connect/src/main.rs
Labels: none

boards: imxrt1050-evkb: panic resources
  boards/imxrt1050-evkb/src/io.rs
  boards/imxrt1050-evkb/src/main.rs
Labels: none

boards: nrf52840_dongle: panic resources
  boards/nordic/nrf52840_dongle/src/io.rs
  boards/nordic/nrf52840_dongle/src/main.rs
Labels: none

boards: tut: dyn apps: panic resources
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/io.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/main.rs
Labels: none

boards: pico_explorer_base: panic resources
  boards/pico_explorer_base/src/io.rs
  boards/pico_explorer_base/src/main.rs
Labels: none

boards: nucleo_f446re: panic resources
  boards/nucleo_f446re/src/io.rs
  boards/nucleo_f446re/src/main.rs
Labels: none

boards: teensy: panic resources
  boards/teensy40/src/io.rs
  boards/teensy40/src/main.rs
Labels: none

boards: qemu_i486_q35: panic resources
  boards/qemu_i486_q35/src/io.rs
  boards/qemu_i486_q35/src/main.rs
Labels: none

boards: arty_e21: panic resources
  boards/arty_e21/src/io.rs
  boards/arty_e21/src/main.rs
Labels: none

boards: clue_nrf52840: panic resources
  boards/clue_nrf52840/src/io.rs
  boards/clue_nrf52840/src/main.rs
Labels: none

boards: sma_q3: panic resources
  boards/sma_q3/src/io.rs
  boards/sma_q3/src/main.rs
Labels: none

boards: nrf52840dk: panic resources
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/main.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/lib.rs
Labels: none

boards: hifive1: panic resources
  boards/hifive1/src/io.rs
  boards/hifive1/src/main.rs
Labels: none

boards: msp_exp432p401r: panic resources
  boards/msp_exp432p401r/src/io.rs
  boards/msp_exp432p401r/src/main.rs
Labels: none

boards: apollo3: panic resources
  boards/apollo3/lora_things_plus/src/io.rs
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/lora_things_plus/src/tests/mod.rs
  boards/apollo3/redboard_artemis_atp/src/io.rs
  boards/apollo3/redboard_artemis_atp/src/main.rs
  boards/apollo3/redboard_artemis_atp/src/tests/mod.rs
  boards/apollo3/redboard_artemis_nano/src/io.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/tests/mod.rs
Labels: none

boards: raspberry_pi_pico_2: panic resources
  boards/raspberry_pi_pico_2/src/io.rs
  boards/raspberry_pi_pico_2/src/main.rs
Labels: none

boards: imix: panic resources
  boards/imix/src/io.rs
  boards/imix/src/main.rs
Labels: none

boards: nrf52dk: panic resources
  boards/nordic/nrf52dk/src/io.rs
  boards/nordic/nrf52dk/src/main.rs
Labels: none

boards: config: microbit_v2: panic resources
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/io.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/main.rs
Labels: none

boards: nano33ble_rev2: panic resources
  boards/nano33ble_rev2/src/io.rs
  boards/nano33ble_rev2/src/main.rs
Labels: none

boards: litex/arty: panic resources
  boards/litex/arty/src/io.rs
  boards/litex/arty/src/main.rs
Labels: none

boards: litex/sim: panic resources
  boards/litex/sim/src/io.rs
  boards/litex/sim/src/main.rs
Labels: none

kernel/debug: remove `panic_old` and `panic_print_old`
  kernel/src/debug.rs
Labels: kernel

Update OpenOCD clone command in README because branch rp2040 does not exist anymore
  boards/raspberry_pi_pico/README.md
Labels: none

capsules: add support for cyw4343x and wifi
  Cargo.lock
  Cargo.toml
  boards/components/src/lib.rs
  boards/components/src/wifi.rs
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/README.md
  boards/raspberry_pi_pico/layout.ld
  boards/raspberry_pi_pico/src/main.rs
  capsules/core/src/driver.rs
  capsules/cyw4343/Cargo.toml
  capsules/cyw4343/README.md
  capsules/cyw4343/src/bus.rs
  capsules/cyw4343/src/bus/common.rs
  capsules/cyw4343/src/bus/spi.rs
  capsules/cyw4343/src/component.rs
  capsules/cyw4343/src/driver.rs
  capsules/cyw4343/src/lib.rs
  capsules/cyw4343/src/sdpcm.rs
  capsules/cyw4343/src/utils.rs
  capsules/extra/README.md
  capsules/extra/src/lib.rs
  capsules/extra/src/wifi/device.rs
  capsules/extra/src/wifi/driver.rs
  capsules/extra/src/wifi/mod.rs
  chips/rp2040/src/chip.rs
  chips/rp2040/src/dma.rs
  chips/rp2040/src/gpio.rs
  chips/rp2040/src/lib.rs
  chips/rp2040/src/pio.rs
  chips/rp2040/src/pio_gspi.rs
Labels: component

capsules/cyw4343: move capsule to module in capsules/extra
  Cargo.lock
  Cargo.toml
  boards/components/src/cyw4343.rs
  boards/components/src/lib.rs
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/src/main.rs
  capsules/cyw4343/Cargo.toml
  capsules/cyw4343/README.md
  capsules/cyw4343/src/lib.rs
  capsules/extra/src/cyw4343/bus.rs
  capsules/extra/src/cyw4343/bus/common.rs
  capsules/extra/src/cyw4343/bus/spi.rs
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/cyw4343/mod.rs
  capsules/extra/src/cyw4343/sdpcm.rs
  capsules/extra/src/cyw4343/utils.rs
  capsules/extra/src/lib.rs
Labels: component

chips/rp2040: added pio_gspi component
  Cargo.lock
  boards/components/Cargo.toml
  boards/components/src/lib.rs
  boards/components/src/pio_gspi.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/rp2040/src/pio_gspi.rs
Labels: component

boards/pico: rename cyw43 fw dependency
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/src/main.rs
Labels: none

capsules/cyw4343: added cyw4343 in readme
  capsules/extra/README.md
Labels: none

boards: split Pico in library/binary crates, add support for Pico W
  Cargo.lock
  Cargo.toml
  boards/README.md
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/src/lib.rs
  boards/raspberry_pi_pico_w/.cargo/config.toml
  boards/raspberry_pi_pico_w/Cargo.toml
  boards/raspberry_pi_pico_w/Makefile
  boards/raspberry_pi_pico_w/README.md
  boards/raspberry_pi_pico_w/layout.ld
  boards/raspberry_pi_pico_w/src/io.rs
  boards/raspberry_pi_pico_w/src/main.rs
Labels: none

capsules/wifi: updated credential representation
  capsules/extra/src/cyw4343/driver.rs
  capsules/extra/src/cyw4343/sdpcm.rs
  capsules/extra/src/wifi/device.rs
  capsules/extra/src/wifi/driver.rs
  capsules/extra/src/wifi/mod.rs
Labels: none

board/pico_w: moved pio_gspi component to board
  Cargo.lock
  boards/components/Cargo.toml
  boards/components/src/lib.rs
  boards/raspberry_pi_pico_w/src/main.rs
  boards/raspberry_pi_pico_w/src/pio_gspi_component.rs
Labels: component

boards/pico: fix README and layout; renamed cyw4343 variables
  boards/raspberry_pi_pico/README.md
  boards/raspberry_pi_pico/layout.ld
  boards/raspberry_pi_pico_w/README.md
  boards/raspberry_pi_pico_w/layout.ld
  boards/raspberry_pi_pico_w/src/main.rs
Labels: none

capsules/cyw43: updated documentation and moved module
  capsules/extra/src/cyw4343/README.md
  capsules/extra/src/cyw4343/bus/mod.rs
  capsules/extra/src/cyw4343/mod.rs
  capsules/extra/src/cyw4343/sdpcm.rs
Labels: none
