Repository tock/tock, pull requests merged in 2018-06, with the labels that each got.

#952 Use elf2tab from crates.io
  userland/Configuration.mk
  userland/tools/elf2tab/.gitignore
  userland/tools/elf2tab/Cargo.lock
  userland/tools/elf2tab/Cargo.toml
  userland/tools/elf2tab/README.md
  userland/tools/elf2tab/src/header.rs
  userland/tools/elf2tab/src/main.rs
  userland/tools/elf2tab/src/util.rs
Labels: P-Significant

#964 userland: explicit arch for cortex-m0
  userland/AppMakefile.mk
  userland/Configuration.mk
  userland/TockLibrary.mk
Labels: P-Upkeep, userland

#942 nrf52: implement flash hil for nrf52 nvmc
  boards/nordic/nrf52dk_base/src/lib.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/deferred_call_tasks.rs
  chips/nrf52/src/lib.rs
  chips/nrf52/src/nvmc.rs
Labels: P-Upkeep, kernel, nrf

#958 Code Review: remove inactive core members
  doc/CodeReview.md
Labels: P-Significant, documentation

#974 sam4l: spi: do not enable without disable
  chips/sam4l/src/spi.rs
Labels: P-Upkeep, bug, sam4l

#955 Kernel Crate: reevaluate what is `pub`
  arch/cortex-m0/Cargo.lock
  arch/cortex-m0/src/nvic.rs
  arch/cortex-m3/src/nvic.rs
  arch/cortex-m3/src/systick.rs
  arch/cortex-m4/src/nvic.rs
  arch/cortex-m4/src/systick.rs
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
  capsules/src/ble_advertising_driver.rs
  chips/sam4l/src/aes.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/pm.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usbc/mod.rs
  chips/sam4l/src/wdt.rs
  doc/courses/sensys/exercises/board/src/main.rs
  doc/courses/sensys/exercises/capsule/solutions/ambient_light_buffer_main.rs
  kernel/src/common/mod.rs
  kernel/src/driver.rs
  kernel/src/ipc.rs
  kernel/src/lib.rs
  kernel/src/mem.rs
  kernel/src/platform/mod.rs
  kernel/src/process.rs
  kernel/src/sched.rs
  tools/svd2regs.py
Labels: P-Significant, last-call

#936 UART HIL Changes
  capsules/src/nrf51822_serialization.rs
  chips/sam4l/src/usart.rs
  kernel/src/hil/uart.rs
Labels: P-Significant, kernel

#972 Fix to SPI DMA interrupt miss issue; adds fractional division for UART baud rate
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
Labels: P-Upkeep

#976 kernel: hide constructors
  kernel/src/callback.rs
  kernel/src/grant.rs
  kernel/src/mem.rs
Labels: P-Upkeep

#1000 nrf52 `Remove duplicates in Cargo.lock`
  chips/nrf52/Cargo.lock
Labels: P-Upkeep

#977 kernel: move main to sched.rs
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52dk_base/Cargo.lock
  boards/nordic/nrf52dk_base/src/lib.rs
  doc/courses/sensys/exercises/board/src/main.rs
  kernel/src/lib.rs
  kernel/src/sched.rs
Labels: P-Upkeep

#999 kernel `fix some nits`
  kernel/src/debug.rs
  kernel/src/process.rs
Labels: P-Upkeep

#990 Nrf52 staticref
  chips/nrf52/src/clock.rs
  chips/nrf52/src/ficr.rs
  chips/nrf52/src/nvmc.rs
  chips/nrf52/src/ppi.rs
  chips/nrf52/src/radio.rs
  chips/nrf52/src/uart.rs
  chips/nrf52/src/uicr.rs
  chips/nrf5x/src/aes.rs
  chips/nrf5x/src/gpio.rs
  chips/nrf5x/src/rtc.rs
  chips/nrf5x/src/temperature.rs
  chips/nrf5x/src/trng.rs
Labels: P-Upkeep, nrf

#989 Sam4l staticref
  chips/sam4l/src/adc.rs
  chips/sam4l/src/aes.rs
  chips/sam4l/src/ast.rs
  chips/sam4l/src/bpm.rs
  chips/sam4l/src/bscif.rs
  chips/sam4l/src/crccu.rs
  chips/sam4l/src/dac.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/flashcalw.rs
  chips/sam4l/src/gpio.rs
  chips/sam4l/src/scif.rs
  chips/sam4l/src/trng.rs
  chips/sam4l/src/usart.rs
Labels: P-Upkeep

#991 kernel: ring_buffer: remove volatile reads
  kernel/src/common/ring_buffer.rs
Labels: P-Upkeep

#1005 Cortex-m3 crate didn't build
  arch/cortex-m3/src/lib.rs
Labels: P-Upkeep

#1023 docs: document the usage of an RTT-backed console.
  capsules/src/segger_rtt.rs
Labels: P-Upkeep

#1028 Capsules quick fixes
  capsules/README.md
  capsules/src/adc.rs
  capsules/src/aes_ccm.rs
  capsules/src/ambient_light.rs
  capsules/src/humidity.rs
  capsules/src/lib.rs
  capsules/src/nonvolatile_storage_driver.rs
  capsules/src/tsl2561.rs
Labels: P-Upkeep

#1029 kernel: remove asm
  boards/ek-tm4c1294xl/src/io.rs
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/src/io.rs
  boards/imix/src/io.rs
  boards/launchxl/src/io.rs
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/src/io.rs
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/io.rs
  boards/nordic/nrf52dk/src/main.rs
  doc/courses/sensys/exercises/board/src/io.rs
  doc/courses/sensys/exercises/board/src/main.rs
  kernel/Cargo.lock
  kernel/src/debug.rs
  kernel/src/lib.rs
Labels: P-Upkeep

#1006 A directory for crates
  doc/Overview.md
  doc/README.md
  kernel/Cargo.toml
  libraries/README.md
  libraries/tock-register-interface/Cargo.lock
  libraries/tock-register-interface/Cargo.toml
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/lib.rs
  libraries/tock-register-interface/src/macros.rs
  libraries/tock-register-interface/src/regs.rs
Labels: P-Upkeep, last-call

#993 Use LLVM LLD linker
  boards/Makefile.common
  boards/ek-tm4c1294xl/chip_layout.ld
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/chip_layout.ld
  boards/hail/src/main.rs
  boards/imix/chip_layout.ld
  boards/imix/src/main.rs
  boards/kernel_layout.ld
  boards/launchxl/chip_layout.ld
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/chip_layout.ld
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52840dk/layout.ld
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/chip_layout.ld
  boards/nordic/nrf52dk/src/main.rs
  doc/courses/sensys/exercises/board/layout.ld
  doc/courses/sensys/exercises/board/src/main.rs
Labels: P-Significant

#1019 regs/macro.rs: add optional conversion from value into bit field enum member
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/macros.rs
  libraries/tock-register-interface/src/regs.rs
Labels: P-Upkeep

#1016 nrf51: use staticref
  chips/nrf51/Cargo.lock
  chips/nrf51/src/clock.rs
  chips/nrf51/src/i2c.rs
  chips/nrf51/src/radio.rs
  chips/nrf51/src/uart.rs
Labels: P-Upkeep

#1017 ek: convert to staticref
  chips/tm4c129x/Cargo.lock
  chips/tm4c129x/src/gpio.rs
  chips/tm4c129x/src/gpt.rs
  chips/tm4c129x/src/sysctl.rs
  chips/tm4c129x/src/uart.rs
Labels: P-Upkeep

#1018 cc26xx: use staticref
  chips/cc26xx/Cargo.lock
  chips/cc26xx/src/aon.rs
  chips/cc26xx/src/gpio.rs
  chips/cc26xx/src/ioc.rs
  chips/cc26xx/src/prcm.rs
  chips/cc26xx/src/rtc.rs
  chips/cc26xx/src/trng.rs
  chips/cc26xx/src/uart.rs
Labels: P-Upkeep

#1011 arch: scb register map fix
  arch/cortex-m/src/scb.rs
Labels: P-Upkeep, bug

#1009 Move userland docs to libtock-c
  README.md
  doc/Compilation.md
  doc/Userland.md
  doc/tutorials/01_running_blink.md
  doc/tutorials/02_button_print.md
  doc/tutorials/03_ble_scan.md
  doc/tutorials/04_sensors_and_drivers.md
  doc/tutorials/05_ipc.md
Labels: P-Upkeep

#1036 kernel: allow multiple LEDs for panic blinks
  boards/ek-tm4c1294xl/src/io.rs
  boards/hail/src/io.rs
  boards/imix/src/io.rs
  boards/launchxl/src/io.rs
  boards/nordic/nrf51dk/src/io.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52dk/src/io.rs
  doc/courses/sensys/exercises/board/src/io.rs
  kernel/src/debug.rs
Labels: P-Upkeep, enhancement, kernel

#1037 launchxl: update readme with tockloader support
  boards/launchxl/README.md
Labels: P-Upkeep

#1038 tools: remove all uses of `sed`
  doc/Getting_Started.md
  doc/courses/rustconf/README.md
  tools/build-all-docs.sh
Labels: P-Upkeep

#1025 adc: remove `initialize()` from HIL
  capsules/src/adc.rs
  chips/sam4l/src/adc.rs
  kernel/src/hil/adc.rs
Labels: P-Significant
