Repository tock/tock, pull requests merged in 2018-03, with the labels that each got.

#758 This patch is to deal with issue #617 Radio Race Condition.
  capsules/src/rf233.rs
  userland/libtock/ieee802154.c
Labels: P-Upkeep

#762 debug: flush the buffer if needed before panic'ing
  boards/hail/src/io.rs
  boards/imix/src/io.rs
  boards/nrf51dk/src/io.rs
  boards/nrf52dk/src/io.rs
  kernel/src/debug.rs
Labels: P-Upkeep, enhancement, kernel

#757 Update MAC layer to default to IEEE 802.15.4-2006 instead of IEEE 802.15.4-2015
  capsules/src/ieee802154/framer.rs
  capsules/src/ieee802154/xmac.rs
Labels: P-Upkeep

#770 Require docs for hail, imix crates
  boards/hail/src/io.rs
  boards/hail/src/main.rs
  boards/hail/src/test_take_map_cell.rs
  boards/imix/src/i2c_dummy.rs
  boards/imix/src/io.rs
  boards/imix/src/main.rs
Labels: P-Upkeep, documentation

#767 debug: move panic logic into kernel
  boards/hail/src/io.rs
  boards/imix/src/io.rs
  boards/nrf51dk/src/io.rs
  boards/nrf52dk/src/io.rs
  kernel/src/debug.rs
Labels: P-Upkeep, kernel, refactor

#771 [nrf51] regard the UART as fully-debugged now
  boards/nrf51dk/src/main.rs
Labels: P-Upkeep, documentation

#768 [nrf5x lint] Enable rust lint for docs
  boards/nrf51dk/src/io.rs
  boards/nrf51dk/src/main.rs
  boards/nrf52dk/src/io.rs
  boards/nrf52dk/src/main.rs
Labels: P-Upkeep, documentation

#772 [common_regs] #[repr(packed)] is unsafe since a while go
  kernel/src/common/regs/README.md
Labels: P-Upkeep, documentation

#773 Passive voice was removed from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: P-Upkeep

#775 cleanup: remove old nrf51 codegen script
  tools/nRF51_codegen.py
Labels: P-Upkeep

#774 doc: courses: make boards compile again
  doc/courses/sensys/exercises/board/Cargo.lock
  doc/courses/sensys/exercises/board/src/main.rs
  doc/courses/sosp/exercises/board/Cargo.lock
  doc/courses/sosp/exercises/board/src/main.rs
Labels: P-Upkeep, documentation

#776 hail: descriptive/consistent names in panic
  boards/hail/src/io.rs
Labels: P-Upkeep, refactor

#747 Support for launchxl-cc26x2
  .gitignore
  boards/Makefile.common
  boards/kernel_layout.ld
  boards/launchxl/Cargo.lock
  boards/launchxl/Cargo.toml
  boards/launchxl/Makefile
  boards/launchxl/Makefile-app
  boards/launchxl/README.md
  boards/launchxl/Xargo.toml
  boards/launchxl/build.rs
  boards/launchxl/chip_layout.ld
  boards/launchxl/jtag/cc2652r1f.ccxml
  boards/launchxl/jtag/gdbinit
  boards/launchxl/jtag/openocd.cfg
  boards/launchxl/layout.ld
  boards/launchxl/src/io.rs
  boards/launchxl/src/main.rs
  chips/cc26x2/Cargo.toml
  chips/cc26x2/src/chip.rs
  chips/cc26x2/src/crt1.rs
  chips/cc26x2/src/lib.rs
  chips/cc26xx/Cargo.toml
  chips/cc26xx/src/aon.rs
  chips/cc26xx/src/ccfg.rs
  chips/cc26xx/src/gpio.rs
  chips/cc26xx/src/ioc.rs
  chips/cc26xx/src/lib.rs
  chips/cc26xx/src/peripheral_interrupts.rs
  chips/cc26xx/src/prcm.rs
Labels: P-Significant

#779 nrf: doc: fixups for rustdoc warnings
  chips/nrf52/src/spi.rs
  chips/nrf5x/src/ble_advertising_hil.rs
Labels: P-Upkeep, documentation

#782 sam4l: update AST (timers) to new regs interface
  chips/sam4l/src/ast.rs
Labels: P-Upkeep, sam4l

#785 sam4l: trng: update to new reg interface
  chips/sam4l/src/trng.rs
Labels: P-Upkeep, sam4l

#793 doc: tockloader moved
  boards/hail/README.md
  doc/Compilation.md
  doc/Getting_Started.md
  doc/courses/rustconf/README.md
  doc/courses/rustconf/environment.md
  doc/courses/sensys/README.md
  doc/courses/sensys/environment.md
  doc/courses/sosp/README.md
  doc/courses/sosp/environment.md
Labels: P-Upkeep, documentation

#794 Doc updates: Various details and style
  doc/Startup.md
  doc/TockBinaryFormat.md
  doc/tutorials/01_running_blink.md
  doc/tutorials/02_button_print.md
  doc/tutorials/03_ble_scan.md
Labels: P-Upkeep, documentation

#780 RTC support for launchxl
  boards/launchxl/src/main.rs
  chips/cc26x2/src/chip.rs
  chips/cc26xx/src/lib.rs
  chips/cc26xx/src/rtc.rs
Labels: P-Upkeep

#788 sam4l: bscif: update to new regs
  chips/sam4l/src/bscif.rs
Labels: P-Upkeep, sam4l

#789 SAM4L: update flash peripheral to new register interface
  chips/sam4l/src/flashcalw.rs
  kernel/src/common/regs/mod.rs
  userland/examples/tests/nonvolatile_storage/README.md
Labels: P-Upkeep, sam4l

#790 sam4l: scif: update to new regs interface
  chips/sam4l/src/scif.rs
  kernel/src/common/regs/mod.rs
Labels: P-Upkeep, sam4l

#745 Add "deactivate callback" command.
  capsules/src/adc.rs
  capsules/src/alarm.rs
  capsules/src/ambient_light.rs
  capsules/src/app_flash_driver.rs
  capsules/src/button.rs
  capsules/src/console.rs
  capsules/src/crc.rs
  capsules/src/gpio.rs
  capsules/src/gpio_async.rs
  capsules/src/humidity.rs
  capsules/src/i2c_master_slave_driver.rs
  capsules/src/ieee802154/driver.rs
  capsules/src/lps25hb.rs
  capsules/src/ltc294x.rs
  capsules/src/max17205.rs
  capsules/src/ninedof.rs
  capsules/src/nonvolatile_storage_driver.rs
  capsules/src/nrf51822_serialization.rs
  capsules/src/pca9544a.rs
  capsules/src/rng.rs
  capsules/src/sdcard.rs
  capsules/src/spi.rs
  capsules/src/temperature.rs
  capsules/src/tmp006.rs
  capsules/src/tsl2561.rs
  capsules/src/usb_user.rs
  chips/nrf5x/src/ble_advertising_driver.rs
  doc/Syscalls.md
  kernel/src/callback.rs
  kernel/src/debug.rs
  kernel/src/driver.rs
  kernel/src/ipc.rs
  kernel/src/sched.rs
  userland/libtock/tock.h
Labels: P-Significant

#799 make: fix bug in xargo 3.11
  boards/Makefile.common
Labels: bug

#795 doc: add super quick setup steps
  doc/Getting_Started.md
Labels: P-Upkeep, documentation

#787 sam4l: bpm: update to new regs
  chips/sam4l/src/bpm.rs
Labels: P-Upkeep, sam4l

#796 chips/cc26xx: Use new regs interface
  chips/cc26xx/src/gpio.rs
  chips/cc26xx/src/ioc.rs
  chips/cc26xx/src/prcm.rs
Labels: P-Upkeep, refactor

#804 docs: fix several links
  .github/CONTRIBUTING.md
  boards/hail/README.md
  doc/Compilation.md
  doc/Userland.md
  doc/courses/sensys/environment.md
  doc/courses/sensys/presentation/slides.md
  doc/courses/sosp/presentation/slides.md
  doc/syscalls/README.md
  userland/examples/tests/hail/README.md
  userland/examples/tests/imix/README.md
  userland/newlib/README.md
Labels: P-Upkeep, documentation

#781 [nrf5x] Clock register fix
  boards/nrf51dk/src/main.rs
  boards/nrf52dk/src/main.rs
  chips/nrf51/src/clock.rs
  chips/nrf51/src/lib.rs
  chips/nrf52/src/clock.rs
  chips/nrf52/src/lib.rs
  chips/nrf5x/src/clock.rs
  chips/nrf5x/src/lib.rs
Labels: P-Upkeep, enhancement, nrf, refactor

#805 [nrf51] remove unsed temperature.rs
  chips/nrf51/src/temperature.rs
Labels: P-Upkeep, nrf

#806 nrf51/cleanup
  chips/nrf51/src/lib.rs
  chips/nrf51/src/peripheral_registers.rs
  chips/nrf51/src/radio.rs
  chips/nrf51/src/uart.rs
Labels: P-Upkeep, nrf

#783 sam4l: dma: update to new regs interface
  chips/sam4l/src/dma.rs
Labels: P-Upkeep, sam4l

#808 kernel: regs: implement From
  kernel/src/common/regs/mod.rs
Labels: P-Upkeep

#792 sam4l: update to cargo.lock
  chips/sam4l/Cargo.lock
Labels: P-Upkeep, question, sam4l

#766 Sam4l usart new reg interface
  chips/sam4l/src/usart.rs
Labels: P-Upkeep

#807 sam4l: gpio: update to new regs interface
  chips/sam4l/src/gpio.rs
Labels: P-Upkeep, sam4l

#815 userland: remove old header files
  boards/imix/apps/.gitignore
  boards/imix/apps/sensors/Makefile
  boards/imix/apps/sensors/main.c
  userland/libtock/isl29035.h
  userland/libtock/si7021.h
Labels: P-Upkeep

#810 Refactor ble advertising to capsule & kernel hil
  boards/nrf51dk/src/main.rs
  boards/nrf52dk/src/main.rs
  capsules/README.md
  capsules/src/ble_advertising_driver.rs
  capsules/src/lib.rs
  chips/nrf51/src/radio.rs
  chips/nrf52/src/radio.rs
  chips/nrf5x/src/lib.rs
  kernel/src/hil/ble_advertising.rs
  kernel/src/hil/mod.rs
Labels: P-Upkeep

#802 launchxl: trng support
  boards/launchxl/src/main.rs
  chips/cc26xx/src/lib.rs
  chips/cc26xx/src/prcm.rs
  chips/cc26xx/src/trng.rs
Labels: P-Upkeep

#784 sam4l: wdt: update to new regs interface
  chips/sam4l/src/wdt.rs
  kernel/src/common/regs/macros.rs
Labels: P-Upkeep

#801 update to rustc nightly 2018-03-07
  .travis.yml
  .vscode/settings.json
  boards/Makefile.common
  capsules/src/aes_ccm.rs
  capsules/src/fm25cl.rs
  capsules/src/nonvolatile_to_pages.rs
  capsules/src/virtual_flash.rs
  capsules/src/virtual_spi.rs
  chips/sam4l/src/lib.rs
  doc/Getting_Started.md
  kernel/src/lib.rs
  tools/install_cargo_fmt.sh
  tools/netlify-build.sh
  tools/run_cargo_fmt.sh
  vagrant/Vagrantfile
Labels: P-Significant

#760 Automatic peripheral clock management
  boards/hail/src/io.rs
  boards/hail/src/main.rs
  boards/imix/src/i2c_dummy.rs
  boards/imix/src/io.rs
  boards/imix/src/main.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/pm.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
  kernel/src/common/mod.rs
  kernel/src/common/peripherals.rs
  kernel/src/common/static_ref.rs
  kernel/src/lib.rs
  kernel/src/platform/mod.rs
Labels: P-Significant, kernel

#823 Revert "sam4l: update usart to use RegManager"
  boards/hail/src/io.rs
  boards/imix/src/io.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/usart.rs
Labels: P-Upkeep, bug, sam4l

#824 cc26xx: return expected value for get_alarm in rtc
  chips/cc26xx/src/rtc.rs
Labels: P-Upkeep, refactor

#825 cc26xx: fix sw_reset check in trng
  chips/cc26xx/src/trng.rs
Labels: P-Upkeep, bug, refactor

#761 sam4l: Low power I2C
  capsules/src/i2c_master_slave_driver.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/pm.rs
  userland/examples/tests/i2c/i2c_master_slave_ping_pong/Makefile
  userland/examples/tests/i2c/i2c_master_slave_ping_pong/README.md
  userland/examples/tests/i2c/i2c_master_slave_ping_pong/main.c
  userland/libtock/i2c_master_slave.h
  userland/libtock/tock.c
  userland/libtock/tock.h
Labels: P-Upkeep, sam4l

#827 kernel: split register matches to any and all
  chips/nrf52/src/clock.rs
  chips/sam4l/src/adc.rs
  chips/sam4l/src/pm.rs
  chips/sam4l/src/scif.rs
  chips/sam4l/src/spi.rs
  kernel/src/common/regs/README.md
  kernel/src/common/regs/mod.rs
Labels: P-Upkeep, kernel

#828 sam4l: update usart to use RegManager (again)
  boards/hail/src/io.rs
  boards/imix/src/io.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/usart.rs
Labels: P-Upkeep, kernel, sam4l

#833 sam4l: convert pm to static ref
  chips/sam4l/src/adc.rs
  chips/sam4l/src/aes.rs
  chips/sam4l/src/ast.rs
  chips/sam4l/src/crccu.rs
  chips/sam4l/src/dac.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/flashcalw.rs
  chips/sam4l/src/pm.rs
  chips/sam4l/src/trng.rs
  chips/sam4l/src/usart.rs
  chips/sam4l/src/usbc/mod.rs
  chips/sam4l/src/wdt.rs
Labels: P-Upkeep, sam4l

#797 [nrf52] uart-registers + remove static buffer
  boards/nrf52dk/src/io.rs
  boards/nrf52dk/src/main.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/peripheral_registers.rs
  chips/nrf52/src/uart.rs
  chips/nrf5x/src/pinmux.rs
Labels: P-Upkeep, nrf, refactor

#813 Port NRF52 Radio to New Register Interface
  chips/nrf52/src/lib.rs
  chips/nrf52/src/peripheral_registers.rs
  chips/nrf52/src/radio.rs
Labels: P-Upkeep, kernel, nrf

#829 Allow direct use of FieldValue mask
  chips/sam4l/src/pm.rs
  kernel/src/common/regs/mod.rs
Labels: P-Upkeep, kernel

#836 nrf52: convert register matches to is_set
  chips/nrf52/src/radio.rs
  chips/nrf52/src/uart.rs
Labels: P-Upkeep, bug, nrf

#841 Fix typo in format_all.sh
  userland/examples/format_all.sh
Labels: P-Upkeep

#839 [nrf5x/aes] New register interface
  chips/nrf5x/src/aes.rs
  chips/nrf5x/src/lib.rs
  chips/nrf5x/src/peripheral_registers.rs
Labels: P-Upkeep, nrf, refactor

#843 Disable lps25hb interrupt after use.
  capsules/src/lps25hb.rs
Labels: P-Upkeep

#845 sam4l: fix usart sleep during panics
  chips/sam4l/src/usart.rs
Labels: bug, sam4l

#849 hail: add scripts for j-link+gdb debugging
  boards/hail/README.md
  boards/hail/jlink/gdb_session.sh
  boards/hail/jlink/hail.gdb
  boards/hail/jlink/jlink_gdbserver.sh
Labels: P-Upkeep, documentation, kernel

#848 sam4l: convert usart panic state to atomic
  chips/sam4l/src/usart.rs
Labels: P-Upkeep, sam4l

#822 Always set process RAM to minimum length
  kernel/src/process.rs
Labels: P-Significant, kernel

#853 userland: add check for correct usage of override
  userland/AppMakefile.mk
  userland/tools/check_override.sh
Labels: P-Upkeep, enhancement, userland

#840 [nrf5x/temperature] Migrate to the new register interface
  chips/nrf5x/src/peripheral_registers.rs
  chips/nrf5x/src/temperature.rs
Labels: P-Upkeep, nrf, refactor

#844 sam4l: Update Watchdog
  chips/sam4l/src/lib.rs
  chips/sam4l/src/wdt.rs
  kernel/src/common/math.rs
Labels: P-Upkeep, sam4l

#858 NRF52: Uicr new register interface
  boards/nrf52dk/src/main.rs
  chips/nrf52/src/peripheral_registers.rs
  chips/nrf52/src/uicr.rs
Labels: P-Upkeep, nrf, refactor
