Repository tock/tock, pull requests merged in 2018-10, with the labels that each got.

#1145 Update of RNG trait as discussed in #1069
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imix/src/rng_test.rs
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
  capsules/src/ieee802154/xmac.rs
  capsules/src/rng.rs
  capsules/src/test/mod.rs
  capsules/src/test/rng.rs
  chips/cc26x2/src/trng.rs
  chips/nrf52/src/crt1.rs
  chips/nrf5x/src/trng.rs
  chips/sam4l/src/acifc.rs
  chips/sam4l/src/trng.rs
  kernel/src/hil/entropy.rs
  kernel/src/hil/mod.rs
  kernel/src/hil/rng.rs
Labels: HIL, P-Significant

#1177 Remove entropy32 test from standard imix boot sequence.
  boards/imix/src/main.rs
Labels: P-Upkeep

#1186 Fix broken link to JTAG instructions
  boards/nordic/nrf52840dk/README.md
Labels: P-Upkeep, documentation

#1144 Don't allow grant region to extend to previously valid AppSlice memory
  kernel/src/grant.rs
  kernel/src/introspection.rs
  kernel/src/ipc.rs
  kernel/src/process.rs
  kernel/src/sched.rs
Labels: P-Significant, bug

#1197 doc: Add note about userland startup environment
  doc/Userland.md
Labels: P-Upkeep, documentation

#1191 kernel: make user-kernel boundary in Chip
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
  chips/cc26x2/src/chip.rs
  chips/nrf51/src/chip.rs
  chips/nrf52/src/chip.rs
  chips/sam4l/src/chip.rs
  chips/tm4c129x/src/chip.rs
  kernel/src/platform/mod.rs
  kernel/src/process.rs
Labels: release-blocker

#1194 Changelog Updates
  CHANGELOG.md
Labels: documentation, release-blocker

#1198 Updated to CHANGELOG for Rng/Entropy HIL rewrites
  CHANGELOG.md
Labels: release-blocker
