Repository tock/tock, pull requests merged in 2018-05, with the labels that each got.

#855 BLE/Construct AdvData payload in userland
  capsules/src/ble_advertising_driver.rs
  chips/nrf52/src/radio.rs
  userland/examples/ble_advertising/Makefile
  userland/examples/ble_advertising/main.c
  userland/examples/ble_passive_scanning/main.cpp
  userland/examples/tests/ble/ble_advertise/Makefile
  userland/examples/tests/ble/ble_advertise/README.md
  userland/examples/tests/ble/ble_advertise/main.c
  userland/examples/tests/ble/ble_advertising_dynamic/README.md
  userland/examples/tests/ble/ble_advertising_dynamic/main.c
  userland/examples/tests/ble/ble_gap_library/Makefile
  userland/examples/tests/ble/ble_gap_library/README.md
  userland/examples/tests/ble/ble_gap_library/main.c
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser1/Makefile
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser1/main.c
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser2/Makefile
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser2/main.c
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser3/Makefile
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser3/main.c
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser4/Makefile
  userland/examples/tests/ble/ble_nrf5x_concurrency/Advertiser4/main.c
  userland/examples/tests/ble/ble_nrf5x_concurrency/run.sh
  userland/examples/tests/ble/ble_test_faulty_states/README.md
  userland/examples/tests/ble/ble_test_faulty_states/main.c
  userland/examples/tests/ble/ble_test_tx_power/main.c
  userland/libtock/ble.c
  userland/libtock/ble.h
  userland/libtock/simple_ble.c
  userland/libtock/simple_ble.h
  userland/simple-ble/Makefile
  userland/simple-ble/README.md
  userland/simple-ble/build/cortex-m0/simple-ble.a
  userland/simple-ble/build/cortex-m3/simple-ble.a
  userland/simple-ble/build/cortex-m4/simple-ble.a
  userland/simple-ble/gap.c
  userland/simple-ble/include/gap.h
Labels: P-Significant

#914 sam4l: usart: move tx done callback
  chips/sam4l/Cargo.lock
  chips/sam4l/src/usart.rs
Labels: P-Upkeep, bug, kernel, sam4l

#903 6LoWPAN and Initial IP Stack
  boards/imix/src/icmp_lowpan_test.rs
  boards/imix/src/ipv6_lowpan_test.rs
  boards/imix/src/lowpan_frag_dummy.rs
  boards/imix/src/main.rs
  boards/imix/src/sixlowpan_dummy.rs
  boards/imix/src/udp_lowpan_test.rs
  capsules/Cargo.lock
  capsules/src/net/icmpv6/icmpv6.rs
  capsules/src/net/icmpv6/icmpv6_send.rs
  capsules/src/net/icmpv6/mod.rs
  capsules/src/net/ipv6/ip_utils.rs
  capsules/src/net/ipv6/ipv6.rs
  capsules/src/net/ipv6/ipv6_send.rs
  capsules/src/net/ipv6/mod.rs
  capsules/src/net/mod.rs
  capsules/src/net/sixlowpan/mod.rs
  capsules/src/net/sixlowpan/sixlowpan_compression.rs
  capsules/src/net/sixlowpan/sixlowpan_state.rs
  capsules/src/net/tcp.rs
  capsules/src/net/udp/mod.rs
  capsules/src/net/udp/udp.rs
  capsules/src/net/udp/udp_send.rs
  capsules/src/rf233.rs
  capsules/src/rf233_const.rs
Labels: P-Significant

#917 Expose NRF52 PPI registers for radio
  chips/nrf52/src/lib.rs
  chips/nrf52/src/ppi.rs
Labels: P-Upkeep

#919 rustdoc `nits`
  chips/nrf52/src/clock.rs
  chips/nrf52/src/ppi.rs
  chips/nrf52/src/uart.rs
Labels: P-Upkeep, documentation

#910 Improve systick precision
  arch/cortex-m3/src/systick.rs
  arch/cortex-m4/src/systick.rs
  kernel/src/platform/systick.rs
  kernel/src/sched.rs
Labels: P-Significant

#926 rf233: remove unneeded type qualifier
  capsules/src/rf233.rs
Labels: P-Upkeep, refactor

#928 boards: debug: build lst seperately
  boards/Makefile.common
  boards/ek-tm4c1294xl/Cargo.toml
  boards/hail/Cargo.toml
  boards/imix/Cargo.toml
  boards/launchxl/Cargo.toml
  boards/nrf51dk/Cargo.toml
  boards/nrf52dk/Cargo.toml
Labels: P-Upkeep

#929 sam4l: fix some mistakes with protected registers
  chips/sam4l/src/bpm.rs
  chips/sam4l/src/bscif.rs
  kernel/src/common/regs/README.md
  kernel/src/common/regs/mod.rs
Labels: bug, sam4l

#937 rustfmt.toml is redundant
  rustfmt.toml
Labels: P-Upkeep

#934 kernel: format process.rs
  kernel/src/lib.rs
  kernel/src/process.rs
Labels: P-Upkeep, kernel

#939 doc: fix formatting for some comments
  kernel/src/platform/mpu.rs
Labels: P-Upkeep, documentation

#931 kernel: make IPC optional
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/launchxl/src/main.rs
  boards/nrf51dk/src/main.rs
  boards/nrf52dk/src/main.rs
  doc/courses/sensys/exercises/board/src/main.rs
  kernel/src/lib.rs
  kernel/src/sched.rs
Labels: P-Upkeep, kernel

#913 WIP: nrf51: I2C (TWIM) support
  capsules/src/i2c_master_slave_driver.rs
  chips/nrf51/Cargo.lock
  chips/nrf51/src/chip.rs
  chips/nrf51/src/i2c.rs
  chips/nrf51/src/lib.rs
  chips/nrf52/src/i2c.rs
  chips/nrf5x/src/gpio.rs
  kernel/src/hil/i2c.rs
Labels: P-Upkeep

#950 static_init: remove lingering size arguments
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/nrf51dk/src/main.rs
  doc/courses/sensys/exercises/board/src/main.rs
  kernel/src/common/utils.rs
Labels: P-Upkeep, kernel

#948 kernel: check app state in schedule
  kernel/src/process.rs
Labels: kernel

#946 kernel: don't silently drop IPC tasks
  kernel/src/sched.rs
Labels: P-Upkeep, kernel

#953 sam4l: rename `xfer` to `transfer`
  boards/imix/src/spi_slave_dummy.rs
  chips/sam4l/src/adc.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
  doc/Mutable_References.md
Labels: P-Upkeep, sam4l

#959 Error::into() refactors
  capsules/src/console.rs
  capsules/src/crc.rs
Labels: P-Upkeep, refactor

#949 Add more Cell types
  capsules/src/nonvolatile_to_pages.rs
  doc/Mutable_References.md
  kernel/src/common/mod.rs
  kernel/src/common/num_cell.rs
  kernel/src/common/optional_cell.rs
Labels: P-Upkeep

#935 Move deferred call mechanism to kernel
  chips/sam4l/src/chip.rs
  chips/sam4l/src/deferred_call_tasks.rs
  chips/sam4l/src/flashcalw.rs
  chips/sam4l/src/helpers.rs
  chips/sam4l/src/lib.rs
  kernel/src/common/deferred_call.rs
  kernel/src/common/mod.rs
Labels: P-Significant, kernel, last-call

#941 Allow the kernel to restart processes
  kernel/src/common/queue.rs
  kernel/src/common/ring_buffer.rs
  kernel/src/process.rs
Labels: P-Significant

#961 kernel: various cleanups
  doc/Mutable_References.md
  kernel/src/common/math.rs
  kernel/src/common/regs/mod.rs
  kernel/src/common/static_ref.rs
  kernel/src/common/volatile_cell.rs
Labels: P-Upkeep

#965 nrf52: update i2c to new regs interface
  chips/nrf52/Cargo.lock
  chips/nrf52/src/i2c.rs
Labels: nrf
