Repository tock/tock, pull requests merged in 2018-07, with the labels that each got.

#1054 kernel: must export symbols used by other crates
  kernel/src/lib.rs
  kernel/src/process.rs
Labels: P-Upkeep, bug, kernel

#978 capsules: add mx25r6435f flash chip
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nordic/nrf52dk_base/Cargo.lock
  boards/nordic/nrf52dk_base/src/lib.rs
  capsules/README.md
  capsules/src/lib.rs
  capsules/src/mx25r6435f.rs
Labels: P-Upkeep

#1058 Optional cell sam4l
  chips/sam4l/src/adc.rs
  chips/sam4l/src/aes.rs
  chips/sam4l/src/ast.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/flashcalw.rs
  chips/sam4l/src/gpio.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/trng.rs
  chips/sam4l/src/usart.rs
  chips/sam4l/src/usbc/mod.rs
  libraries/tock-cells/src/optional_cell.rs
Labels: P-Upkeep, refactor, sam4l

#1071 Add a Nix-shell script
  doc/Getting_Started.md
  shell.nix
Labels: P-Upkeep

#1051 cortex-m4: move hardfault handler to arch
  arch/cortex-m4/Cargo.lock
  arch/cortex-m4/src/lib.rs
  chips/nrf52/Cargo.lock
  chips/nrf52/src/crt1.rs
  chips/sam4l/Cargo.lock
  chips/sam4l/src/lib.rs
  chips/tm4c129x/Cargo.lock
  chips/tm4c129x/src/lib.rs
Labels: P-Upkeep, refactor

#1064 Replace `NumCell` with `NumericCellExt` for `Cell`
  capsules/src/nonvolatile_to_pages.rs
  doc/Mutable_References.md
  kernel/src/common/mod.rs
  libraries/tock-cells/Cargo.lock
  libraries/tock-cells/src/lib.rs
  libraries/tock-cells/src/num_cell.rs
  libraries/tock-cells/src/numeric_cell_ext.rs
Labels: tock-libraries

#1078 fix dangling reference to NumCell
  kernel/src/sched.rs
Labels: P-Upkeep, bug

#1032 Specify units for ADC HIL
  CHANGELOG.md
  chips/sam4l/src/adc.rs
  kernel/src/hil/adc.rs
Labels: P-Significant, last-call

#1039 nrf52: add adc driver
  chips/nrf52/src/adc.rs
  chips/nrf52/src/lib.rs
Labels: P-Upkeep

#1077 Remove wildcard imports
  arch/cortex-m0/src/lib.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  boards/ek-tm4c1294xl/src/io.rs
  boards/hail/src/io.rs
  boards/imix/src/i2c_dummy.rs
  boards/imix/src/io.rs
  capsules/examples/traitobj_list.rs
  capsules/src/ieee802154/framer.rs
  capsules/src/ieee802154/mod.rs
  capsules/src/ieee802154/virtual_mac.rs
  capsules/src/ieee802154/xmac.rs
  capsules/src/net/ieee802154.rs
  capsules/src/rf233.rs
  capsules/src/rf233_const.rs
  capsules/src/usbc_client.rs
  chips/cc26x2/src/chip.rs
  chips/nrf51/src/chip.rs
  chips/nrf52/src/chip.rs
  chips/sam4l/src/chip.rs
  chips/sam4l/src/gpio.rs
  chips/sam4l/src/usbc/mod.rs
  chips/tm4c129x/src/gpio.rs
  doc/courses/rustconf/application.md
  kernel/src/common/mod.rs
  tools/run_cargo_fmt.sh
  tools/usb/bulk-echo/src/main.rs
  tools/usb/bulk-test/Cargo.lock
  tools/usb/bulk-test/src/main.rs
  tools/usb/control-test/Cargo.lock
  tools/usb/control-test/src/main.rs
Labels: P-Upkeep, refactor

#1065 Repair the 6LoWPAN IPv6 tx/rx kernel test
  boards/imix/src/ipv6_lowpan_test.rs
  boards/imix/src/main.rs
  capsules/src/net/ipv6/ip_utils.rs
  capsules/src/net/ipv6/ipv6.rs
  capsules/src/net/sixlowpan/sixlowpan_compression.rs
  capsules/src/net/udp/udp.rs
Labels: P-Upkeep

#1080 Replace Default implementation with derived Default in RNG capsule
  capsules/src/rng.rs
Labels: P-Upkeep

#1085 travis: disallow warnings in CI builds
  boards/Makefile.common
Labels: P-Upkeep

#1031 Use LLVM Tools
  .travis-install-gcc
  .travis.yml
  boards/Makefile.common
  boards/kernel_layout.ld
  doc/Compilation.md
  doc/Getting_Started.md
  tools/build-arm-binutils
  tools/build-arm-gcc
  tools/build-arm-gdb
  tools/netlify-build.sh
Labels: P-Significant, last-call

#1090 use rustfmt::skip tool attribute
  capsules/src/lib.rs
  capsules/src/test/aes.rs
  chips/sam4l/src/gpio.rs
  chips/sam4l/src/lib.rs
  chips/tm4c129x/src/gpio.rs
  chips/tm4c129x/src/lib.rs
Labels: P-Upkeep

#1091 kernel: use as_ptr() in appslice
  kernel/src/mem.rs
Labels: P-Upkeep

#1086 Add rule for running CI tests locally
  .travis-deploy-netlify
  .travis.yml
  Makefile
Labels: P-Upkeep

#1096 sam4l: fixup master from conflicting PRs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
Labels: P-Upkeep, bug, sam4l

#1053 nrf51: Update uart to new regs interface
  chips/nrf51/src/uart.rs
Labels: P-Upkeep, refactor

#1092 tock-regs: Add conditional 64bit support
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/regs.rs
Labels: P-Upkeep, enhancement, tock-libraries

#1099 [tock-cells] Fix unit tests embedded in rustdocs
  Makefile
  libraries/tock-cells/src/map_cell.rs
  libraries/tock-cells/src/numeric_cell_ext.rs
  libraries/tock-cells/src/take_cell.rs
Labels: P-Upkeep, tock-libraries

#1100 Fix bad use of optioncell introduced by #1057
  capsules/src/adc.rs
  capsules/src/gpio.rs
  capsules/src/gpio_async.rs
  capsules/src/lps25hb.rs
  capsules/src/ltc294x.rs
  capsules/src/max17205.rs
  capsules/src/pca9544a.rs
  capsules/src/tmp006.rs
  capsules/src/tsl2561.rs
Labels: P-Upkeep, bug

#1097 Assign proper gpio pins to nRF52-DK
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
Labels: P-Upkeep, bug, help wanted, nrf

#1062 Optional cell nrf52
  chips/nrf52/src/clock.rs
  chips/nrf52/src/i2c.rs
  chips/nrf52/src/nvmc.rs
  chips/nrf52/src/radio.rs
  chips/nrf52/src/spi.rs
  chips/nrf52/src/uart.rs
Labels: P-Upkeep, help wanted, nrf, refactor

#1089 Make most of `kernel` crate-visible only, rather than public.
  kernel/src/callback.rs
  kernel/src/common/deferred_call.rs
  kernel/src/grant.rs
  kernel/src/lib.rs
  kernel/src/mem.rs
  kernel/src/memop.rs
  kernel/src/platform/mod.rs
  kernel/src/process.rs
  kernel/src/sched.rs
  kernel/src/syscall.rs
  kernel/src/tbfheader.rs
Labels: P-Significant

#1102 Use OpenOCD for Launchxl build and sanitize
  Makefile
  boards/Makefile.common
  boards/launchxl/Cargo.toml
  boards/launchxl/Makefile
  boards/launchxl/README.md
  boards/launchxl/chip_layout.ld
  boards/launchxl/flash-ccfg.jlink
  boards/launchxl/flash-ccfg.openocd
  boards/launchxl/flash-kernel.jlink
  boards/launchxl/flash-kernel.openocd
  boards/launchxl/src/ccfg.rs
  chips/cc26xx/src/ccfg.rs
  chips/cc26xx/src/lib.rs
Labels: P-Upkeep

#1110 Small grammar fixes
  doc/Memory_Isolation.md
Labels: P-Upkeep, documentation

#1059 Optional cell cc26xx
  chips/cc26xx/src/gpio.rs
  chips/cc26xx/src/rtc.rs
  chips/cc26xx/src/trng.rs
  chips/cc26xx/src/uart.rs
Labels: P-Upkeep, help wanted, refactor

#1098 Replace trivial implementations of Default with #[derive(Default)]
  capsules/src/adc.rs
  capsules/src/app_flash_driver.rs
  capsules/src/console.rs
  capsules/src/i2c_master_slave_driver.rs
  capsules/src/nrf51822_serialization.rs
  capsules/src/sdcard.rs
  capsules/src/spi.rs
Labels: P-Upkeep

#1004 mcp230xx: support more versions of the chip
  capsules/src/lib.rs
  capsules/src/mcp230xx.rs
Labels: P-Upkeep

#1106 Updates to tock-registers for publishing
  Makefile
  libraries/tock-register-interface/Cargo.toml
  libraries/tock-register-interface/src/lib.rs
  libraries/tock-register-interface/src/registers.rs
Labels: P-Upkeep, tock-libraries

#1114 Fix `in_exposed_bounds` security vulnerability
  kernel/src/process.rs
Labels: bug

#1012 Components
  boards/imix/src/components/adc.rs
  boards/imix/src/components/alarm.rs
  boards/imix/src/components/button.rs
  boards/imix/src/components/console.rs
  boards/imix/src/components/crc.rs
  boards/imix/src/components/fxos8700.rs
  boards/imix/src/components/gpio.rs
  boards/imix/src/components/isl29035.rs
  boards/imix/src/components/led.rs
  boards/imix/src/components/mod.rs
  boards/imix/src/components/nonvolatile_storage.rs
  boards/imix/src/components/nrf51822.rs
  boards/imix/src/components/radio.rs
  boards/imix/src/components/rf233.rs
  boards/imix/src/components/si7021.rs
  boards/imix/src/components/spi.rs
  boards/imix/src/components/usb.rs
  boards/imix/src/main.rs
  doc/Startup.md
  kernel/src/component.rs
  kernel/src/lib.rs
Labels: P-Significant, last-call

#1068 Add bors integration for merging PRs
  .travis.yml
  README.md
  bors.toml
  doc/CodeReview.md
Labels: P-Significant, last-call

#1122 capsules: add reset function to nrf serialization
  boards/hail/src/main.rs
  boards/imix/src/components/nrf51822.rs
  boards/imix/src/main.rs
  capsules/src/nrf51822_serialization.rs
Labels: P-Upkeep

#1124 libraries: match example values in documentation
  libraries/tock-register-interface/README.md
Labels: P-Upkeep, documentation, tock-libraries

#1130 docs: Collection of small updates
  doc/Lifetimes.md
  doc/Memory_Layout.md
  doc/README.md
  doc/Startup.md
  doc/Userland.md
Labels: documentation

#1131 Use proper pin for CC26xx UART RX
  chips/cc26xx/src/uart.rs
Labels: bug

#1111 Kernel: Move `PROCS` array to `Kernel` struct
  boards/ek-tm4c1294xl/src/io.rs
  boards/ek-tm4c1294xl/src/main.rs
  boards/hail/src/io.rs
  boards/hail/src/main.rs
  boards/imix/src/components/alarm.rs
  boards/imix/src/components/button.rs
  boards/imix/src/components/console.rs
  boards/imix/src/components/crc.rs
  boards/imix/src/components/fxos8700.rs
  boards/imix/src/components/isl29035.rs
  boards/imix/src/components/nonvolatile_storage.rs
  boards/imix/src/components/radio.rs
  boards/imix/src/components/si7021.rs
  boards/imix/src/components/usb.rs
  boards/imix/src/io.rs
  boards/imix/src/main.rs
  boards/launchxl/src/io.rs
  boards/launchxl/src/main.rs
  boards/nordic/nrf51dk/src/io.rs
  boards/nordic/nrf51dk/src/main.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/io.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
  kernel/src/callback.rs
  kernel/src/debug.rs
  kernel/src/grant.rs
  kernel/src/ipc.rs
  kernel/src/mem.rs
  kernel/src/process.rs
  kernel/src/sched.rs
Labels: last-call
