Repository tock/tock, pull requests merged in 2018-08, with the labels that each got.

#1142 Prevent Allocator from dropping uninitialized memory
  kernel/src/grant.rs
Labels: P-Upkeep, bug

#1123 nrf51: update clock to new register interface
  chips/nrf51/src/clock.rs
Labels: P-Upkeep, nrf, refactor

#1148 Document shell.nix
  shell.nix
Labels: documentation
