Repository tock/tock, pull requests merged in 2018-11, with the labels that each got.

#1208 Sensys Changes to Networking Code
  boards/imix/src/components/udp_6lowpan.rs
  boards/imix/src/main.rs
  capsules/src/ieee802154/mac.rs
  capsules/src/net/ipv6/ipv6_send.rs
  capsules/src/net/udp/driver.rs
Labels: release-blocker

#1206 Courses: Add documentation and materials from 2018 SenSys Tutorial
  doc/courses/2017-11-SenSys/README.md
  doc/courses/2018-11-SenSys/README.md
  doc/courses/2018-11-SenSys/application.md
  doc/courses/2018-11-SenSys/client.md
  doc/courses/2018-11-SenSys/environment.md
  doc/courses/2018-11-SenSys/exercises/app/.gitignore
  doc/courses/2018-11-SenSys/exercises/app/Makefile
  doc/courses/2018-11-SenSys/exercises/app/main.c
  doc/courses/2018-11-SenSys/exercises/app/solutions/ble-ess.c
  doc/courses/2018-11-SenSys/exercises/app/solutions/repeat-hello.c
  doc/courses/2018-11-SenSys/exercises/app/solutions/sensors.c
  doc/courses/2018-11-SenSys/freeform.md
  doc/courses/2018-11-SenSys/img/architecture.png
  doc/courses/2018-11-SenSys/manual_installation.md
  doc/courses/2018-11-SenSys/presentation/Makefile
  doc/courses/2018-11-SenSys/presentation/architecture.pdf
  doc/courses/2018-11-SenSys/presentation/execution.pdf
  doc/courses/2018-11-SenSys/presentation/imix.png
  doc/courses/2018-11-SenSys/presentation/slides.md
  doc/courses/README.md
Labels: documentation

#1213 Include instructions to erase existing apps in tutorial
  doc/tutorials/01_running_blink.md
Labels: P-Upkeep, documentation

#1218 doc: note upgrade for pip commands
  boards/hail/README.md
  doc/Getting_Started.md
Labels: documentation

#1223 nrf52[840]dk: correct the ordering of pins
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
Labels: bug

#1231 docs: Fix links and update a few docs items
  .github/CONTRIBUTING.md
  arch/README.md
  boards/nordic/nrf51dk/README.md
  boards/nordic/nrf52840dk/README.md
  boards/nordic/nrf52dk/README.md
  capsules/README.md
  chips/nrf51/README.md
  doc/Compilation.md
  doc/Porting.md
  doc/Startup.md
  doc/tutorials/README.md
Labels: documentation
