Repository tock/tock, pull requests merged in 2018-12, with the labels that each got.

#1235 sam4l: fix interrupt setup ordering in usart `receive_automatic`
  chips/sam4l/src/usart.rs
Labels: bug

#1250 doc: clean up rustdoc warnings
  arch/cortex-m3/src/mpu.rs
  chips/nrf52/src/adc.rs
  libraries/tock-register-interface/src/registers.rs
Labels: P-Upkeep, documentation

#1251 Add table of which HILs each chip supports
  chips/README.md
  tools/update_chip_support.py
Labels: documentation

#1254 libraries: bump tock-register-interface version
  libraries/tock-register-interface/CHANGELOG.md
  libraries/tock-register-interface/Cargo.lock
  libraries/tock-register-interface/Cargo.toml
Labels: P-Upkeep, tock-libraries
