Repository tock/tock, pull requests merged in 2019-07, with the labels that each got.

#1330 doc: add readme for enum_primitive library
  libraries/enum_primitive/README.md
Labels: documentation

#1333 doc: show process accessible memory on memmap
  kernel/src/process.rs
Labels: P-Upkeep, documentation, kernel

#1335 sam4l: remove legacy TRNG interrupt check
  chips/sam4l/src/trng.rs
Labels: P-Upkeep, sam4l

#1339 Rename radio in nrf52, add BLE component
  boards/acd52832/Cargo.lock
  boards/acd52832/Cargo.toml
  boards/acd52832/src/main.rs
  boards/nordic/nrf52dk_base/Cargo.lock
  boards/nordic/nrf52dk_base/src/lib.rs
  boards/nordic/nrf52dk_base/src/nrf52_components/ble.rs
  boards/nordic/nrf52dk_base/src/nrf52_components/mod.rs
  chips/nrf52/src/ble_radio.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/lib.rs
Labels: P-Upkeep
