Repository tock/tock, pull requests merged in 2020-06, with the labels that each got.

#1895 capsules: usb: change config descriptor to 1
  capsules/src/usb/descriptors.rs
Labels: bug

#1881 ci: actually deny warnings in doc builds
  boards/Makefile.common
  boards/nordic/nrf52dk_base/src/nrf52_components/startup.rs
Labels: last-call

#1880 Overhaul Tock CI
  .github/PULL_REQUEST_TEMPLATE.md
  .github/bors.toml
  .github/workflows/ci.yml
  .travis.yml
  Makefile
  README.md
  boards/Makefile.common
  boards/opentitan/Makefile
  tools/.gitignore
  tools/netlify-build.sh
  tools/qemu-runner/src/main.rs
  tools/run_cargo_fmt.sh
  tools/run_clippy.sh
  tools/toc.sh
Labels: last-call

#1888 nRF52: uart fixes for unknown bootloader configurations
  chips/nrf52/src/uart.rs
Labels: nrf

#1903 nrf52: usb: correct register matching
  chips/nrf52/src/usbd.rs
Labels: bug, nrf

#1822 kernel: configure MPU only if switching to a different process
  arch/cortex-m3/src/mpu.rs
  arch/rv32i/src/pmp.rs
  kernel/src/platform/mpu.rs
  kernel/src/process.rs
  libraries/tock-cells/src/lib.rs
  libraries/tock-cells/src/optional_cell.rs
Labels: last-call

#1894 sam4l: usb: handle return code, long buffers
  chips/sam4l/src/usbc/mod.rs
Labels: sam4l

#1901 sam4l: usb: don't just queue resume in
  chips/sam4l/src/usbc/mod.rs
Labels: sam4l

#1879 OpenTitan: Initial support for I2C
  boards/opentitan/src/main.rs
  chips/README.md
  chips/ibex/src/i2c.rs
  chips/ibex/src/lib.rs
  chips/lowrisc/src/i2c.rs
  chips/lowrisc/src/lib.rs
Labels: WG-OpenTitan

#1908 Update Rust To June 2020 Nightly
  .vscode/settings.json
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/scb.rs
  arch/cortex-m/src/support.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/rv32i/src/lib.rs
  arch/rv32i/src/support.rs
  arch/rv32i/src/syscall.rs
  capsules/src/ieee802154/framer.rs
  capsules/src/sdcard.rs
  capsules/src/test/aes_ccm.rs
  chips/apollo3/src/lib.rs
  chips/arty_e21_chip/src/chip.rs
  chips/arty_e21_chip/src/lib.rs
  chips/ibex/src/chip.rs
  chips/ibex/src/lib.rs
  chips/nrf52/src/clock.rs
  doc/Getting_Started.md
  libraries/riscv-csr/src/csr.rs
  libraries/riscv-csr/src/lib.rs
  rust-toolchain
  shell.nix
  tools/netlify-build.sh
  tools/run_clippy.sh
  tools/update_rust_version.sh
Labels: last-call

#1899 Add support for SMBus
  boards/acd52832/src/main.rs
  boards/components/src/i2c.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/stm32f3discovery/src/main.rs
  capsules/src/i2c_master_slave_driver.rs
  capsules/src/virtual_i2c.rs
  kernel/src/hil/i2c.rs
Labels: HIL

#1906 OpenTitan: Document and support flashing apps
  boards/opentitan/Makefile
  boards/opentitan/README.md
Labels: WG-OpenTitan

#1892 Remove nrf52dk_base, initialize nordic boards independently.
  boards/acd52832/Cargo.toml
  boards/acd52832/src/main.rs
  boards/nordic/README.md
  boards/nordic/nrf52840_dongle/Cargo.toml
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/Cargo.toml
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52_components/Cargo.toml
  boards/nordic/nrf52_components/src/ble.rs
  boards/nordic/nrf52_components/src/lib.rs
  boards/nordic/nrf52_components/src/startup.rs
  boards/nordic/nrf52dk/Cargo.toml
  boards/nordic/nrf52dk/README.md
  boards/nordic/nrf52dk/build.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nordic/nrf52dk_base/README.md
  boards/nordic/nrf52dk_base/src/lib.rs
  boards/nordic/nrf52dk_base/src/nrf52_components/mod.rs
  chips/nrf52832/src/lib.rs
Labels: refactor

#1882 chips: ibex: Enable low power state
  chips/ibex/src/chip.rs
  chips/ibex/src/interrupts.rs
  chips/ibex/src/lib.rs
  chips/ibex/src/pwrmgr.rs
  chips/lowrisc/src/lib.rs
  chips/lowrisc/src/pwrmgr.rs
Labels: WG-OpenTitan

#1910 Add meeting notes
  doc/wg/core/notes/core-notes-2020-05-15.md
  doc/wg/opentitan/notes/2020-05-14.md
  doc/wg/opentitan/notes/2020-05-21.md
  doc/wg/opentitan/notes/2020-05-21_Ti50_on_Tock.pdf
  doc/wg/opentitan/notes/2020-05-28.md
  doc/wg/opentitan/notes/2020-06-04.md
Labels: WG-OpenTitan, documentation

#1917 hil: ble_advertising: Pass the transmit buffer on callback
  capsules/src/ble_advertising_driver.rs
  chips/nrf52/src/ble_radio.rs
  kernel/src/hil/ble_advertising.rs
Labels: HIL, last-call

#1771 boards/Makefile.common: tool-chain customization
  boards/Makefile.common
Labels: last-call

#1945 nrf52: usb: do not print debug!() info on startup
  chips/nrf52/src/usbd.rs
Labels: nrf

#1947 nrf52: usb: better check state on IN resume
  chips/nrf52/src/usbd.rs
Labels: nrf

#1926 Prepare for 64 PMP config registers
  arch/rv32i/src/csr/mod.rs
  arch/rv32i/src/pmp.rs
  libraries/riscv-csr/src/csr.rs
  libraries/riscv-csr/src/lib.rs
Labels: WG-OpenTitan

#1946 Add USB CDC Component, Move set_client() to USB HIL
  boards/components/src/cdc.rs
  boards/components/src/lib.rs
  boards/imix/src/imix_components/usb.rs
  chips/lowrisc/src/usbdev.rs
  chips/nrf52/src/usbd.rs
  chips/sam4l/src/usbc/mod.rs
  kernel/src/hil/usb.rs
Labels: last-call

#1837 Frame buffer HIL and ST7735 screen support
  boards/components/src/lib.rs
  boards/components/src/screen.rs
  boards/components/src/st7735.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  capsules/src/screen.rs
  capsules/src/st7735.rs
  chips/stm32f3xx/src/i2c.rs
  chips/stm32f4xx/src/spi.rs
  kernel/src/hil/mod.rs
  kernel/src/hil/screen.rs
Labels: HIL, last-call

#1907 nrf52: usb: handle control OUT transfer
  chips/nrf52/src/usbd.rs
Labels: nrf

#1956 CRC HIL: make lifetime 'a, not 'static
  boards/components/src/crc.rs
  capsules/src/crc.rs
  chips/sam4l/src/crccu.rs
  kernel/src/hil/crc.rs
Labels: HIL

#1964 hil: remove 'static from ble_advertising
  boards/acd52832/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52_components/src/ble.rs
  boards/nordic/nrf52dk/src/main.rs
  capsules/src/ble_advertising_driver.rs
  chips/nrf52/src/ble_radio.rs
  kernel/src/hil/ble_advertising.rs
Labels: HIL

#1969 Fix PMP use for RISC-V
  arch/rv32i/src/csr/mod.rs
  arch/rv32i/src/pmp.rs
  libraries/riscv-csr/src/csr.rs
Labels: WG-OpenTitan

#1970 rv32i: add Display trait for PMPRegion/Config
  arch/rv32i/src/pmp.rs
Labels: WG-OpenTitan

#1943 kernel: TBF parsing: match the threat model
  kernel/src/process.rs
  kernel/src/tbfheader.rs
Labels: kernel, last-call

#1975 rv32i: Add support for 64 PMP regions
  arch/rv32i/src/csr/mod.rs
  arch/rv32i/src/pmp.rs
  libraries/riscv-csr/src/csr.rs
Labels: WG-OpenTitan

#1982 Correct memop documentation
  doc/syscalls/memop.md
Labels: bug, documentation

#1983 USB: CDC: Allow boards to specify vendor id, product id, and strings.
  boards/components/src/cdc.rs
  boards/nano33ble/src/main.rs
  capsules/src/usb/cdc.rs
  chips/nrf52/src/ficr.rs
Labels: nrf

#1916 Added STM32F412G Discovery kit
  Cargo.toml
  boards/README.md
  boards/components/src/ft6206.rs
  boards/components/src/lib.rs
  boards/stm32f412gdiscovery/Cargo.toml
  boards/stm32f412gdiscovery/Makefile
  boards/stm32f412gdiscovery/README.md
  boards/stm32f412gdiscovery/build.rs
  boards/stm32f412gdiscovery/chip_layout.ld
  boards/stm32f412gdiscovery/layout.ld
  boards/stm32f412gdiscovery/openocd.cfg
  boards/stm32f412gdiscovery/src/io.rs
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/driver.rs
  capsules/src/ft6206.rs
  capsules/src/lib.rs
  chips/stm32f303xc/src/i2c.rs
  chips/stm32f412g/Cargo.toml
  chips/stm32f412g/README.md
  chips/stm32f412g/src/lib.rs
  chips/stm32f412g/src/stm32f412g_nvic.rs
  chips/stm32f4xx/src/gpio.rs
Labels: last-call, needs-rebase

#1981 LowRISC: Initial commit of Pad Controller
  chips/ibex/src/gpio.rs
  chips/lowrisc/src/gpio.rs
  chips/lowrisc/src/lib.rs
  chips/lowrisc/src/padctrl.rs
Labels: WG-OpenTitan

#1962 Use linker file to create `APP_MEMORY` slice.
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/hail/chip_layout.ld
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/kernel_layout.ld
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
Labels: last-call

#1992 doc: remove allow(unused_doc_comments)
  chips/apollo3/src/lib.rs
  chips/nrf5x/src/gpio.rs
  chips/nrf5x/src/lib.rs
  chips/stm32f303xc/src/gpio.rs
  chips/stm32f303xc/src/lib.rs
  chips/stm32f303xc/src/syscfg.rs
  chips/stm32f4xx/src/gpio.rs
  chips/stm32f4xx/src/lib.rs
  chips/stm32f4xx/src/syscfg.rs
Labels: documentation

#1961 Create core-notes-2020-06-19.md
  doc/wg/core/notes/core-notes-2020-06-19.md
Labels: documentation
