Repository tock/tock, pull requests merged in 2020-08, with the labels that each got.

#2022 kernel: process: use slice for app memory
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  kernel/src/process.rs
Labels: kernel

#2062 kernel: sched: add and update comments
  kernel/src/sched.rs
  kernel/src/sched/cooperative.rs
  kernel/src/sched/mlfq.rs
  kernel/src/sched/priority.rs
  kernel/src/sched/round_robin.rs
Labels: kernel

#1928 kernel: process: try to use memory fixed address
  kernel/src/process.rs
Labels: kernel, release-blocker

#2068 schedulers: store references to slots in processes array instead of AppIds
  boards/components/src/sched/cooperative.rs
  boards/components/src/sched/mlfq.rs
  boards/components/src/sched/round_robin.rs
  kernel/src/sched/cooperative.rs
  kernel/src/sched/mlfq.rs
  kernel/src/sched/round_robin.rs
Labels: last-call

#2064 pmp: add PMP struct
  arch/rv32i/src/pmp.rs
  chips/arty_e21_chip/src/chip.rs
  chips/e310x/src/chip.rs
  chips/earlgrey/src/chip.rs
Labels: risc-v

#2076 rv32: pmp: Fix bounds
  arch/rv32i/src/pmp.rs
Labels: risc-v

#2075 Create core-notes-2020-08-14.md
  doc/wg/core/notes/core-notes-2020-08-14.md
Labels: documentation

#2066 Msp432: DMA-support
  chips/msp432/src/chip.rs
  chips/msp432/src/dma.rs
  chips/msp432/src/lib.rs
  chips/msp432/src/uart.rs
Labels: last-call
