Repository tock/tock, pull requests merged in 2020-12, with the labels that each got.

#2189 Board based instantiation of chip drivers and interrupt mappings: Msp432
  boards/msp_exp432p401r/src/io.rs
  boards/msp_exp432p401r/src/main.rs
  chips/msp432/src/adc.rs
  chips/msp432/src/chip.rs
  chips/msp432/src/cs.rs
  chips/msp432/src/dma.rs
  chips/msp432/src/flctl.rs
  chips/msp432/src/gpio.rs
  chips/msp432/src/lib.rs
  chips/msp432/src/pcm.rs
  chips/msp432/src/ref_module.rs
  chips/msp432/src/sysctl.rs
  chips/msp432/src/timer.rs
  chips/msp432/src/uart.rs
  chips/msp432/src/usci.rs
Labels: refactor

#2226 opentitan: Bump the bitstream commit
  boards/earlgrey-nexysvideo/README.md
Labels: WG-OpenTitan

#2182 Stm32f412g: Add rng support
  boards/stm32f412gdiscovery/src/main.rs
  chips/stm32f412g/src/chip.rs
  chips/stm32f412g/src/interrupt_service.rs
  chips/stm32f412g/src/lib.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/lib.rs
  chips/stm32f4xx/src/rcc.rs
  chips/stm32f4xx/src/trng.rs
Labels: last-call

#2215 remove all uses of unstable const_in_array_repeat_expressions feature
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/components/src/lib.rs
  boards/components/src/sched/cooperative.rs
  boards/components/src/sched/mlfq.rs
  boards/components/src/sched/round_robin.rs
  boards/earlgrey-nexysvideo/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
Labels: P-Upkeep

#2221 usb-cdc: fake successful uart transmissions so that blocking debug calls resume
  boards/clue_nrf52840/src/main.rs
  boards/components/src/cdc.rs
  boards/nano33ble/src/main.rs
  capsules/src/usb/cdc.rs
Labels: last-call, needs-rebase

#2196 Virtual AES Driver
  boards/components/src/ieee802154.rs
  boards/imix/src/main.rs
  boards/imix/src/test/aes_ccm_test.rs
  boards/imix/src/test/mod.rs
  boards/imix/src/test/virtual_aes_ccm_test.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/src/lib.rs
  capsules/src/test/aes_ccm.rs
  capsules/src/virtual_aes_ccm.rs
Labels: last-call

#2228 Adafruit CLUE enabled BLE and 15.4
  boards/clue_nrf52840/README.md
  boards/clue_nrf52840/layout.ld
  boards/clue_nrf52840/src/main.rs
Labels: needs-rebase

#2227 Fix ST77XX screen rotation offset
  capsules/src/st77xx.rs
Labels: last-call

#2252 Tock 2.0: Deprecate SuccessWithValue
  capsules/src/hd44780.rs
  capsules/src/net/udp/driver.rs
  doc/Porting_Capsules_2.md
  kernel/src/driver.rs
  kernel/src/returncode.rs
Labels: tock-2.0

#2251 Updating temperature driver to 2.0.
  boards/acd52832/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/temperature.rs
Labels: tock-2.0

#2245 Update analog comparator to tock 2.0 syscalls
  boards/imix/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  capsules/src/analog_comparator.rs
Labels: tock-2.0

#2264 Tock 2.0: don't constrain `map_or` return values
  kernel/src/mem.rs
Labels: tock-2.0

#2267 VirtualSchedulerTimer: fix incorrect set_alarm invocation
  kernel/src/platform/scheduler_timer.rs
Labels: bug

#2257 Update screen driver syscalls to Tock 2.0
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/screen.rs
Labels: tock-2.0

#2253 Spi controller 2.0
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  capsules/src/spi_controller.rs
Labels: tock-2.0

#2269 Tock 2.0 analog comparator: use `ErrorCode::From`
  capsules/src/analog_comparator.rs
Labels: tock-2.0

#2271 Update ninedof capsule to Tock 2.0 syscalls API
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/stm32f3discovery/src/main.rs
  capsules/src/ninedof.rs
Labels: tock-2.0

#2203 Port to LiteX+VexRiscv-based SoCs
  Cargo.toml
  boards/README.md
  boards/litex/arty/Cargo.toml
  boards/litex/arty/Makefile
  boards/litex/arty/README.md
  boards/litex/arty/build.rs
  boards/litex/arty/layout.ld
  boards/litex/arty/src/io.rs
  boards/litex/arty/src/litex_generated_constants.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/Cargo.toml
  boards/litex/sim/Makefile
  boards/litex/sim/README.md
  boards/litex/sim/build.rs
  boards/litex/sim/layout.ld
  boards/litex/sim/src/io.rs
  boards/litex/sim/src/litex_generated_constants.rs
  boards/litex/sim/src/main.rs
  chips/litex/Cargo.toml
  chips/litex/README.md
  chips/litex/src/event_manager.rs
  chips/litex/src/led_controller.rs
  chips/litex/src/lib.rs
  chips/litex/src/liteeth.rs
  chips/litex/src/litex_registers.rs
  chips/litex/src/timer.rs
  chips/litex/src/uart.rs
  chips/litex_vexriscv/Cargo.toml
  chips/litex_vexriscv/README.md
  chips/litex_vexriscv/src/chip.rs
  chips/litex_vexriscv/src/interrupt_controller.rs
  chips/litex_vexriscv/src/lib.rs
  kernel/src/hil/time.rs
Labels: last-call, risc-v

#2283 arch: remove unused llvm-asm feature
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/cortex-m7/src/lib.rs
Labels: P-Upkeep

#2276 Update Gpio-async driver to 2.0
  boards/acd52832/src/main.rs
  capsules/src/gpio_async.rs
Labels: tock-2.0

#2287 Fix serial console line breaks in process fault message
  arch/rv32i/src/pmp.rs
  kernel/src/process.rs
Labels: P-Upkeep

#2286 Update CRC capsule to use 2.0 API.
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  capsules/src/crc.rs
Labels: tock-2.0

#2285 Port DAC driver to 2.0 system call interface
  boards/hail/src/main.rs
  capsules/src/dac.rs
Labels: tock-2.0

#2258 Update touch and ft60x6 drivers to Tock 2.0
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/ft6x06.rs
  capsules/src/touch.rs
Labels: tock-2.0

#2277 chips: nrf52: add gpregret setter/getter
  chips/nrf52/src/power.rs
Labels: last-call, nrf

#2274 Update IEEE-802.15.4 driver to Tock 2.0
  boards/clue_nrf52840/src/main.rs
  boards/components/src/ieee802154.rs
  boards/imix/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/src/ieee802154/driver.rs
Labels: tock-2.0

#2284 Proximity driver to Tock 2.0 system-call interface
  boards/clue_nrf52840/src/main.rs
  boards/nano33ble/src/main.rs
  capsules/src/proximity.rs
Labels: tock-2.0

#2293 Tock 2.0: update l3gd20 capsule to 2.0 API
  boards/stm32f3discovery/src/main.rs
  capsules/src/l3gd20.rs
Labels: tock-2.0

#2297 rng: port to Tock 2.0 system call interface
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/rng.rs
Labels: tock-2.0

#2292 Tock 2.0: buzzer driver update
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  capsules/src/buzzer_driver.rs
Labels: needs-rebase, tock-2.0

#2295 Tock 2.0: lsm303 and led matrix update to tock 2.0 api
  boards/microbit_v2/src/main.rs
  boards/stm32f3discovery/src/main.rs
  capsules/src/led_matrix.rs
  capsules/src/lsm303agr.rs
  capsules/src/lsm303dlhc.rs
Labels: needs-rebase, tock-2.0

#2307 Updating Alarm syscall driver to 2.0 syscall API
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/earlgrey-nexysvideo/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/teensy40/src/main.rs
  capsules/src/alarm.rs
Labels: tock-2.0

#2312 Tock 2.0: update ADC driver to 2.0 API
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/adc.rs
Labels: tock-2.0

#2315 Tock 2.0: update multi touch
  capsules/src/ft6x06.rs
  capsules/src/touch.rs
Labels: tock-2.0
