Repository tock/tock, pull requests merged in 2020-09, with the labels that each got.

#2100 Mask USB interrupt to avoid hardware bug in OpenTitan
  chips/earlgrey/src/plic.rs
Labels: WG-OpenTitan

#2073 RISC-V: Update panic debug print
  arch/rv32i/src/lib.rs
  arch/rv32i/src/pmp.rs
  arch/rv32i/src/syscall.rs
Labels: risc-v

#2102 Add links to out-of-tree boards to boards/README.md.
  boards/README.md
Labels: documentation

#2105 Core WG notes for September 11
  doc/wg/core/notes/core-notes-2020-09-11.md
Labels: last-call

#2103 OpenTitan: A collection of USB fixes
  chips/lowrisc/src/usbdev.rs
Labels: WG-OpenTitan, last-call

#2053 Add utilities for allocating dynamic grants.
  kernel/src/grant.rs
Labels: last-call

#2104 opentitan: Makefile: Use riscv64-elf-objcopy to prepare images
  boards/opentitan/Makefile
Labels: WG-OpenTitan

#1973 Remove reborrows?
  arch/cortex-m3/src/mpu.rs
  chips/apollo3/src/ble.rs
  chips/nrf52/src/acomp.rs
  chips/nrf52/src/ble_radio.rs
  chips/nrf52/src/clock.rs
  chips/nrf52/src/ficr.rs
  chips/nrf52/src/ieee802154_radio.rs
  chips/nrf52/src/nvmc.rs
  chips/nrf52/src/power.rs
  chips/nrf52/src/ppi.rs
  chips/nrf52/src/pwm.rs
  chips/nrf52/src/uart.rs
  chips/nrf52/src/uicr.rs
  chips/nrf52/src/usbd.rs
  chips/nrf5x/src/aes.rs
  chips/nrf5x/src/gpio.rs
  chips/nrf5x/src/temperature.rs
  chips/nrf5x/src/trng.rs
  chips/sam4l/src/adc.rs
  chips/sam4l/src/aes.rs
  chips/sam4l/src/ast.rs
  chips/sam4l/src/crccu.rs
  chips/sam4l/src/dac.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/flashcalw.rs
  chips/sam4l/src/trng.rs
  chips/sifive/src/watchdog.rs
  doc/Mutable_References.md
Labels: release-blocker

#2107 Scheduler timer bugfix + documentation updates
  arch/cortex-m/src/systick.rs
  arch/rv32i/src/machine_timer.rs
  kernel/src/platform/scheduler_timer.rs
  kernel/src/sched.rs
Labels: release-blocker

#2121 capsules: hmac: Replace the digest buffer after completion
  capsules/src/hmac.rs
Labels: P-Upkeep, WG-OpenTitan

#2120 arch/cortex-m3: Allow the kernel to access protected memory
  arch/cortex-m3/src/mpu.rs
Labels: release-blocker

#2047 Virtual ADC support
  boards/acd52832/src/main.rs
  boards/components/src/adc.rs
  boards/components/src/lib.rs
  boards/components/src/temperature_stm.rs
  boards/hail/src/main.rs
  boards/imix/src/imix_components/adc.rs
  boards/imix/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/adc.rs
  capsules/src/lib.rs
  capsules/src/temperature_stm.rs
  capsules/src/virtual_adc.rs
  chips/nrf52/src/adc.rs
  chips/sam4l/src/adc.rs
  chips/stm32f303xc/src/adc.rs
  chips/stm32f4xx/src/adc.rs
  kernel/src/hil/adc.rs
Labels: HIL, last-call, needs-rebase, release-blocker, stm32

#2117 Fix kernel work counting when processes are stopped or faulted
  kernel/src/process.rs
Labels: bug, last-call, release-blocker

#2128 opentitan: Disable USB support by default
  boards/opentitan/src/main.rs
Labels: WG-OpenTitan, release-blocker

#2127 Create core-notes-2020-09-25.md
  doc/wg/core/notes/core-notes-2020-09-25.md
Labels: documentation

#2091 Nano33 apds9960
  boards/nano33ble/src/main.rs
  capsules/src/apds9960.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  capsules/src/proximity.rs
  doc/syscalls/README.md
  kernel/src/hil/sensors.rs
Labels: HIL, last-call

#2133 chips/earlgrey: Use the peripheral clock frequency
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/chip_config.rs
  chips/earlgrey/src/i2c.rs
  chips/earlgrey/src/timer.rs
  chips/earlgrey/src/uart.rs
Labels: WG-OpenTitan
