Repository tock/tock, pull requests merged in 2020-03, with the labels that each got.

#1642 kernel: Fix recording last syscall
  kernel/src/process.rs
  kernel/src/sched.rs
Labels: bug, kernel

#1644 chips/e310x: Fix spelling of suppress_all
  chips/e310x/src/chip.rs
  chips/e310x/src/plic.rs
Labels: P-Upkeep

#1566 kernel: Add an "identifier" to AppId
  capsules/src/ble_advertising_driver.rs
  capsules/src/low_level_debug/mod.rs
  kernel/src/callback.rs
  kernel/src/grant.rs
  kernel/src/introspection.rs
  kernel/src/ipc.rs
  kernel/src/mem.rs
  kernel/src/process.rs
  kernel/src/sched.rs
Labels: kernel, last-call

#1614 CRC: Add set_client to HIL
  boards/components/src/crc.rs
  chips/sam4l/src/crccu.rs
  kernel/src/hil/crc.rs
Labels: last-call

#1653 kernel: stdize process_each and process_each_cap
  capsules/src/process_console.rs
  kernel/src/sched.rs
Labels: kernel

#1645 doc: Update architecture diagram
  doc/architecture.png
Labels: documentation

#1579 add set_vector_table_offset()
  arch/cortex-m/src/scb.rs
Labels: waiting-on-author

#1667 Implement a debug_enqueue! macro that writes to a ring buffer flushed only upon panicking.
  boards/components/src/debug_queue.rs
  boards/components/src/lib.rs
  kernel/src/common/queue.rs
  kernel/src/common/ring_buffer.rs
  kernel/src/debug.rs
Labels: last-call

#1659 Make UART control flow pin optional on Nordic boards.
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
Labels: last-call

#1668 Add --remap-path-prefix to make builds more deterministic and smaller.
  boards/Makefile.common
Labels: last-call

#1669 Print a SHA-256 sum of built binaries, to check for reproducibility.
  Makefile
  boards/Makefile.common
  tools/sha256sum/Cargo.toml
  tools/sha256sum/src/main.rs
Labels: last-call

#1660 DRAFT rust: disable frame pointers in the Tock kernel
  boards/Makefile.common
Labels: last-call, needs-rebase

#1638 doc: ot: add 2020-02-28 notes
  doc/wg/opentitan-notes/2020-02-28.md
Labels: WG-OpenTitan, documentation

#1671 doc: ot: add notes 2020-03-06
  doc/wg/opentitan-notes/2020-03-06.md
Labels: WG-OpenTitan

#1623 Flash HIL: return buffers if errors
  capsules/src/log.rs
  capsules/src/mx25r6435f.rs
  capsules/src/nonvolatile_to_pages.rs
  capsules/src/virtual_flash.rs
  chips/nrf52/src/nvmc.rs
  chips/sam4l/src/flashcalw.rs
  kernel/src/hil/flash.rs
Labels: last-call

#1708 Create core-notes-2020-03-20
  doc/wg/core-notes/core-notes-2020-03-20
Labels: documentation

#1704 opentitan: Disable aes_test
  boards/opentitan/src/main.rs
Labels: WG-OpenTitan

#1705 OpenTitan WG Roadmap
  doc/wg/opentitan/README.md
  doc/wg/opentitan/notes/2020-02-07.txt
  doc/wg/opentitan/notes/2020-02-14.md
  doc/wg/opentitan/notes/2020-02-21.md
  doc/wg/opentitan/notes/2020-02-28.md
  doc/wg/opentitan/notes/2020-03-06.md
  doc/wg/opentitan/roadmap.md
Labels: WG-OpenTitan, documentation

#1689 doc: ot: add notes from 2020-03-13
  doc/wg/opentitan-notes/2020-03-13.md
Labels: WG-OpenTitan, documentation

#1706 doc: ot: add notes 2020-03-19
  doc/wg/opentitan-notes/2020-03-19.md
Labels: WG-OpenTitan, documentation

#1681 Make nrf52* based boards compatible with bootloader.
  chips/nrf52/src/crt1.rs
Labels: last-call, release-blocker

#1716 doc: ot: add 03-26-2020 notes
  doc/wg/opentitan/notes/2020-03-26.md
Labels: WG-OpenTitan, documentation

#1700 doc: wg: add core working group charter
  doc/CodeReview.md
  doc/CoreTeam.md
  doc/README.md
  doc/wg/README.md
  doc/wg/core.md
Labels: P-Significant, documentation, last-call

#1480 Rewrite TBF parsing logic
  boards/acd52832/src/main.rs
  boards/arty-e21/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/kernel_layout.ld
  boards/launchxl/src/main.rs
  boards/nordic/nrf52dk_base/src/lib.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  doc/TockBinaryFormat.md
  kernel/src/lib.rs
  kernel/src/process.rs
  kernel/src/tbfheader.rs
Labels: last-call
