Repository tock/tock, pull requests merged in 2020-04, with the labels that each got.

#1717 rv32i: pmp: Fix the app allocation calculator
  arch/rv32i/src/pmp.rs
Labels: WG-OpenTitan

#1674 Porting to STM32F303 and STM32F3Discovery kit
  boards/README.md
  boards/stm32f3discovery/Cargo.toml
  boards/stm32f3discovery/Makefile
  boards/stm32f3discovery/README.md
  boards/stm32f3discovery/build.rs
  boards/stm32f3discovery/chip_layout.ld
  boards/stm32f3discovery/layout.ld
  boards/stm32f3discovery/openocd.cfg
  boards/stm32f3discovery/src/io.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f3discovery/src/virtual_uart_rx_test.rs
  chips/README.md
  chips/stm32f3xx/Cargo.toml
  chips/stm32f3xx/README.md
  chips/stm32f3xx/src/chip.rs
  chips/stm32f3xx/src/deferred_call_tasks.rs
  chips/stm32f3xx/src/dma.rs
  chips/stm32f3xx/src/exti.rs
  chips/stm32f3xx/src/gpio.rs
  chips/stm32f3xx/src/lib.rs
  chips/stm32f3xx/src/nvic.rs
  chips/stm32f3xx/src/rcc.rs
  chips/stm32f3xx/src/spi.rs
  chips/stm32f3xx/src/syscfg.rs
  chips/stm32f3xx/src/tim2.rs
  chips/stm32f3xx/src/usart.rs
Labels: last-call

#1647 chips/e310x: Remove unstable pragma
  chips/e310x/src/chip.rs
  chips/e310x/src/lib.rs
Labels: WG-OpenTitan, refactor

#1740 Core WG notes 04/03/2020
  doc/wg/core/notes/core-notes-2020-03-20.txt
  doc/wg/core/notes/core-notes-2020-04-03.md
Labels: documentation

#1632 Add a threat model to Tock's documentation.
  doc/README.md
  doc/threat_model/Application_Loader.md
  doc/threat_model/Capsule_Isolation.md
  doc/threat_model/Code_Review.md
  doc/threat_model/README.md
  doc/threat_model/TBF_Headers.md
  doc/threat_model/Virtualization.md
Labels: documentation, last-call

#1742 stm32f{3,4}xx: remove unused deferred calls code
  chips/stm32f3xx/src/deferred_call_tasks.rs
  chips/stm32f3xx/src/lib.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/deferred_call_tasks.rs
  chips/stm32f4xx/src/lib.rs
Labels: last-call

#1648 kernel: use NonNull, iterate on grant and appslice interfaces
  kernel/src/grant.rs
  kernel/src/introspection.rs
  kernel/src/lib.rs
  kernel/src/mem.rs
  kernel/src/process.rs
Labels: refactor

#1725 added i2c component
  boards/components/src/i2c.rs
  boards/components/src/lib.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  chips/cc26x2/src/i2c.rs
  chips/nrf52/src/i2c.rs
  chips/sam4l/src/i2c.rs
  kernel/src/hil/i2c.rs
Labels: HIL, last-call

#1729 added riscv toolchain to shell.nix
  shell.nix
Labels: last-call

#1748 kernel: grant: fix allocation
  kernel/src/grant.rs
Labels: bug, kernel

#1731 doc: ot: add notes 04-02-2020
  doc/wg/opentitan/notes/2020-04-02.md
Labels: WG-OpenTitan, documentation

#1680 kernel: Add syscall filter to platform trait
  kernel/src/platform/mod.rs
  kernel/src/sched.rs
Labels: last-call

#1759 doc: Update GPIO syscall for pseudo-stabilization
  doc/syscalls/00004_gpio.md
  doc/syscalls/README.md
Labels: documentation, last-call, release-blocker

#1778 rv32i,ibex: use ',' as sections specifier
  arch/rv32i/src/lib.rs
  boards/kernel_layout.ld
  chips/ibex/src/chip.rs
Labels: release-blocker

#1781 boards: hail: fix gpio pin assignments
  boards/hail/src/main.rs
Labels: bug

#1788 OpenTitan: README: Update the OpenTitan SHA
  boards/opentitan/README.md
Labels: WG-OpenTitan

#1789 doc: Add syscall filter to syscall documentation
  doc/Syscalls.md
Labels: documentation, release-blocker

#1804 doc: fix stack/data position on arch diagram
  doc/architecture.png
Labels: documentation

#1775 doc: ot: notes: 2020-04-09 and 2020-04-16
  doc/wg/opentitan/notes/2020-04-09.md
  doc/wg/opentitan/notes/2020-04-16.md
Labels: WG-OpenTitan, documentation

#1780 doc: use copy-on-write for docs
  tools/build-all-docs.sh
Labels: documentation

#1805 rv32i: pmp: Remove power of two allignment constraint
  arch/rv32i/src/pmp.rs
Labels: WG-OpenTitan
