Repository tock/tock, pull requests merged in 2020-11, with the labels that each got.

#2122 Board based instantiation of chip drivers and interrupt mappings: Earlgrey/Opentitan
  boards/opentitan/src/aes_test.rs
  boards/opentitan/src/io.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/usb.rs
  chips/earlgrey/src/aes.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/flash_ctrl.rs
  chips/earlgrey/src/gpio.rs
  chips/earlgrey/src/hmac.rs
  chips/earlgrey/src/i2c.rs
  chips/earlgrey/src/lib.rs
  chips/earlgrey/src/pwrmgr.rs
  chips/earlgrey/src/timer.rs
  chips/earlgrey/src/uart.rs
  chips/earlgrey/src/usbdev.rs
Labels: WG-OpenTitan

#1918 Add Cortex-M7 Architecture and i.MX RT 1052 EVKB Board
  Cargo.toml
  arch/cortex-m7/Cargo.toml
  arch/cortex-m7/src/lib.rs
  arch/cortex-m7/src/mpu.rs
  boards/README.md
  boards/components/src/fxos8700.rs
  boards/components/src/lib.rs
  boards/imxrt1050-evkb/Cargo.toml
  boards/imxrt1050-evkb/MIMXRT1052xxxxB.xml
  boards/imxrt1050-evkb/MIMXRT1052xxxxB_part.xml
  boards/imxrt1050-evkb/Makefile
  boards/imxrt1050-evkb/README.md
  boards/imxrt1050-evkb/build.rs
  boards/imxrt1050-evkb/chip_layout.ld
  boards/imxrt1050-evkb/hdr.s
  boards/imxrt1050-evkb/layout.ld
  boards/imxrt1050-evkb/pictures/config-link-server.png
  boards/imxrt1050-evkb/pictures/copy-to-debug.png
  boards/imxrt1050-evkb/pictures/flash-example.png
  boards/imxrt1050-evkb/pictures/project-explorer.png
  boards/imxrt1050-evkb/src/boot_header.rs
  boards/imxrt1050-evkb/src/io.rs
  boards/imxrt1050-evkb/src/main.rs
  chips/imxrt1050/Cargo.toml
  chips/imxrt1050/README.md
  chips/imxrt1050/src/ccm.rs
  chips/imxrt1050/src/chip.rs
  chips/imxrt1050/src/gpio.rs
  chips/imxrt1050/src/gpt1.rs
  chips/imxrt1050/src/iomuxc.rs
  chips/imxrt1050/src/iomuxc_snvs.rs
  chips/imxrt1050/src/lib.rs
  chips/imxrt1050/src/lpi2c.rs
  chips/imxrt1050/src/lpuart.rs
  chips/imxrt1050/src/nvic.rs
  kernel/src/hil/time.rs
Labels: last-call

#2187 Board based instantiation of chip drivers and interrupt mappings: Stm32f3
  boards/stm32f3discovery/src/io.rs
  boards/stm32f3discovery/src/main.rs
  chips/stm32f303xc/src/adc.rs
  chips/stm32f303xc/src/chip.rs
  chips/stm32f303xc/src/dma.rs
  chips/stm32f303xc/src/exti.rs
  chips/stm32f303xc/src/flash.rs
  chips/stm32f303xc/src/gpio.rs
  chips/stm32f303xc/src/i2c.rs
  chips/stm32f303xc/src/lib.rs
  chips/stm32f303xc/src/rcc.rs
  chips/stm32f303xc/src/spi.rs
  chips/stm32f303xc/src/syscfg.rs
  chips/stm32f303xc/src/tim2.rs
  chips/stm32f303xc/src/usart.rs
  chips/stm32f303xc/src/wdt.rs
Labels: refactor, stm32

#2188 Board based instantiation of chip drivers and interrupt mappings: Stm32f4
  boards/nucleo_f429zi/src/io.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/io.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f412gdiscovery/src/io.rs
  boards/stm32f412gdiscovery/src/main.rs
  chips/stm32f412g/src/interrupt_service.rs
  chips/stm32f412g/src/lib.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f446re/src/interrupt_service.rs
  chips/stm32f446re/src/lib.rs
  chips/stm32f4xx/src/adc.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/dbg.rs
  chips/stm32f4xx/src/dma1.rs
  chips/stm32f4xx/src/exti.rs
  chips/stm32f4xx/src/fsmc.rs
  chips/stm32f4xx/src/gpio.rs
  chips/stm32f4xx/src/i2c.rs
  chips/stm32f4xx/src/rcc.rs
  chips/stm32f4xx/src/spi.rs
  chips/stm32f4xx/src/syscfg.rs
  chips/stm32f4xx/src/tim2.rs
  chips/stm32f4xx/src/usart.rs
Labels: refactor, stm32

#2206 boards: Rename opentitan to earlgrey-nexysvideo
  Cargo.toml
  boards/README.md
  boards/earlgrey-nexysvideo/Cargo.toml
  boards/earlgrey-nexysvideo/Makefile
  boards/earlgrey-nexysvideo/README.md
  boards/earlgrey-nexysvideo/build.rs
  boards/earlgrey-nexysvideo/layout.ld
  boards/earlgrey-nexysvideo/src/aes_test.rs
  boards/earlgrey-nexysvideo/src/io.rs
  boards/earlgrey-nexysvideo/src/main.rs
  boards/earlgrey-nexysvideo/src/multi_alarm_test.rs
  boards/earlgrey-nexysvideo/src/usb.rs
  doc/wg/opentitan/README.md
  tools/board-runner/README.md
  tools/board-runner/src/earlgrey_nexysvideo.rs
  tools/board-runner/src/main.rs
  tools/qemu-runner/src/main.rs
Labels: WG-OpenTitan

#2204 lowrisc: flash_ctrl: Convert erase_page to be async
  chips/lowrisc/src/flash_ctrl.rs
Labels: WG-OpenTitan

#2218 Allow processes to read from buffers shared with read-only allow
  doc/reference/trd-syscalls.md
Labels: tock-2.0
