Repository tock/tock, pull requests merged in 2021-06, with the labels that each got.

#2604 Add core WG notes for 2021-05-28
  doc/wg/core/notes/core-notes-2021-05-28.md
Labels: documentation

#2596 boards: make: check for rustup
  boards/Makefile.common
  shell.nix
Labels: last-call

#2582 document compiler fence before switching to userspace
  arch/rv32i/src/syscall.rs
Labels: risc-v

#2613 fix Yaffs1 link in tickv README
  libraries/tickv/README.md
Labels: P-Upkeep, tock-libraries

#2609 opentitan: README: Update the QEMU requirement
  boards/earlgrey-nexysvideo/README.md
Labels: P-Upkeep, WG-OpenTitan

#2586 OpenTitan: Update the HMAC Implementation
  boards/components/src/hmac.rs
  boards/earlgrey-nexysvideo/src/main.rs
  capsules/src/hmac.rs
  capsules/src/virtual_digest.rs
  capsules/src/virtual_hmac.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/plic.rs
  chips/lowrisc/src/hmac.rs
  kernel/src/hil/digest.rs
Labels: HIL, WG-OpenTitan, last-call

#2606 build with codegen-units = 1 to reduce code size
  Cargo.toml
Labels: last-call

#2598 doc: trd-hil: add tips from tock-book
  doc/reference/trd-hil-design.md
Labels: documentation

#2587 New ProcessConsole features
  boards/components/src/process_console.rs
  boards/kernel_layout.ld
  capsules/src/process_console.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel

#2620 Rename Platform structure to MicroBit
  boards/microbit_v2/src/main.rs
Labels: P-Upkeep

#2624 Fixes three printing bugs in `print_tock_memory_usage.py`
  tools/print_tock_memory_usage.py
Labels: P-Upkeep

#2617 Update TRD104 to more clearly state the expectations for allowed buffers.
  doc/reference/trd104-syscalls.md
Labels: documentation, last-call

#2621 Add core WG notes for 2021-06-04.
  doc/wg/core/notes/core-notes-2021-06-04.md
Labels: documentation

#2619 Add I2C slave support for nRF
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/src/i2c_master_slave_driver.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/i2c.rs
Labels: last-call, nrf

#2595 OpenTitan: Initial support for OTBN
  boards/earlgrey-nexysvideo/src/main.rs
  boards/earlgrey-nexysvideo/src/otbn.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/lib.rs
  chips/earlgrey/src/otbn.rs
  chips/lowrisc/src/lib.rs
  chips/lowrisc/src/otbn.rs
  chips/lowrisc/src/virtual_otbn.rs
Labels: WG-OpenTitan

#2599 Add integration test support in the kernel, create tests for OpenTitan
  arch/rv32i/src/lib.rs
  boards/earlgrey-nexysvideo/.cargo/config
  boards/earlgrey-nexysvideo/Makefile
  boards/earlgrey-nexysvideo/src/io.rs
  boards/earlgrey-nexysvideo/src/main.rs
  boards/earlgrey-nexysvideo/src/tests.rs
  kernel/src/sched.rs
Labels: WG-OpenTitan, kernel, last-call, risc-v

#2627 Core working group notes of 2021-06-11
  doc/wg/core/notes/core-notes-2021-06-11.md
Labels: documentation

#2442 board: Raspberry Pi Pico Tock port
  Cargo.toml
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/nvic.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  boards/README.md
  boards/components/src/lib.rs
  boards/components/src/temperature_rp2040.rs
  boards/kernel_layout.ld
  boards/raspberry_pi_pico/Cargo.toml
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/README.md
  boards/raspberry_pi_pico/build.rs
  boards/raspberry_pi_pico/layout.ld
  boards/raspberry_pi_pico/openocd.cfg
  boards/raspberry_pi_pico/src/flash_bootloader.rs
  boards/raspberry_pi_pico/src/io.rs
  boards/raspberry_pi_pico/src/main.rs
  capsules/src/lib.rs
  capsules/src/temperature_rp2040.rs
  chips/README.md
  chips/rp2040/Cargo.toml
  chips/rp2040/README.md
  chips/rp2040/src/adc.rs
  chips/rp2040/src/chip.rs
  chips/rp2040/src/clocks.rs
  chips/rp2040/src/gpio.rs
  chips/rp2040/src/interrupts.rs
  chips/rp2040/src/lib.rs
  chips/rp2040/src/resets.rs
  chips/rp2040/src/timer.rs
  chips/rp2040/src/uart.rs
  chips/rp2040/src/watchdog.rs
  chips/rp2040/src/xosc.rs
Labels: last-call
