Repository tock/tock, pull requests merged in 2021-01, with the labels that each got.

#2313 Tock 2.0: screen write update
  capsules/src/screen.rs
Labels: tock-2.0

#2316 Update SPI peripheral syscalls to 2.0 API
  boards/components/src/spi.rs
  boards/imix/src/main.rs
  capsules/src/spi_peripheral.rs
  capsules/src/virtual_spi.rs
Labels: tock-2.0

#2322 Tock 2.0 / rv32i: fix system call return value encoding
  arch/rv32i/src/syscall.rs
Labels: tock-2.0

#2262 nrf52: nvmc: remove global static
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52_components/src/startup.rs
  boards/nordic/nrf52dk/src/main.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/clock.rs
  chips/nrf52/src/nvmc.rs
Labels: last-call, nrf

#2309 chips/lowrisc: Ensure we don't write over the flash region
  chips/lowrisc/src/flash_ctrl.rs
Labels: WG-OpenTitan, last-call

#2079 Added TextScreen HIL and driver and integrated HD44780 capsule
  boards/components/src/hd44780.rs
  boards/components/src/lib.rs
  boards/components/src/text_screen.rs
  capsules/src/driver.rs
  capsules/src/hd44780.rs
  capsules/src/lib.rs
  capsules/src/text_screen.rs
  doc/syscalls/80005_hd44780.md
  kernel/src/hil/mod.rs
  kernel/src/hil/text_screen.rs
Labels: HIL

#2308 rv32i: fix race condition of interrupt in switch_to_process
  arch/rv32i/src/lib.rs
  arch/rv32i/src/syscall.rs
Labels: bug, last-call, risc-v

#2318 cortex-m naked functions: llvm_asm --> asm
  arch/cortex-m/src/lib.rs
Labels: last-call

#2273 kernel: hil: Add a KV Store HIL
  kernel/src/hil/kv_system.rs
  kernel/src/hil/mod.rs
Labels: last-call

#2303 llvm_asm -> asm: arty-e21
  arch/rv32i/src/lib.rs
  arch/rv32i/src/machine_timer.rs
  arch/rv32i/src/support.rs
  boards/arty_e21/src/main.rs
  chips/arty_e21_chip/src/chip.rs
  chips/arty_e21_chip/src/lib.rs
Labels: risc-v

#2319 riscv: more llvm_asm --> asm
  arch/rv32i/src/lib.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/lib.rs
Labels: WG-OpenTitan

#2331 Port buttons driver to Tock 2.0 Driver trait
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  capsules/src/button.rs
Labels: tock-2.0

#2329 Port `i2c_master` to Tock 2.0 Driver trait
  boards/earlgrey-nexysvideo/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  capsules/src/i2c_master.rs
  kernel/src/driver.rs
Labels: kernel, tock-2.0

#2334 update rust january 7 2021
  .vscode/settings.json
  capsules/src/st77xx.rs
  capsules/src/usb/ctap.rs
  chips/earlgrey/src/aes.rs
  chips/imxrt10xx/src/lib.rs
  doc/Getting_Started.md
  kernel/src/debug.rs
  kernel/src/platform/mpu.rs
  kernel/src/sched/round_robin.rs
  rust-toolchain
  shell.nix
  tools/netlify-build.sh
Labels: last-call

#2340 const generics instead of macro for pmp configuration
  arch/rv32i/src/pmp.rs
  chips/arty_e21_chip/src/chip.rs
  chips/arty_e21_chip/src/lib.rs
  chips/arty_e21_chip/src/pmp.rs
  chips/e310x/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/litex_vexriscv/src/chip.rs
Labels: last-call

#2294 doc: wg: core: add notes
  doc/wg/core/notes/core-notes-2020-10-02.md
  doc/wg/core/notes/core-notes-2020-11-13.md
  doc/wg/core/notes/core-notes-2020-12-11.md
Labels: documentation

#2288 hil: Sound Pressure
  boards/acd52832/src/main.rs
  boards/components/src/adc_microphone.rs
  boards/components/src/lib.rs
  boards/components/src/sound_pressure.rs
  boards/microbit_v2/Makefile
  boards/microbit_v2/src/main.rs
  capsules/src/adc_microphone.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  capsules/src/sound_pressure.rs
  capsules/src/virtual_adc.rs
  chips/nrf52/src/adc.rs
  chips/nrf52/src/chip.rs
  chips/nrf5x/src/gpio.rs
  doc/syscalls/README.md
  kernel/src/common/math.rs
  kernel/src/hil/sensors.rs
Labels: last-call

#2324 LED: remove need for `&mut self`
  boards/components/src/led.rs
  boards/litex/sim/src/io.rs
  boards/microbit_v2/src/io.rs
  capsules/src/led.rs
  chips/litex/src/led_controller.rs
  kernel/src/debug.rs
  kernel/src/hil/led.rs
Labels: HIL, last-call

#2341 Use const generics for nrf gpio pins
  boards/acd52832/src/io.rs
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/io.rs
  boards/clue_nrf52840/src/main.rs
  boards/microbit_v2/src/io.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/io.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/io.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/io.rs
  boards/nordic/nrf52dk/src/main.rs
  capsules/src/virtual_pwm.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/pwm.rs
  chips/nrf52832/src/gpio.rs
  chips/nrf52832/src/interrupt_service.rs
  chips/nrf52833/src/gpio.rs
  chips/nrf52833/src/interrupt_service.rs
  chips/nrf52840/src/gpio.rs
  chips/nrf52840/src/interrupt_service.rs
  chips/nrf52840/src/lib.rs
  chips/nrf5x/src/gpio.rs
Labels: P-Upkeep, nrf, refactor

#2350 fix cortex-m hard fault handler bug
  arch/cortex-m/src/lib.rs
Labels: bug, last-call

#2333 capsules: ltc294x: update to 2.0 syscall
  capsules/src/ltc294x.rs
Labels: tock-2.0

#2156 TicKV: Implement a persistent key/value storage
  Cargo.toml
  libraries/tickv/Cargo.toml
  libraries/tickv/README.md
  libraries/tickv/SPEC.md
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/error_codes.rs
  libraries/tickv/src/flash_controller.rs
  libraries/tickv/src/lib.rs
  libraries/tickv/src/success_codes.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: last-call, tock-libraries

#2353 arch: rv32i: rename stored state
  arch/rv32i/src/syscall.rs
Labels: risc-v

#2359 cortex-m: fix hardfault in systick_handler due to naked_fn noreturn
  arch/cortex-m/src/lib.rs
Labels: bug

#2362 Tock 2.0: port nonvolatile storage & app flash driver
  boards/earlgrey-nexysvideo/src/main.rs
  boards/imix/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/stm32f3discovery/src/main.rs
  capsules/src/app_flash_driver.rs
  capsules/src/fm25cl.rs
  capsules/src/nonvolatile_storage_driver.rs
  capsules/src/nonvolatile_to_pages.rs
  kernel/src/errorcode.rs
  kernel/src/hil/nonvolatile_storage.rs
Labels: HIL, WG-OpenTitan, kernel, tock-2.0

#2335 Tock 2.0: update text_screen driver to 2.0 API
  capsules/src/hd44780.rs
  capsules/src/text_screen.rs
  doc/syscalls/90001_screen.md
  doc/syscalls/90002_touch.md
  doc/syscalls/90003_text_screen.md
  doc/syscalls/README.md
  kernel/src/hil/text_screen.rs
Labels: HIL, tock-2.0

#2364 Tock 2.0: update sound pressure driver
  boards/microbit_v2/src/main.rs
  capsules/src/sound_pressure.rs
Labels: tock-2.0

#2371 Migrate the LowLevelDebug capsule to the Tock 2.0 syscall API.
  boards/earlgrey-nexysvideo/src/main.rs
  boards/hifive1/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  capsules/src/low_level_debug/mod.rs
  doc/syscalls/00008_low_level_debug.md
Labels: WG-OpenTitan, tock-2.0

#2358 kernel: move tbf code to its own library
  kernel/Cargo.toml
  kernel/src/lib.rs
  kernel/src/process.rs
  libraries/tock-tbf/Cargo.toml
  libraries/tock-tbf/README.md
  libraries/tock-tbf/src/lib.rs
  libraries/tock-tbf/src/parse.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, last-call, tock-libraries

#2361 Add core notes of 2021-01-08
  doc/wg/core/notes/core-notes-2021-01-08.md
Labels: documentation

#2368 hmac: Update to use Tock2.0 Driver
  boards/earlgrey-nexysvideo/src/main.rs
  capsules/src/hmac.rs
  capsules/src/virtual_digest.rs
  capsules/src/virtual_hmac.rs
  chips/lowrisc/src/hmac.rs
  kernel/src/hil/digest.rs
Labels: HIL, WG-OpenTitan, tock-2.0

#2367 ctap: Update to use Tock2.0 Driver
  capsules/src/ctap.rs
  capsules/src/usb/ctap.rs
  kernel/src/hil/usb_hid.rs
Labels: HIL, tock-2.0

#2375 GPIO for Tock 2.0.
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/earlgrey-nexysvideo/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/gpio.rs
Labels: WG-OpenTitan, tock-2.0

#2373 usb: Update to use Tock2.0 Driver
  boards/imix/src/main.rs
  capsules/src/usb/usb_user.rs
Labels: tock-2.0

#2351 Yield 2.0
  doc/reference/trd-syscalls.md
  kernel/src/process.rs
  kernel/src/sched.rs
  kernel/src/syscall.rs
Labels: kernel, tock-2.0

#2382 tsl12561: Update to use Tock 2.0 Driver
  capsules/src/tsl2561.rs
Labels: tock-2.0

#2380 sam4l: i2c: set clocks
  chips/sam4l/src/i2c.rs
Labels: sam4l

#2377 Create core-notes-2021-01-22.md
  doc/wg/core/notes/core-notes-2021-01-22.md
Labels: documentation

#2354 kernel: syscall: use `from` fn
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
  kernel/src/syscall.rs
Labels: kernel, last-call, risc-v

#2388 capsules: mlx90614: Update to the Tock 2.0 Driver
  capsules/src/mlx90614.rs
Labels: tock-2.0

#2384 Update I2C master/slave driver to 2.0 syscall API.
  capsules/src/i2c_master_slave_driver.rs
Labels: tock-2.0

#2395 trd: syscalls, 8-bit byte vs word
  doc/reference/trd-syscalls.md
Labels: documentation, tock-2.0

#2378 Add Exit system call class to Tock 2.0.
  doc/reference/trd-syscalls.md
  kernel/src/process.rs
  kernel/src/sched.rs
  kernel/src/syscall.rs
Labels: P-Significant, kernel, tock-2.0

#2398 Clarify that the driver ID and syscall ID are 32-bit values.
  doc/reference/trd-syscalls.md
Labels: documentation, tock-2.0
