Repository tock/tock, pull requests merged in 2021-10, with the labels that each got.

#2824 tock-tbf: Add support for parsing storage IDs and driver permissions
  doc/TockBinaryFormat.md
  libraries/tock-tbf/src/parse.rs
  libraries/tock-tbf/src/types.rs
Labels: tock-libraries

#2785 Add process console shell prompt
  boards/clue_nrf52840/src/main.rs
  boards/components/src/process_console.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/process_console.rs
Labels: waiting-on-author

#2856 chips/lowrisc: Fixup the CSRNG
  chips/lowrisc/src/csrng.rs
Labels: bug

#2849 add a document on how to reduce Tock code size
  doc/CodeSize.md
  doc/README.md
Labels: documentation
