Repository tock/tock, pull requests merged in 2021-02, with the labels that each got.

#2392 TicKV: Update the TicKV implementation
  libraries/tickv/README.md
  libraries/tickv/SPEC.md
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/crc32.rs
  libraries/tickv/src/lib.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: last-call, tock-libraries

#2399 doc: Add note on Take/Optional Cell differences
  doc/Mutable_References.md
Labels: documentation

#2383 kernel: Remove setting/tracking the stack pointer in process.rs
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
  kernel/src/process.rs
  kernel/src/syscall.rs
Labels: kernel, last-call, risc-v

#2402 Tock 2.0 syscall TRD: Allow us to add new return variants in the future.
  doc/reference/trd-syscalls.md
Labels: documentation, tock-2.0

#2403 Tock 2.0 TRD: Allow new error codes to be added in the future.
  doc/reference/trd-syscalls.md
Labels: documentation, tock-2.0

#2406 Tock 2.0: fix system call return variant discriminators
  kernel/src/syscall.rs
Labels: kernel, tock-2.0

#2363 rv32i: transition llvm_asm! to asm!
  arch/rv32i/src/lib.rs
  arch/rv32i/src/syscall.rs
Labels: last-call, risc-v

#2401 Working group notes for 01-29-2021
  doc/wg/core/notes/core-notes-2021-01-29.md
Labels: documentation

#2408 OpenTitan: Connect TicKV
  boards/components/src/lib.rs
  boards/components/src/tickv.rs
  boards/earlgrey-nexysvideo/src/main.rs
  boards/earlgrey-nexysvideo/src/tickv_test.rs
  capsules/Cargo.toml
  capsules/src/lib.rs
  capsules/src/test/kv_system.rs
  capsules/src/test/mod.rs
  capsules/src/tickv.rs
  chips/lowrisc/src/flash_ctrl.rs
  kernel/src/hil/kv_system.rs
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/crc32.rs
  libraries/tickv/src/tickv.rs
Labels: HIL, WG-OpenTitan, last-call, tock-libraries

#2409 Port MAX17205 system call capsule to 2.0
  capsules/src/max17205.rs
Labels: tock-2.0

#2410 Port the PCA9544a system call driver to 2.0
  capsules/src/pca9544a.rs
Labels: tock-2.0

#2412 ErrorCode: adjust ErrorCode discriminators to match system call TRD
  kernel/src/errorcode.rs
Labels: kernel, tock-2.0

#2387 Transition I2CMaster system call driver to 2.0 syscall API
  boards/earlgrey-nexysvideo/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  capsules/src/i2c_master.rs
Labels: WG-OpenTitan, tock-2.0

#2417 Updates SDCard capsule to Tock 2.0 system call API
  capsules/src/sdcard.rs
Labels: tock-2.0

#2418 2.0: kernel: change filter_syscall to ErrorCode
  doc/Syscalls.md
  kernel/src/platform/mod.rs
  kernel/src/sched.rs
Labels: kernel, tock-2.0

#2411 Port BLE advertising to new 2.0 driver interface
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  capsules/src/ble_advertising_driver.rs
Labels: tock-2.0

#2414 Remove tab characters & protect against accidentally introducing them
  boards/components/src/led.rs
  boards/components/src/led_matrix.rs
  capsules/src/l3gd20.rs
  capsules/src/lsm303agr.rs
  capsules/src/lsm303dlhc.rs
  capsules/src/mlx90614.rs
  chips/stm32f303xc/src/i2c.rs
  kernel/src/debug.rs
  tools/run_cargo_fmt.sh
Labels: kernel, stm32

#2421 Add core WG notes for 2021-02-05.
  doc/wg/core/notes/core-notes-2021-02-05.md
Labels: documentation

#2419 add core notes from january 15 2021
  doc/wg/core/notes/core-notes-2021-01-15.md
Labels: documentation

#2137 Simplify grant implementation and fix soundness errors
  capsules/src/alarm.rs
  capsules/src/ble_advertising_driver.rs
  capsules/src/ieee802154/driver.rs
  capsules/src/net/udp/driver.rs
  capsules/src/proximity.rs
  kernel/src/grant.rs
  kernel/src/process.rs
Labels: P-Significant, bug, kernel

#2405 Tock 2.0: clarify subscribe behavior w.r.t. invalid/refused callback
  doc/reference/trd-syscalls.md
Labels: documentation, last-call, tock-2.0

#2393 Port NRF Serialization to 2.0
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  capsules/src/nrf51822_serialization.rs
Labels: tock-2.0

#2407 Tock 2.0: port #2383 (kernel: Remove setting/tracking the stack pointer in process.rs)
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
  kernel/src/process.rs
  kernel/src/syscall.rs
Labels: kernel, last-call, risc-v, tock-2.0

#2434 Tock 2.0 IPC
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/teensy40/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  kernel/src/ipc.rs
  kernel/src/mem.rs
  kernel/src/sched.rs
Labels: kernel

#2441 Change process setup to minimize the initially-accessible amount of memory.
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
Labels: risc-v, tock-2.0

#2433 use const generics to remove duplicate code for cortex-m MPU
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/mpu.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/cortex-m4/src/mpu.rs
  arch/cortex-m7/src/lib.rs
  arch/cortex-m7/src/mpu.rs
Labels: last-call

#2428 Create core-notes-2021-02-12.md
  doc/wg/core/notes/core-notes-2021-02-12.md
Labels: documentation

#2447 Core WG notes for Feburary 19th
  doc/wg/core/notes/core-notes-2020-2-19.md
Labels: documentation
