Repository tock/tock, pull requests merged in 2021-05, with the labels that each got.

#2571 chips: e310x: check for pending mtimer interrupt
  chips/e310x/src/chip.rs
Labels: P-Upkeep

#2572 capsules/l3gd20: migrating non-virtualized driver to Grants
  boards/components/src/l3gd20.rs
  boards/stm32f3discovery/src/main.rs
  capsules/src/l3gd20.rs
Labels: last-call

#2565 April 30th, Core WG Call Notes
  doc/wg/core/notes/core-notes-2021-04-30.md
Labels: documentation

#2583 doc/TockBinaryFormat.md: Add the missing TbfHeaderV2Permissions length
  doc/TockBinaryFormat.md
Labels: P-Upkeep, documentation

#2509 opentitan: Bump the OpenTitan bitstream SHA and enable ePMP
  Makefile
  arch/riscv/src/csr/mod.rs
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
  boards/earlgrey-nexysvideo/README.md
  boards/earlgrey-nexysvideo/src/main.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/hmac.rs
  chips/earlgrey/src/i2c.rs
  chips/earlgrey/src/interrupts.rs
  chips/earlgrey/src/plic.rs
  chips/lowrisc/src/hmac.rs
  libraries/riscv-csr/src/csr.rs
Labels: WG-OpenTitan, last-call, release-blocker, risc-v, tock-libraries

#2584 add notes for core wg meeting 2021-05-14
  doc/wg/core/notes/core-notes-2021-05-14
Labels: documentation

#2538 Make I2C trait return buffers upon request error
  boards/imix/src/test/i2c_dummy.rs
  capsules/src/apds9960.rs
  capsules/src/bus.rs
  capsules/src/crc.rs
  capsules/src/ft6x06.rs
  capsules/src/fxos8700cq.rs
  capsules/src/hts221.rs
  capsules/src/i2c_master.rs
  capsules/src/i2c_master_slave_driver.rs
  capsules/src/isl29035.rs
  capsules/src/lps25hb.rs
  capsules/src/lsm303agr.rs
  capsules/src/lsm303dlhc.rs
  capsules/src/ltc294x.rs
  capsules/src/max17205.rs
  capsules/src/mcp230xx.rs
  capsules/src/mlx90614.rs
  capsules/src/pca9544a.rs
  capsules/src/sht3x.rs
  capsules/src/si7021.rs
  capsules/src/tsl2561.rs
  capsules/src/virtual_i2c.rs
  chips/apollo3/src/iom.rs
  chips/imxrt10xx/src/lpi2c.rs
  chips/lowrisc/src/i2c.rs
  chips/msp432/src/i2c.rs
  chips/nrf52/src/i2c.rs
  chips/sam4l/src/i2c.rs
  chips/stm32f303xc/src/i2c.rs
  chips/stm32f4xx/src/i2c.rs
  kernel/src/errorcode.rs
  kernel/src/hil/i2c.rs
Labels: HIL, kernel, last-call, nrf, sam4l, stm32

#2597 opentitan: Bump the OpenTitan bitstream
  boards/earlgrey-nexysvideo/README.md
  chips/earlgrey/src/interrupts.rs
  chips/earlgrey/src/plic.rs
Labels: WG-OpenTitan

#2589 Bump rust nightly version to 2021-05-27 to fix tock-registers
  .vscode/settings.json
  arch/cortex-m/src/lib.rs
  arch/rv32i/src/lib.rs
  boards/arty_e21/src/main.rs
  capsules/src/lib.rs
  chips/apollo3/src/lib.rs
  chips/earlgrey/src/lib.rs
  chips/imxrt10xx/src/lib.rs
  chips/litex/src/lib.rs
  chips/litex_vexriscv/src/lib.rs
  chips/lowrisc/src/lib.rs
  chips/msp432/src/lib.rs
  chips/nrf52/src/lib.rs
  chips/nrf5x/src/lib.rs
  chips/sam4l/src/lib.rs
  chips/sifive/src/lib.rs
  chips/stm32f303xc/src/lib.rs
  chips/stm32f4xx/src/lib.rs
  chips/swerv/src/lib.rs
  chips/swervolf-eh1/src/lib.rs
  doc/Getting_Started.md
  kernel/src/lib.rs
  libraries/riscv-csr/src/lib.rs
  libraries/tock-cells/src/lib.rs
  libraries/tock-register-interface/src/lib.rs
  rust-toolchain
  shell.nix
  tools/netlify-build.sh
  tools/update_rust_version.sh
Labels: WG-OpenTitan, kernel, nrf, risc-v, sam4l, stm32, tock-libraries

#2602 Fix: Replaced the cfg file with the rev B version.
  boards/hifive1/Makefile
Labels: P-Upkeep

#2592 Add core WG notes for 2021-05-21.
  doc/wg/core/notes/core-notes-2021-05-21.md
Labels: documentation
