Repository tock/tock, pull requests merged in 2021-09, with the labels that each got.

#2806 rv32i/pmp: add clarifying comment to enumeration
  arch/rv32i/src/pmp.rs
Labels: risc-v

#2802 add core notes 2021-08-27
  doc/wg/core/notes/core-notes-2021-08-27.md
Labels: documentation

#2807 Correct punctuation issues in trd-uart.md
  doc/reference/trd-uart.md
Labels: documentation

#2808 Update trd-uart.md
  doc/reference/trd-uart.md
Labels: documentation

#2813 add core notes for August 20, 2021
  doc/wg/core/notes/core-notes-2021-08-20.md
Labels: documentation

#2803 kernel: Add new userspace readable allow syscall
  doc/reference/trd-userspace-readable-allow-syscalls.md
  kernel/src/kernel.rs
  kernel/src/processbuffer.rs
  kernel/src/syscall.rs
  kernel/src/syscall_driver.rs
Labels: kernel, P-Significant

#2795 AES: Initial support for userspace AES
  boards/components/src/ieee802154.rs
  boards/imix/src/test/virtual_aes_ccm_test.rs
  boards/opentitan/src/main.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  capsules/src/symmetric_encryption/aes.rs
  capsules/src/symmetric_encryption/mod.rs
  capsules/src/virtual_aes_ccm.rs
  chips/nrf5x/src/aes.rs
  chips/sam4l/src/aes.rs
Labels: sam4l, nrf

#2817 Add core notes of 2021-09-03
  doc/wg/core/notes/core-notes-2021-09-03.md
Labels: documentation

#2818 Core working group notes, September 10
  doc/wg/core/notes/core-notes-2021-09-10.md
Labels: documentation

#2829 kernel: mpu: Cleanup the comment for the default config type
  kernel/src/platform/mpu.rs
Labels: kernel, P-Upkeep

#2827 capsules/low_level_debug: source DRIVER_NUM from driver::NUM
  capsules/src/driver.rs
  capsules/src/low_level_debug/mod.rs
Labels: P-Upkeep

#2819 components/{gpio,button}: support both referenced and owned GPIO pins
  boards/components/src/button.rs
  boards/components/src/gpio.rs
Labels: last-call

#2728 Add remove_mpu_region() functionality to mirror allocate_region()
  arch/cortex-m/src/mpu.rs
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
  kernel/src/platform/mpu.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel, last-call, risc-v

#2381 kernel: Read Only State
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/swervolf/src/main.rs
  boards/teensy40/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  capsules/src/read_only_state.rs
  doc/syscalls/00009_ros.md
  doc/syscalls/README.md
  kernel/src/kernel.rs
  kernel/src/platform/mod.rs
  kernel/src/platform/platform.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel, last-call

#2825 Bump the OpenTitan SHA and fix failing test cases
  Makefile
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-nexysvideo/Makefile
  boards/opentitan/earlgrey-nexysvideo/run.sh
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/interrupts.rs
  chips/earlgrey/src/plic.rs
  chips/earlgrey/src/timer.rs
  libraries/riscv-csr/src/csr.rs
Labels: tock-libraries, WG-OpenTitan

#2797 ProcessSlice augmentation: add From<> [u8] impls and express chunks() iterator as &ProcessSlice instead of &[Cell<u8>]
  kernel/src/processbuffer.rs
Labels: kernel, last-call

#2816 Update Nightly - Sep 2021
  .vscode/settings.json
  arch/cortex-m/src/lib.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/rv32i/src/lib.rs
  arch/rv32i/src/syscall.rs
  boards/components/src/i2c.rs
  boards/kernel_layout.ld
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/opentitan/src/otbn.rs
  boards/redboard_artemis_nano/src/main.rs
  capsules/src/net/stream.rs
  capsules/src/sht3x.rs
  chips/nrf52/src/usbd.rs
  chips/sam4l/src/usbc/mod.rs
  doc/Getting_Started.md
  rust-toolchain
  tools/netlify-build.sh
  tools/qemu-runner/src/main.rs
  tools/usb/bulk-echo/Cargo.toml
  tools/usb/bulk-test/Cargo.toml
  tools/usb/control-test/Cargo.toml
Labels: sam4l, nrf, risc-v

#2633 CI Hardware Documentation Creation
  doc/CI_Hardware.md
  doc/images/ci-hardware/processdiagram.png
  doc/images/ci-hardware/testsdiagram.png
  doc/images/ci-hardware/uartsanity.png
  doc/images/ci-hardware/ubuntuexample.png
  doc/images/ci-hardware/workflow.png
Labels: documentation

#2759 Add a kernel config option to elide process printing code
  kernel/src/config.rs
  kernel/src/process_standard.rs
Labels: kernel, last-call

#2835 kernel: process: fmt, spell chk, & update comments
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel

#2828 Finalize the HIL Design TRD
  doc/reference/trd2-hil-design.md
Labels: documentation

#2842 tock-registers: rename TryFromValue::try_from to try_from_value
  libraries/tock-register-interface/src/fields.rs
Labels: tock-libraries

#2844 Core working group notes, September 24
  doc/wg/core/notes/core-notes-2021-09-24.md
Labels: documentation

#2840 Add core notes of 2021-09-17
  doc/wg/core/notes/core-notes-2021-09-17.md
Labels: documentation

#2697 HIL: Digest: Add SHA/HMAC verify
  boards/opentitan/src/tests/hmac.rs
  capsules/src/hmac.rs
  capsules/src/sha.rs
  capsules/src/virtual_digest.rs
  capsules/src/virtual_hmac.rs
  capsules/src/virtual_sha.rs
  chips/lowrisc/src/hmac.rs
  kernel/src/hil/digest.rs
Labels: last-call, HIL

#2850 OpenTitan: Application fixups
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/syscall.rs
Labels: bug, risc-v

#2847 use -Zbuild-std=core to build the std library with our optimization settings
  boards/Makefile.common
Labels: last-call
