Repository tock/tock, pull requests merged in 2021-03, with the labels that each got.

#2456 Filtering fix 2.0
  capsules/src/gpio_async.rs
  doc/Userland.md
  kernel/src/sched.rs
Labels: kernel

#2455 2.0 courses update
  doc/courses/2017-11-SenSys/README.md
  doc/courses/2018-11-SenSys/README.md
  doc/courses/README.md
  doc/courses/rustconf/README.md
  doc/courses/sosp/README.md
Labels: documentation

#2463 Bump tockloader to version 1.6.0
  shell.nix
Labels: P-Upkeep

#2468 Pr 2446 comment cleanup
  kernel/src/mem.rs
Labels: kernel

#2437 kernel: process: Add debug information on panic for grants
  kernel/src/process.rs
Labels: kernel

#2420 RISC-V: Add support for detecting locked PMP regions, no need to sort
  arch/rv32i/src/pmp.rs
  chips/arty_e21_chip/src/chip.rs
  chips/e310x/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/litex_vexriscv/src/chip.rs
Labels: WG-OpenTitan, last-call, risc-v

#2465 Tock 2.0 - ReadWriteAppSlice: require mutable borrow for ReadWrite::mut_map_or
  capsules/src/adc.rs
  capsules/src/spi_controller.rs
  capsules/src/spi_peripheral.rs
  kernel/src/mem.rs
Labels: bug, kernel, release-blocker, tock-2.0

#2464 Tock 2.0 - AppSlice: fix unsoundness with arbitrary pointers in slices
  kernel/src/mem.rs
Labels: bug, kernel, last-call, release-blocker, tock-2.0

#2474 Tock 2.0: Remove `mut_ptr` method from `ReadWrite` trait
  kernel/src/mem.rs
Labels: kernel, tock-2.0

#2458 RFC: kernel: change `unsafe` handling
  kernel/src/process.rs
  kernel/src/sched.rs
  kernel/src/syscall.rs
Labels: kernel, tock-2.0

#2476 Tock 2.0: from_command_result -> from_command_return
  kernel/src/sched.rs
  kernel/src/syscall.rs
Labels: kernel, tock-2.0

#2479 Remove ExitCall type, don't specify representation of YieldCall type
  kernel/src/syscall.rs
Labels: kernel

#2478 Cortex-m: document that userspace stack pointer will always be aligned on entry to the kernel
  arch/cortex-m/src/syscall.rs
Labels: tock-2.0

#2475 doc: add core notes 2021-03-05
  doc/wg/core/notes/core-notes-2021-02-19.md
  doc/wg/core/notes/core-notes-2021-03-05.md
Labels: documentation

#2472 riscv: Convert CSRs to use const generics
  arch/riscv/src/csr/mod.rs
  arch/rv32i/src/pmp.rs
  libraries/riscv-csr/src/csr.rs
Labels: risc-v, tock-libraries

#2422 OpenTitan: Enable PMP for kernel regions
  arch/rv32i/src/pmp.rs
  boards/earlgrey-nexysvideo/src/main.rs
  chips/earlgrey/src/chip.rs
Labels: WG-OpenTitan, risc-v

#2482 Core WG notes from March 12, 2021
  doc/wg/core/notes/core-notes-2021-03-12.md
Labels: documentation

#2483 Core working group notes from 2021-02-26
  doc/wg/core/notes/core-notes-2021-02-26.md
Labels: documentation

#2487 allow: move allow system calls handling to sched.rs
  kernel/src/process.rs
  kernel/src/sched.rs
Labels: kernel, tock-2.0

#2452 arch: use target-feature for thumbv7em
  arch/cortex-m/src/lib.rs
Labels: last-call

#2488 add Makefile rules for analyzing stack frames
  Makefile
  boards/Makefile.common
  tools/stack_analysis.sh
Labels: last-call

#2495 Remove @niklasad1 from Core Working Group
  doc/wg/core/README.md
Labels: P-Significant, documentation

#2500 Fix ADC 2.0 Bug
  capsules/src/adc.rs
Labels: bug, tock-2.0

#2492 Update Rust Nightly to 2021-03-19
  .vscode/settings.json
  boards/arty_e21/src/io.rs
  boards/earlgrey-nexysvideo/src/io.rs
  boards/hifive1/src/io.rs
  chips/apollo3/src/iom.rs
  doc/Getting_Started.md
  rust-toolchain
  shell.nix
  tools/netlify-build.sh
Labels: WG-OpenTitan

#2489 litex/{sim, arty}: bump tock-litex release (updating LiteX packages)
  boards/litex/arty/README.md
  boards/litex/arty/src/litex_generated_constants.rs
  boards/litex/sim/README.md
  boards/litex/sim/src/litex_generated_constants.rs
Labels: P-Upkeep

#2494 kernel: remove memory slice from Process struct
  kernel/src/process.rs
Labels: kernel

#2497 kernel: process: Remove unsafe by switching flash function from add to wrapping_add
  kernel/src/process.rs
Labels: kernel

#2499 SweRVolf: Add support for the platform timers
  arch/riscv/src/csr/mie.rs
  arch/riscv/src/csr/mip.rs
  boards/swervolf/src/main.rs
  chips/swerv/src/eh1_pic.rs
  chips/swerv/src/eh1_timer.rs
  chips/swerv/src/lib.rs
  chips/swervolf-eh1/src/chip.rs
Labels: risc-v
