Repository tock/tock, pull requests merged in 2021-12, with the labels that each got.

#2905 add core notes for november 19 2021
  doc/wg/core/notes/core-notes-2021-11-19.md
Labels: documentation, last-call

#2902 Add core notes of 2021-11-12
  doc/wg/core/notes/core-notes-2021-11-12.md
Labels: documentation

#2898 OpenTitan: OTBN: A few more OTBN fixes
  boards/opentitan/src/tests/otbn.rs
  chips/lowrisc/src/otbn.rs
  chips/lowrisc/src/virtual_otbn.rs
Labels: WG-OpenTitan

#2912 rv32i: use inline asm in/out register specs for semihosting
  arch/rv32i/src/lib.rs
Labels: risc-v

#2915 Update rust-toolchain to 2021-12-04
  .github/workflows/litex_sim.yml
  .vscode/settings.json
  arch/cortex-m/src/lib.rs
  arch/cortex-m0/src/lib.rs
  arch/rv32i/src/lib.rs
  chips/litex_vexriscv/src/lib.rs
  doc/Getting_Started.md
  libraries/riscv-csr/src/lib.rs
  rust-toolchain
  tools/netlify-build.sh
Labels: tock-libraries, risc-v

#2852 kernel: utilities: Initial commit of mut_imut_buffer
  kernel/src/utilities/mod.rs
  kernel/src/utilities/mut_imut_buffer.rs
Labels: kernel

#2913 Create core-notes-2021-12-03.md
  doc/wg/core/notes/core-notes-2021-12-03.md
Labels: documentation

#2904 Updates to permissions TLV related code
  kernel/src/platform/platform.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, tock-libraries

#2917 dont reuse numeric labels in asm
  arch/cortex-m0/src/lib.rs
Labels: last-call

#2919 Print allowed buffer's length in decimal
  kernel/src/kernel.rs
Labels: kernel, last-call

#2893 esp32: UART receive
  boards/esp32-c3-devkitM-1/src/main.rs
  chips/esp32/src/uart.rs
Labels: last-call

#2918 OpenTitan: Convert the OTBN to use syncronous calls
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/otbn.rs
  chips/earlgrey/src/chip.rs
  chips/lowrisc/src/otbn.rs
  chips/lowrisc/src/virtual_otbn.rs
Labels: WG-OpenTitan

#2921 boards/opentitan: tests: otbn: Improve failure output
  boards/opentitan/src/tests/otbn.rs
Labels: enhancement, P-Upkeep, WG-OpenTitan

#2920 boards/opentitan: tests: hmac: Remove global static buffers
  boards/opentitan/src/tests/hmac.rs
Labels: WG-OpenTitan

#2812 Add a software hash to Tock and connect it to TicKV
  boards/components/src/tickv.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/mod.rs
  boards/opentitan/src/tests/sip_hash.rs
  boards/opentitan/src/tests/tickv_test.rs
  capsules/src/lib.rs
  capsules/src/sip_hash.rs
  capsules/src/test/kv_system.rs
  capsules/src/tickv.rs
  kernel/src/hil/hasher.rs
  kernel/src/hil/kv_system.rs
  kernel/src/hil/mod.rs
Labels: HIL, WG-OpenTitan

#2916 tock-register-interface: improve read_as_enum documentation
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/fields.rs
  libraries/tock-register-interface/src/interfaces.rs
Labels: last-call, tock-libraries

#2927 kernel: fix typo in handle_syscall filtering comment
  kernel/src/kernel.rs
Labels: kernel

#2926 boards/opentitan: tests: otbn: Remove global static buffers
  boards/opentitan/src/tests/otbn.rs
Labels: WG-OpenTitan

#2925 Add notes from 12/17/21 meeting.
  doc/wg/core/notes/core-notes-2021-12-17.md
Labels: documentation

#2924 Core notes from December 10th meeting
  doc/wg/core/notes/core-notes-2021-12-10.md
Labels: documentation
