Repository tock/tock, pull requests merged in 2022-04, with the labels that each got.

#2999 console: Give own buffers to each component
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/console.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/swervolf/src/main.rs
  boards/teensy40/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/console.rs
Labels: last-call, WG-OpenTitan

#3002 add core notes march 25, 2022
  doc/wg/core/notes/core-notes-2022-03-25.md
Labels: documentation

#3013 tock-register-interface: Provide `none` method for FieldValue type.
  libraries/tock-register-interface/src/fields.rs
Labels: tock-libraries

#3014 tock-registers: Implement From field enum value type for FieldValue.
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/fields.rs
Labels: last-call, tock-libraries

#3020 Core WG notes, April 15th
  doc/wg/core/notes/core-notes-2022-04-15.md
Labels: documentation

#3016 Core WG meeting notes, April 1st
  doc/wg/core/notes/core-notes-2022-04-01.md
Labels: documentation

#3026 tickv: Fixup initialise() typo
  boards/components/src/tickv.rs
  boards/swervolf/README.md
  capsules/src/tickv.rs
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/lib.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: tock-libraries
