Repository tock/tock, pull requests merged in 2022-11, with the labels that each got.

#3302 Add Core Team Call Notes of 2022-09-23
  doc/wg/core/notes/core-notes-2022-09-23.md
Labels: documentation, last-call

#3309 kernel: hil: rsa_math: Fixup the mutable Client
  kernel/src/hil/public_key_crypto/rsa_math.rs
Labels: kernel

#3323 kernel: fixup typo for struct ProcessCustomGrantIdentifier | capsule: typo for TickFSFlashCtrl
  capsules/src/tickv.rs
  kernel/src/grant.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel

#3326 Add core WG notes for `2022-11-11`.
  doc/wg/core/notes/core-notes-2022-11-11.md
Labels: documentation

#3329 chips/lowrisc/spi_host: refactor and rustify.
  chips/lowrisc/src/spi_host.rs
Labels: WG-OpenTitan

#3320 boards/opentitan: fix verilator app support
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/run.sh
Labels: WG-OpenTitan

#3334 libraries/tock-cells/OptionalCell: remove `T: Default` constraint
  libraries/tock-cells/src/optional_cell.rs
Labels: P-Upkeep, tock-libraries
