Repository tock/tock, pull requests merged in 2022-06, with the labels that each got.

#2756 TRD for UART HIL
  doc/reference/trd-uart.md
Labels: documentation

#3051 Add core WG notes for 2022-06-03
  doc/wg/core/notes/core-notes-2022-06-03.md
Labels: documentation

#2899 OpenTitan: Add support for hardware RSA operations
  boards/opentitan/src/main.rs
  boards/opentitan/src/otbn.rs
  boards/opentitan/src/tests/otbn.rs
  boards/opentitan/src/tests/rsa.rs
  boards/opentitan/src/tests/rsa_4096.rs
  chips/lowrisc/src/lib.rs
  chips/lowrisc/src/rsa.rs
  kernel/src/hil/public_key_crypto/mod.rs
  kernel/src/hil/public_key_crypto/rsa_math.rs
Labels: kernel, WG-OpenTitan

#2985 AES: Add HIL for AES GCM
  capsules/src/test/aes_gcm.rs
  capsules/src/test/mod.rs
  kernel/src/hil/symmetric_encryption.rs
Labels: HIL

#3058 Unify doc/wg/core/notes filename prefixes
  doc/wg/core/notes/core-notes-2020-02-21.txt
  doc/wg/core/notes/core-notes-2020-02-28.txt
  doc/wg/core/notes/core-notes-2020-03-06.txt
  doc/wg/core/notes/core-notes-2020-03-13.txt
  doc/wg/core/notes/core-notes-2020-06-12.md
Labels: documentation

#3060 boards/opentitan: Don't run nops when targetting Verilator
  boards/opentitan/src/io.rs
Labels: WG-OpenTitan

#3041 Rework of Digest HIL
  boards/components/src/digest.rs
  boards/components/src/hmac.rs
  boards/components/src/udp_driver.rs
  boards/imix/src/imix_components/test/mock_udp.rs
  boards/imix/src/imix_components/test/mock_udp2.rs
  boards/opentitan/src/tests/hmac.rs
  boards/opentitan/src/tests/sip_hash.rs
  capsules/src/crc.rs
  capsules/src/hmac.rs
  capsules/src/net/icmpv6/icmpv6_send.rs
  capsules/src/net/ipv6/ipv6.rs
  capsules/src/net/ipv6/ipv6_send.rs
  capsules/src/net/udp/driver.rs
  capsules/src/net/udp/udp_send.rs
  capsules/src/sha.rs
  capsules/src/sip_hash.rs
  capsules/src/test/crc.rs
  capsules/src/test/udp.rs
  capsules/src/tickv.rs
  capsules/src/virtual_digest.rs
  capsules/src/virtual_hmac.rs
  capsules/src/virtual_sha.rs
  chips/lowrisc/src/hmac.rs
  chips/sam4l/src/crccu.rs
  doc/reference/trd-digest.md
  kernel/src/hil/crc.rs
  kernel/src/hil/digest.rs
  kernel/src/hil/hasher.rs
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel, sam4l, last-call, HIL, WG-OpenTitan

#3010 Software implementation of SHA-256 in a capsule
  boards/imix/src/main.rs
  boards/imix/src/test/mod.rs
  boards/imix/src/test/sha256_test.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/mod.rs
  boards/opentitan/src/tests/sha256soft_test.rs
  capsules/src/lib.rs
  capsules/src/sha256.rs
  capsules/src/test/mod.rs
  capsules/src/test/sha256.rs
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel, last-call, WG-OpenTitan
