Repository tock/tock, pull requests merged in 2022-02, with the labels that each got.

#2955 opentitan: Verilator fixup for ot bump
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/run.sh
  boards/opentitan/earlgrey-nexysvideo/Makefile
  boards/opentitan/earlgrey-nexysvideo/run.sh
Labels: last-call, WG-OpenTitan

#2953 opentitan: Makefile: fixup test flash-layout
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-nexysvideo/Makefile
Labels: WG-OpenTitan

#2954 boards/opentitan: Bump the a newer build
  Makefile
  boards/opentitan/README.md
  boards/opentitan/src/tests/otbn.rs
  chips/earlgrey/src/aes.rs
  chips/earlgrey/src/interrupts.rs
  chips/lowrisc/src/csrng.rs
  chips/lowrisc/src/flash_ctrl.rs
  chips/lowrisc/src/otbn.rs
Labels: WG-OpenTitan

#2952 Core WG call notes from Jan 28th
  doc/wg/core/notes/core-notes-2022-01-28.md
Labels: documentation

#2956 doc: add notes for 2022-01-21
  doc/wg/core/notes/core-notes-2022-01-21.md
Labels: documentation

#2839 Initial commit of RSA Key support
  boards/opentitan/src/tests/mod.rs
  boards/opentitan/src/tests/rsa.rs
  boards/opentitan/src/tests/rsa_4096.rs
  capsules/src/lib.rs
  capsules/src/public_key_crypto/mod.rs
  capsules/src/public_key_crypto/rsa_keys.rs
  doc/reference/trd-public-private-keys.md
  kernel/src/hil/mod.rs
  kernel/src/hil/public_key_crypto/keys.rs
  kernel/src/hil/public_key_crypto/mod.rs
Labels: kernel, HIL, WG-OpenTitan

#2957 doc: Update Instructions: Building build.rs requires a host toolchain for linking
  doc/Getting_Started.md
Labels: documentation

#2964 libraries: cells: remove option_result_contains
  libraries/tock-cells/src/lib.rs
  libraries/tock-cells/src/optional_cell.rs
Labels: tock-libraries

#2963 opentitan: verilator: fixup test build
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/run.sh
  boards/opentitan/earlgrey-nexysvideo/Makefile
  boards/opentitan/earlgrey-nexysvideo/run.sh
Labels: WG-OpenTitan

#2973 ESP32-C3: Perform minor improvements to documentation
  arch/rv32i/src/syscall.rs
  boards/esp32-c3-devkitM-1/README.md
  boards/esp32-c3-devkitM-1/src/main.rs
  chips/esp32-c3/src/chip.rs
  chips/esp32-c3/src/interrupts.rs
  chips/esp32/src/gpio.rs
  chips/esp32/src/uart.rs
Labels: risc-v

#2971 Add core notes of 2022-02-11
  doc/wg/core/notes/core-notes-2022-02-11.md
Labels: documentation

#2966 opentitan: add spi_host
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/mod.rs
  boards/opentitan/src/tests/spi_host.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/lib.rs
  chips/earlgrey/src/spi_host.rs
  chips/lowrisc/src/lib.rs
  chips/lowrisc/src/spi_host.rs
Labels: WG-OpenTitan
