Repository tock/tock, pull requests merged in 2022-01, with the labels that each got.

#2943 Fix link to Core WG
  doc/Maintenance.md
Labels: documentation

#2949 Remove the threat model's "not yet implemented" note.
  doc/threat_model/README.md
Labels: documentation

#2939 chips/earlgrey: Don't use MIP::MTIMER bit
  boards/opentitan/src/main.rs
  chips/earlgrey/src/chip.rs
Labels: last-call, WG-OpenTitan

#2947 arch/rv32i: pmp/ePMP: Fixup PMP comparision
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
Labels: last-call, risc-v
