Repository tock/tock, pull requests merged in 2022-03, with the labels that each got.

#2978 Add core WG meeting notes for `2022-02-18`.
  doc/wg/core/notes/core-notes-2022-02-18.md
Labels: documentation

#2914 Propose a draft TRD for app completion codes
  doc/reference/trd106-completion-codes.md
Labels: documentation

#2979 Notes from quick meeting today
  doc/wg/core/notes/core-notes-2022-02-25.md
Labels: documentation

#2959 Update Nightly to Feb 2022
  .vscode/settings.json
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/scb.rs
  arch/cortex-m/src/support.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/rv32i/src/lib.rs
  arch/rv32i/src/support.rs
  arch/rv32i/src/syscall.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/apollo3/src/lib.rs
  chips/arty_e21_chip/src/chip.rs
  chips/arty_e21_chip/src/lib.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/lib.rs
  chips/esp32-c3/src/chip.rs
  chips/esp32-c3/src/lib.rs
  chips/litex_vexriscv/src/interrupt_controller.rs
  chips/litex_vexriscv/src/lib.rs
  chips/msp432/src/lib.rs
  chips/rp2040/src/clocks.rs
  chips/rp2040/src/lib.rs
  chips/stm32f4xx/src/fsmc.rs
  chips/stm32f4xx/src/lib.rs
  chips/swervolf-eh1/src/lib.rs
  doc/Getting_Started.md
  libraries/riscv-csr/src/csr.rs
  libraries/riscv-csr/src/lib.rs
  rust-toolchain
  tools/netlify-build.sh
Labels: tock-libraries, risc-v, WG-OpenTitan, stm32

#2928 Add userspace support for the Key/Value System
  boards/components/src/kv_system.rs
  boards/components/src/lib.rs
  boards/opentitan/src/main.rs
  capsules/src/driver.rs
  capsules/src/kv_driver.rs
  capsules/src/kv_store.rs
  capsules/src/lib.rs
  capsules/src/test/kv_system.rs
  capsules/src/tickv.rs
  doc/TockBinaryFormat.md
  kernel/src/hil/kv_system.rs
  kernel/src/lib.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
  kernel/src/storage_permissions.rs
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tickv.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, last-call, tock-libraries, HIL, WG-OpenTitan

#2980 chips: move arch config to function level
  chips/rp2040/src/clocks.rs
  chips/stm32f4xx/src/fsmc.rs
Labels: stm32

#2986 OpenTitan: Some SPI Host fixes
  Makefile
  boards/opentitan/earlgrey-cw310/run.sh
  boards/opentitan/earlgrey-nexysvideo/run.sh
  chips/lowrisc/src/spi_host.rs
Labels: WG-OpenTitan

#2984 Add core WG notes for 2022-03-04.
  doc/wg/core/notes/core-notes-2022-03-04.md
Labels: documentation

#2831 add redv board support
  Cargo.toml
  boards/README.md
  boards/redboard_redv/Cargo.toml
  boards/redboard_redv/Makefile
  boards/redboard_redv/README.md
  boards/redboard_redv/build.rs
  boards/redboard_redv/layout.ld
  boards/redboard_redv/src/io.rs
  boards/redboard_redv/src/main.rs
Labels: waiting-on-author

#2991 Core WG call notes, March 11th 2022
  doc/wg/core/notes/core-notes-2022-03-11.md
Labels: documentation

#3000 Core WG notes for 2022-03-18.
  doc/wg/core/notes/core-notes-2022-03-18.md
Labels: documentation
