Repository tock/tock, pull requests merged in 2022-05, with the labels that each got.

#3036 Documentation: Fix Typo in syscall reference doc
  doc/reference/trd104-syscalls.md
Labels: documentation

#3027 Add core WG notes for 2022-04-08.
  doc/wg/core/notes/core-notes-2022-04-08.md
Labels: documentation

#2988 Remove const_fn_trait_bound feature and update nightly (Mar 2022)
  .vscode/settings.json
  arch/cortex-m/src/lib.rs
  arch/rv32i/src/lib.rs
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/process_console.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/imix/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/otbn.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/swervolf/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/lib.rs
  chips/apollo3/src/lib.rs
  chips/earlgrey/src/lib.rs
  chips/esp32-c3/src/lib.rs
  chips/esp32/src/lib.rs
  chips/imxrt10xx/src/lib.rs
  chips/litex/src/lib.rs
  chips/litex_vexriscv/src/lib.rs
  chips/lowrisc/src/lib.rs
  chips/msp432/src/lib.rs
  chips/nrf52/src/lib.rs
  chips/nrf5x/src/lib.rs
  chips/rp2040/src/lib.rs
  chips/sam4l/src/lib.rs
  chips/sifive/src/lib.rs
  chips/stm32f303xc/src/lib.rs
  chips/stm32f4xx/src/lib.rs
  chips/swerv/src/lib.rs
  chips/swervolf-eh1/src/lib.rs
  doc/Getting_Started.md
  kernel/src/lib.rs
  libraries/riscv-csr/src/lib.rs
  libraries/tock-cells/src/lib.rs
  libraries/tock-register-interface/src/lib.rs
  rust-toolchain
  tools/netlify-build.sh
  tools/update_rust_version.sh
Labels: kernel, sam4l, nrf, last-call, tock-libraries, risc-v, WG-OpenTitan, stm32

#2935 Add embedded data analysis tool
  tools/embedded_data_analyzer.py
  tools/embedded_data_visualizer.py
Labels: last-call

#3023 screen HIL: Add separate set_power
  capsules/src/screen.rs
  capsules/src/st77xx.rs
  doc/syscalls/90001_screen.md
  kernel/src/hil/screen.rs
Labels: HIL

#3029 Core working group notes of 2022-04-22
  doc/wg/core/notes/core-notes-2022-04-22.md
Labels: documentation

#3038 kernel/dynamic_deferred_call: document multi-handle client behavior
  kernel/src/dynamic_deferred_call.rs
Labels: kernel, P-Upkeep

#3025 boards/opentitan: Remove support for Nexys Video
  Cargo.toml
  Makefile
  boards/README.md
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Cargo.toml
  boards/opentitan/earlgrey-nexysvideo/.cargo/config
  boards/opentitan/earlgrey-nexysvideo/Cargo.toml
  boards/opentitan/earlgrey-nexysvideo/Makefile
  boards/opentitan/earlgrey-nexysvideo/build.rs
  boards/opentitan/earlgrey-nexysvideo/layout.ld
  boards/opentitan/earlgrey-nexysvideo/run.sh
  boards/opentitan/earlgrey-nexysvideo/src
  boards/opentitan/earlgrey-nexysvideo/test_layout.ld
  boards/opentitan/src/main.rs
  chips/earlgrey/Cargo.toml
  chips/earlgrey/src/chip_config.rs
  doc/wg/opentitan/README.md
  tools/board-runner/src/earlgrey_nexysvideo.rs
  tools/board-runner/src/main.rs
  tools/qemu-runner/src/main.rs
Labels: WG-OpenTitan

#3037 Clarify the definition of TBF's protected region
  doc/TockBinaryFormat.md
Labels: documentation

#3034 tickv: Prepare for v1.0 release
  libraries/tickv/Cargo.toml
  libraries/tickv/README.md
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: last-call, tock-libraries

#2989 docs: Clarify allow usage
  capsules/src/console.rs
  doc/Syscalls.md
  doc/reference/trd104-syscalls.md
  doc/syscalls/00001_console.md
  kernel/src/syscall_driver.rs
Labels: documentation, kernel

#3033 doc: Update alarm
  doc/syscalls/00000_alarm.md
Labels: documentation

#3032 STM32f4xx: Properly support 4MHz SPI rate
  chips/stm32f4xx/src/spi.rs
Labels: stm32

#3042 Core working group notes of 2022-05-06
  doc/wg/core/notes/core-notes-2022-05-06.md
Labels: documentation

#3044 libraries/tickv: Remove space from keyword
  libraries/tickv/Cargo.toml
Labels: tock-libraries

#3048 Core WG call notes, May 20th
  doc/wg/core/notes/core-notes-2022-05-20.md
Labels: documentation

#3049 Wrap VolatileCell around Cell; save the world
  capsules/src/usb/descriptors.rs
  libraries/tock-cells/src/volatile_cell.rs
Labels: tock-libraries
