Repository tock/tock, pull requests merged in 2022-08, with the labels that each got.

#3128 boards: housekeeping: fixup typos
  boards/components/src/ft6x06.rs
  boards/imix/src/test/i2c_dummy.rs
  boards/imix/src/test/spi_slave_dummy.rs
  boards/nano_rp2040_connect/README.md
  boards/nordic/nrf52dk/src/tests/uart.rs
  boards/opentitan/README.md
  boards/opentitan/src/tests/rsa.rs
  boards/opentitan/src/tests/rsa_4096.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_redv/README.md
  boards/stm32f412gdiscovery/README.md
  boards/swervolf/README.md
  boards/teensy40/README.md
Labels: P-Upkeep, WG-OpenTitan

#3126 [trivial] tock-registers: mark two methods as `const`
  libraries/tock-register-interface/src/fields.rs
Labels: tock-libraries

#3120 libraries: tickv: Convert panics to errors
  libraries/tickv/src/tickv.rs
Labels: tock-libraries

#3132 [up-keep] arch: fixup typos
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/scb.rs
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
Labels: risc-v

#3134 use deferred calls to report aborted reception in sam4l uart
  chips/sam4l/src/chip.rs
  chips/sam4l/src/deferred_call_tasks.rs
  chips/sam4l/src/usart.rs
Labels: sam4l, release-blocker

#3142 Update capsule documentation for 2.1 release
  capsules/README.md
  capsules/src/kv_store.rs
  capsules/src/read_only_state.rs
  capsules/src/tickv.rs
Labels: release-blocker

#3144 readmes: update links
  boards/clue_nrf52840/README.md
  boards/pico_explorer_base/README.md
  doc/reference/trd-digest.md
  doc/reference/trd-uart.md
Labels: release-blocker

#3136 Fix secondary alarm from firing immediately during alarm callback
  capsules/src/virtual_alarm.rs
Labels: last-call

#3140 boards/redboard_artemis_nano: Fixup app loading
  boards/redboard_artemis_nano/Makefile
Labels: release-blocker

#3152 restore UDP kernel_buffer in event of incorrect length error
  capsules/src/net/udp/driver.rs
Labels: release-blocker

#3156 kernel: wrap config.rs comments
  kernel/src/config.rs
Labels: kernel

#3151 tock-registers: release v0.8
  libraries/tock-register-interface/CHANGELOG.md
  libraries/tock-register-interface/Cargo.toml
Labels: tock-libraries

#3154 NRF serialization: Handle restarted app in 2.0 world
  capsules/src/nrf51822_serialization.rs
Labels: release-blocker

#3159 Fix temperature_stm driver to use 16 bits
  capsules/src/temperature_stm.rs
Labels: release-blocker

#3149 boards/litex: update pinned tock-litex release to 2022081701
  .github/workflows/litex_sim.yml
  boards/litex/arty/README.md
  boards/litex/arty/src/litex_generated_constants.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/README.md
Labels: last-call, release-blocker

#3153 capsules: fxos8700cq: fix i2c deactivate buf len
  capsules/src/fxos8700cq.rs
Labels: release-blocker

#3160 stm32f4: use deferred tasks to return buffers
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/deferred_calls.rs
  chips/stm32f4xx/src/usart.rs
Labels: release-blocker, stm32

#3139 boards/redboard_artemis: Workaround Hard Fault Exception
  boards/redboard_artemis_nano/src/main.rs
  chips/apollo3/src/lib.rs
Labels: release-blocker

#3164 stm: use rng peripherals for all stm32f4xx
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  chips/stm32f412g/src/interrupt_service.rs
  chips/stm32f412g/src/stm32f412g_nvic.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f446re/src/lib.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/nvic.rs
Labels: release-blocker, stm32

#3169 Update stored kernel version to 2.1
  boards/Makefile.common
  capsules/src/process_console.rs
  kernel/src/lib.rs
  kernel/src/process_standard.rs
  kernel/src/process_utilities.rs
Labels: kernel, release-blocker

#3174 stm: add adc, gpio pins and temperature
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  chips/stm32f412g/src/interrupt_service.rs
  chips/stm32f412g/src/lib.rs
  chips/stm32f412g/src/stm32f412g_nvic.rs
  chips/stm32f412g/src/trng_registers.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f429zi/src/trng_registers.rs
  chips/stm32f446re/src/lib.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/nvic.rs
  chips/stm32f4xx/src/trng.rs
Labels: release-blocker, stm32
