Repository tock/tock, pull requests merged in 2022-09, with the labels that each got.

#3186 stm: use deferred tasks to abort uart tx/rx
  chips/stm32f303xc/src/chip.rs
  chips/stm32f303xc/src/deferred_call_tasks.rs
  chips/stm32f303xc/src/usart.rs
Labels: stm32

#3185 readme: Update for 2.1
  README.md
Labels: rfc, last-call, release-blocker

#3170 doc: add core notes 2022-08-26
  doc/wg/core/notes/core-notes-2022-08-26.md
Labels: documentation

#3095 arm/cortex-m/syscall: replace volatile userspace RAM accesses with regular pointer reads/writes
  arch/cortex-m/src/syscall.rs
Labels: blocked-AfterRelease

#3199 Update CHANGELOG for Tock 2.1 release
  CHANGELOG.md
Labels: documentation

#2967 HIL: Make TemperatureClient receive Result<i32, ErrorCode> values
  capsules/src/analog_sensor.rs
  capsules/src/bme280.rs
  capsules/src/bmp280.rs
  capsules/src/hts221.rs
  capsules/src/l3gd20.rs
  capsules/src/lsm303agr.rs
  capsules/src/lsm303dlhc.rs
  capsules/src/lsm6dsoxtr.rs
  capsules/src/mlx90614.rs
  capsules/src/sht3x.rs
  capsules/src/si7021.rs
  capsules/src/temperature.rs
  capsules/src/temperature_rp2040.rs
  capsules/src/temperature_stm.rs
  chips/nrf5x/src/temperature.rs
  kernel/src/hil/sensors.rs
Labels: nrf, HIL

#3177 Screen HIL: Fix set_brightness
  capsules/src/lpm013m126.rs
  kernel/src/hil/screen.rs
Labels: HIL

#3206 litex-sim-ci: pin elf2tab to v0.9.0 to unbreak CI
  .github/workflows/litex_sim.yml
Labels: P-Upkeep

#3191 doc: lay out board 'tiers'
  boards/README.md
Labels: last-call

#3205 OpenTitan: Prepare to bump to the latest RTL SHA
  arch/riscv/src/csr/mseccfg.rs
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/mod.rs
Labels: risc-v, WG-OpenTitan

#3192 Add Core Team Call Notes of 2022-09-02
  doc/wg/core/notes/core-notes-2022-09-02.md
Labels: documentation

#3210 litex-sim-ci: update Tockloader & libtock-c rev, change to rv32imc
  .github/workflows/litex_sim.yml
Labels: P-Upkeep, last-call

#3084 Define Buzzer HIL and PWM Buzzer Driver
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  capsules/src/buzzer_driver.rs
  capsules/src/buzzer_pwm.rs
  capsules/src/lib.rs
  kernel/src/hil/buzzer.rs
  kernel/src/hil/mod.rs
Labels: last-call, HIL

#3213 boards/opentitan: fixup flash_ctrl test
  boards/opentitan/src/tests/flash_ctrl.rs
Labels: WG-OpenTitan

#3207 Notes from Core Working Group call, Sep 09
  doc/wg/core/notes/core-notes-2022-09-09.md
Labels: documentation

#3227 doc: porting: note about HW fit
  doc/Porting.md
Labels: documentation

#3201 cortex-m: mpu: simplify error check
  arch/cortex-m/src/mpu.rs
Labels: P-Upkeep

#3239 `static_buf!()`: Remove `StaticUninitializedBuffer` and `UninitializedBuffer` in favor of `MaybeUninit`, update component conventions to match
  boards/components/src/console.rs
  boards/components/src/lpm013m126.rs
  boards/opentitan/src/tests/flash_ctrl.rs
  boards/opentitan/src/tests/hmac.rs
  doc/Porting.md
  doc/Soundness.md
  kernel/src/component.rs
  kernel/src/utilities/static_init.rs
Labels: kernel, WG-OpenTitan

#3242 tock-registers: release v0.8.1
  libraries/tock-register-interface/CHANGELOG.md
  libraries/tock-register-interface/Cargo.toml
Labels: tock-libraries

#3245 boards/opentitan/tests: fixup macro syntax
  boards/opentitan/src/tests/flash_ctrl.rs
  boards/opentitan/src/tests/hmac.rs
Labels: WG-OpenTitan

#3056 OpenTitan: Bump to the latest RTL SHA
  Makefile
  boards/components/src/tickv.rs
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/layout.ld
  boards/opentitan/earlgrey-cw310/run.sh
  boards/opentitan/earlgrey-cw310/test_layout.ld
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/aes_test.rs
  capsules/src/tickv.rs
  chips/earlgrey/src/aes.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/interrupts.rs
  chips/lowrisc/src/csrng.rs
  chips/lowrisc/src/flash_ctrl.rs
  chips/lowrisc/src/otbn.rs
  tools/board-runner/src/earlgrey_cw310.rs
  tools/qemu-runner/src/main.rs
Labels: WG-OpenTitan

#3220 boards/opentitan: Improve README for OT bump
  boards/opentitan/README.md
Labels: WG-OpenTitan

#3208 opentitan: add watchdog/aon_timer
  boards/opentitan/src/main.rs
  chips/earlgrey/src/aon_timer.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/chip_config.rs
  chips/earlgrey/src/lib.rs
  chips/lowrisc/src/aon_timer.rs
  chips/lowrisc/src/lib.rs
Labels: WG-OpenTitan

#3216 Fix UartMux to be able to use multiple muxes
  boards/acd52832/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/console.rs
  boards/components/src/process_console.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_artemis_nano/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/swervolf/src/main.rs
  boards/teensy40/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/virtual_uart.rs
  chips/stm32f303xc/src/chip.rs
Labels: last-call, WG-OpenTitan, stm32, board-interface-change
