Repository tock/tock, pull requests merged in 2023-03, with the labels that each got.

#3295 boards/opentitan: Enable SPI tests for QEMU
  Makefile
  boards/opentitan/src/tests/spi_host.rs
Labels: WG-OpenTitan, blocked-upstream

#3336 Rename `matches_any()` to `any_matching_bits_set()`, implement new `matches_any()`
  chips/apollo3/src/stimer.rs
  chips/e310x/src/chip.rs
  chips/litex/src/litex_registers.rs
  chips/nrf52/src/acomp.rs
  chips/nrf5x/src/gpio.rs
  chips/qemu_rv32_virt_chip/src/chip.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/usart.rs
  chips/swervolf-eh1/src/chip.rs
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/fields.rs
  libraries/tock-register-interface/src/interfaces.rs
  libraries/tock-register-interface/src/local_register.rs
Labels: sam4l, nrf, tock-libraries

#3406 Fixed svd2regs.py
  tools/svd2regs.py
Labels: P-Upkeep

#3415 fix: broken links on core capsules README
  capsules/core/README.md
Labels: P-Upkeep

#3413 add march 10 2023 core notes
  doc/wg/core/notes/core-notes-2023-03-10.md
Labels: documentation

#3401 Core WG call notes, February 17th 2023
  doc/wg/core/notes/core-notes-2023-02-17.md
Labels: documentation

#3416 Notes from 03/03/2023 call.
  doc/wg/core/notes/core-notes-2023-03-03.md
Labels: documentation
