Repository tock/tock, pull requests merged in 2023-10, with the labels that each got.

#3698 Core team notes 2023-09-29
  doc/wg/core/notes/core-notes-2023-09-29.md
Labels: documentation

#3703 Earlgrey: Update cw310 FPGA clock frequencies
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/src/main.rs
Labels: WG-OpenTitan

#3685 boards: opentitan: Fixup existing test cases
  boards/opentitan/README.md
  boards/opentitan/src/tests/flash.rs
  boards/opentitan/src/tests/flash_ctrl.rs
  boards/opentitan/src/tests/mod.rs
  boards/opentitan/src/tests/multi_alarm.rs
  boards/opentitan/src/tests/sip_hash.rs
  boards/opentitan/src/tests/tickv_test.rs
Labels: WG-OpenTitan

#3690 HIL, Capsule, and Component for Pressure Sensors
  boards/components/src/lib.rs
  boards/components/src/pressure.rs
  capsules/core/src/driver.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/pressure.rs
  kernel/src/hil/sensors.rs
Labels: last-call, HIL, component

#3613 capsules: ensure driver existence check
  capsules/core/src/adc.rs
  capsules/core/src/alarm.rs
  capsules/core/src/button.rs
  capsules/core/src/console.rs
  capsules/core/src/console_ordered.rs
  capsules/core/src/gpio.rs
  capsules/core/src/i2c_master_slave_driver.rs
  capsules/core/src/led.rs
  capsules/core/src/rng.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/spi_peripheral.rs
  capsules/extra/src/analog_comparator.rs
  capsules/extra/src/app_flash_driver.rs
  capsules/extra/src/dac.rs
  capsules/extra/src/gpio_async.rs
  capsules/extra/src/humidity.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ltc294x.rs
  capsules/extra/src/max17205.rs
  capsules/extra/src/net/udp/driver.rs
  capsules/extra/src/nrf51822_serialization.rs
  capsules/extra/src/pca9544a.rs
  capsules/extra/src/proximity.rs
  capsules/extra/src/pwm.rs
  capsules/extra/src/read_only_state.rs
  capsules/extra/src/screen.rs
  capsules/extra/src/sdcard.rs
  capsules/extra/src/seven_segment.rs
  capsules/extra/src/temperature.rs
  capsules/extra/src/touch.rs
  doc/syscalls/00000_alarm.md
  doc/syscalls/00004_gpio.md
  doc/syscalls/00007_analog_comparator.md
  doc/syscalls/00009_ros.md
  doc/syscalls/00010_pwm.md
  doc/syscalls/20007_can.md
  doc/syscalls/60000_ambient_temperature.md
  doc/syscalls/60001_humidity.md
  doc/syscalls/60002_luminance.md
  doc/syscalls/70005_l3gd20.md
  doc/syscalls/70006_lsm303dlhc.md
  doc/syscalls/90001_screen.md
  doc/syscalls/90002_touch.md
  doc/syscalls/90003_text_screen.md
  doc/syscalls/README.md
  kernel/src/ipc.rs
Labels: kernel, WG-Network

#3697 Flash error improvement
  boards/opentitan/src/tests/flash.rs
  capsules/core/src/virtualizers/virtual_flash.rs
  capsules/extra/src/at24c_eeprom.rs
  capsules/extra/src/humidity.rs
  capsules/extra/src/log.rs
  capsules/extra/src/mx25r6435f.rs
  capsules/extra/src/nonvolatile_to_pages.rs
  capsules/extra/src/tickv.rs
  chips/lowrisc/src/flash_ctrl.rs
  chips/nrf52/src/nvmc.rs
  chips/sam4l/src/flashcalw.rs
  chips/stm32f303xc/src/flash.rs
  kernel/src/hil/flash.rs
Labels: sam4l, nrf, last-call, HIL, WG-OpenTitan, stm32

#3699 Component and Capsule for LPS22HB Sensor
  boards/components/src/lib.rs
  boards/components/src/lps22hb.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/lps22hb.rs
Labels: last-call, component

#3700 Enable SHT4x Sensor on wm1110 Board
  boards/components/src/lib.rs
  boards/components/src/sht4x.rs
  boards/wm1110dev/src/main.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/sht4x.rs
Labels: component

#3705 Network working group meeting notes, October 5th
  doc/wg/network/notes/network-notes-2023-10-05.md
Labels: documentation, WG-Network

#3559 Add DateTime HIL, and implement for RPi Pico and STM32f429ZI
  boards/components/src/date_time.rs
  boards/components/src/lib.rs
  boards/nucleo_f429zi/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  capsules/core/src/driver.rs
  capsules/extra/src/date_time.rs
  capsules/extra/src/lib.rs
  chips/rp2040/src/chip.rs
  chips/rp2040/src/deferred_calls.rs
  chips/rp2040/src/lib.rs
  chips/rp2040/src/rtc.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f429zi/src/pwr.rs
  chips/stm32f429zi/src/rtc.rs
  chips/stm32f4xx/src/rcc.rs
  kernel/src/hil/date_time.rs
  kernel/src/hil/mod.rs
Labels: HIL, waiting-on-author, stm32, component

#3711 Core working group call notes, October 13th
  doc/wg/core/notes/core-notes-2023-10-13.md
Labels: documentation

#3707 OpenTitan Earlgrey pinmux implementations
  boards/opentitan/earlgrey-cw310/Makefile
  chips/earlgrey/src/aes.rs
  chips/earlgrey/src/aon_timer.rs
  chips/earlgrey/src/csrng.rs
  chips/earlgrey/src/flash_ctrl.rs
  chips/earlgrey/src/gpio.rs
  chips/earlgrey/src/hmac.rs
  chips/earlgrey/src/i2c.rs
  chips/earlgrey/src/lib.rs
  chips/earlgrey/src/otbn.rs
  chips/earlgrey/src/pinmux.rs
  chips/earlgrey/src/plic.rs
  chips/earlgrey/src/pwrmgr.rs
  chips/earlgrey/src/registers/alert_handler_regs.rs
  chips/earlgrey/src/registers/ast_regs.rs
  chips/earlgrey/src/registers/clkmgr_regs.rs
  chips/earlgrey/src/registers/flash_ctrl_regs.rs
  chips/earlgrey/src/registers/pinmux_regs.rs
  chips/earlgrey/src/registers/pwrmgr_regs.rs
  chips/earlgrey/src/registers/rstmgr_regs.rs
  chips/earlgrey/src/registers/rv_plic_regs.rs
  chips/earlgrey/src/registers/sensor_ctrl_regs.rs
  chips/earlgrey/src/registers/top_earlgrey.rs
  chips/earlgrey/src/spi_host.rs
  chips/earlgrey/src/timer.rs
  chips/earlgrey/src/uart.rs
  chips/earlgrey/src/usbdev.rs
  chips/lowrisc/src/registers/adc_ctrl_regs.rs
  chips/lowrisc/src/registers/aes_regs.rs
  chips/lowrisc/src/registers/aon_timer_regs.rs
  chips/lowrisc/src/registers/clkmgr_regs.rs
  chips/lowrisc/src/registers/csrng_regs.rs
  chips/lowrisc/src/registers/edn_regs.rs
  chips/lowrisc/src/registers/entropy_src_regs.rs
  chips/lowrisc/src/registers/flash_ctrl_regs.rs
  chips/lowrisc/src/registers/gpio_regs.rs
  chips/lowrisc/src/registers/hmac_regs.rs
  chips/lowrisc/src/registers/i2c_regs.rs
  chips/lowrisc/src/registers/keymgr_regs.rs
  chips/lowrisc/src/registers/kmac_regs.rs
  chips/lowrisc/src/registers/lc_ctrl_regs.rs
  chips/lowrisc/src/registers/otbn_regs.rs
  chips/lowrisc/src/registers/otp_ctrl_regs.rs
  chips/lowrisc/src/registers/pattgen_regs.rs
  chips/lowrisc/src/registers/pinmux_regs.rs
  chips/lowrisc/src/registers/pwm_regs.rs
  chips/lowrisc/src/registers/rom_ctrl_regs.rs
  chips/lowrisc/src/registers/rv_core_ibex_regs.rs
  chips/lowrisc/src/registers/rv_timer_regs.rs
  chips/lowrisc/src/registers/spi_device_regs.rs
  chips/lowrisc/src/registers/spi_host_regs.rs
  chips/lowrisc/src/registers/sram_ctrl_regs.rs
  chips/lowrisc/src/registers/sysrst_ctrl_regs.rs
  chips/lowrisc/src/registers/uart_regs.rs
  chips/lowrisc/src/registers/usbdev_regs.rs
Labels: last-call, WG-OpenTitan

#3657 Add `pub type` to components
  boards/components/src/alarm.rs
  boards/components/src/kv.rs
  boards/components/src/mx25r6435f.rs
  boards/components/src/siphash.rs
  boards/components/src/tickv.rs
  boards/nordic/nrf52840dk/src/main.rs
Labels: component

#3715 TicKV: Zeroizing a key to remove data
  libraries/tickv/README.md
  libraries/tickv/SPEC.md
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: tock-libraries

#3716 Process trait improvements
  kernel/src/grant.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel

#3683 Thread Network Child Device
  boards/components/src/lib.rs
  boards/components/src/thread_network.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/core/src/driver.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/mac.rs
  capsules/extra/src/net/ipv6/ipv6_send.rs
  capsules/extra/src/net/thread/driver.rs
  capsules/extra/src/net/thread/mod.rs
  capsules/extra/src/net/thread/thread_utils.rs
  capsules/extra/src/net/thread/tlv.rs
Labels: component, WG-Network

#3718 boards/opentitan: README: Fixup bitstream version
  boards/opentitan/README.md
Labels: WG-OpenTitan

#3721 libraries/tickv: Implement key Zeroise
  libraries/tickv/SPEC.md
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: tock-libraries

#3695 Ethernet support for STM32F429
  boards/nucleo_f429zi/src/main.rs
  capsules/extra/src/ethernet_app_tap.rs
  chips/stm32f429zi/src/ethernet/ethernet.rs
  chips/stm32f429zi/src/ethernet/mod.rs
  chips/stm32f429zi/src/ethernet/receive_descriptor.rs
  chips/stm32f429zi/src/ethernet/transmit_descriptor.rs
  chips/stm32f429zi/src/ethernet/utils.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f4xx/src/rcc.rs
  chips/stm32f4xx/src/syscfg.rs
  kernel/src/hil/ethernet.rs
Labels: HIL, stm32, WG-Network

#3726 `clippy::unnecessary-cast` lint fixes
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
  capsules/extra/src/nonvolatile_storage_driver.rs
  chips/lowrisc/src/spi_host.rs
Labels: P-Upkeep, risc-v, WG-OpenTitan
