Repository tock/tock, pull requests merged in 2023-09, with the labels that each got.

#3645 Clippy: -D question_mark
  arch/rv32i/src/epmp.rs
  capsules/extra/src/hmac.rs
  capsules/extra/src/sha.rs
  capsules/extra/src/symmetric_encryption/aes.rs
  chips/lowrisc/src/flash_ctrl.rs
  chips/rp2040/src/spi.rs
  kernel/src/process_standard.rs
  tools/run_clippy.sh
Labels: kernel, last-call, risc-v, WG-OpenTitan

#3656 clippy: -D clippy::manual-memcpy
  capsules/core/src/virtualizers/virtual_uart.rs
  capsules/extra/src/at24c_eeprom.rs
  capsules/extra/src/fm25cl.rs
  capsules/extra/src/hmac_sha256.rs
  capsules/extra/src/log.rs
  capsules/extra/src/nonvolatile_to_pages.rs
  chips/stm32f4xx/src/can.rs
  kernel/src/process_checker/basic.rs
  tools/run_clippy.sh
Labels: kernel, stm32

#3647 Networking group notes from 2023.08.24
  doc/wg/network/notes/2023-08-24/2023-08-24_thread_stack_branden.drawio.pdf
  doc/wg/network/notes/2023-08-24/2023-08-24_thread_stack_tyler.drawio.pdf
  doc/wg/network/notes/network-notes-2023-08-24.md
Labels: documentation, WG-Network

#3660 6LoWPAN Packet Filtering
  capsules/extra/src/net/sixlowpan/sixlowpan_state.rs
Labels: bug, P-Upkeep, WG-Network

#3662 Add core WG notes for 2023-09-08
  doc/wg/core/notes/core-notes-2023-09-08.md
Labels: documentation

#3668 components: hmac: use correct set_client
  boards/components/src/hmac.rs
Labels: component

#3626 Syscall Spec: Allow Command 0 to return Success with value or lock it down
  doc/reference/trd104-syscalls.md
  doc/rfcs/2023-08-18--CommandZeroSemantics.md
Labels: documentation, P-Significant, Tock-3.0, WG-Core

#3664 clippy: fix some pedantic lints
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/components/src/proximity.rs
  boards/components/src/tickv.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  capsules/extra/src/ft6x06.rs
  capsules/extra/src/l3gd20.rs
  capsules/extra/src/led_matrix.rs
  capsules/extra/src/lsm303agr.rs
  capsules/extra/src/lsm303dlhc.rs
  capsules/extra/src/lsm6dsoxtr.rs
  capsules/extra/src/mlx90614.rs
  capsules/extra/src/net/ipv6/ip_utils.rs
  capsules/extra/src/net/thread/tlv.rs
  capsules/extra/src/net/util.rs
  capsules/extra/src/pwm.rs
  capsules/extra/src/touch.rs
  chips/apollo3/src/iom.rs
  chips/lowrisc/src/gpio.rs
  chips/msp432/src/adc.rs
  chips/msp432/src/uart.rs
  chips/nrf52/src/crt1.rs
  chips/nrf52/src/usbd.rs
  chips/sam4l/src/aes.rs
  chips/sam4l/src/wdt.rs
  chips/sifive/src/plic.rs
  chips/virtio/src/queues/split_queue.rs
  tools/run_clippy.sh
Labels: sam4l, nrf, WG-OpenTitan, component

#3663 Labeler updates
  .github/labeler.yml
Labels: WG-OpenTitan, WG-Network

#3661 Network working group notes, September 7th 2023
  doc/wg/network/notes/2023-09-07/leon_tock_buffers_presentation.pdf
  doc/wg/network/notes/network-notes-2023-09-07.md
Labels: documentation, WG-Network

#3674 clippy: -D clippy::needless_lifetimes
  boards/nano_rp2040_connect/src/io.rs
  boards/pico_explorer_base/src/io.rs
  boards/raspberry_pi_pico/src/io.rs
  tools/run_clippy.sh
Labels: P-Upkeep

#3528 Basic system clock management for the STM32F4 family
  .gitignore
  boards/nucleo_f429zi/src/main.rs
  boards/weact_f401ccu6/layout.ld
  chips/stm32f401cc/Cargo.toml
  chips/stm32f401cc/src/chip_specs.rs
  chips/stm32f401cc/src/interrupt_service.rs
  chips/stm32f401cc/src/lib.rs
  chips/stm32f412g/Cargo.toml
  chips/stm32f412g/src/chip_specs.rs
  chips/stm32f412g/src/interrupt_service.rs
  chips/stm32f412g/src/lib.rs
  chips/stm32f429zi/Cargo.toml
  chips/stm32f429zi/src/chip_specs.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f446re/Cargo.toml
  chips/stm32f446re/src/chip_specs.rs
  chips/stm32f446re/src/interrupt_service.rs
  chips/stm32f446re/src/lib.rs
  chips/stm32f4xx/Cargo.toml
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/chip_specific/chip_specs.rs
  chips/stm32f4xx/src/chip_specific/clock_constants.rs
  chips/stm32f4xx/src/chip_specific/flash.rs
  chips/stm32f4xx/src/chip_specific/mod.rs
  chips/stm32f4xx/src/clocks/clocks.rs
  chips/stm32f4xx/src/clocks/hsi.rs
  chips/stm32f4xx/src/clocks/mod.rs
  chips/stm32f4xx/src/clocks/pll.rs
  chips/stm32f4xx/src/flash.rs
  chips/stm32f4xx/src/lib.rs
  chips/stm32f4xx/src/rcc.rs
Labels: last-call, stm32

#3682 Bug Fixes for Hs3003 sensor
  capsules/extra/src/hs3003.rs
Labels: last-call

#3678 hail: use start() function
  boards/hail/src/main.rs
Labels: P-Upkeep

#3675 clippy: -D clippy::explicit_counter_loop
  capsules/extra/src/log.rs
  chips/sam4l/src/usbc/debug.rs
  tools/run_clippy.sh
Labels: sam4l, P-Upkeep

#3689 OpenTitan: Switch the I2C driver to generated registers.
  chips/lowrisc/src/i2c.rs
Labels: WG-OpenTitan

#3687 derive Debug on Value
  libraries/tock-register-interface/src/fields.rs
Labels: last-call, tock-libraries

#3688 doc: 2023-09-22 core team notes
  doc/wg/core/notes/core-notes-2023-09-22.md
Labels: documentation

#3686 Added networking groupm notes from September 21, 2023
  doc/wg/network/notes/network-notes-2023-09-21.md
Labels: documentation, WG-Network

#3693 Tock registers v0.9
  libraries/tock-register-interface/CHANGELOG.md
  libraries/tock-register-interface/Cargo.toml
Labels: tock-libraries
