Repository tock/tock, pull requests merged in 2023-01, with the labels that each got.

#3110 Initial VirtIO support for VirtIO Net & RNG on `qemu_rv32_virt` target
  Cargo.toml
  boards/qemu_rv32_virt/Makefile
  boards/qemu_rv32_virt/src/main.rs
  chips/qemu_rv32_virt_chip/Cargo.toml
  chips/qemu_rv32_virt_chip/src/chip.rs
  chips/qemu_rv32_virt_chip/src/lib.rs
  chips/qemu_rv32_virt_chip/src/virtio_mmio.rs
  chips/virtio/Cargo.toml
  chips/virtio/src/devices/mod.rs
  chips/virtio/src/devices/virtio_net.rs
  chips/virtio/src/devices/virtio_rng.rs
  chips/virtio/src/lib.rs
  chips/virtio/src/queues/mod.rs
  chips/virtio/src/queues/split_queue.rs
  chips/virtio/src/transports/mmio.rs
  chips/virtio/src/transports/mod.rs
Labels: last-call

#3358 Enable virtual function elimination by default for OpenTitan
  .gitignore
  boards/Makefile.common
  boards/opentitan/earlgrey-cw310/Cargo.toml
  boards/opentitan/earlgrey-cw310/Makefile
Labels: WG-OpenTitan

#3363 Core notes of 2022-{10-14,11-04,12-02}
  doc/wg/core/notes/core-notes-2022-10-14.md
  doc/wg/core/notes/core-notes-2022-11-04.md
  doc/wg/core/notes/core-notes-2022-12-02.md
Labels: documentation

#3359 boards/opentitan: bump to latest rtl sha
  boards/opentitan/earlgrey-cw310/Makefile
  chips/earlgrey/src/interrupts.rs
  chips/lowrisc/src/flash_ctrl.rs
Labels: WG-OpenTitan

#3374 Re-add OpenTitan's VFUNC_ELIM flag
  boards/opentitan/earlgrey-cw310/Makefile
Labels: P-Upkeep, WG-OpenTitan

#3377 License policy 2023-01-23 core call updates
  doc/reference/trd-legal.md
Labels: documentation

#3373 Make the set_clocks functions of the RP2040 drivers public to crates only
  chips/rp2040/src/spi.rs
  chips/rp2040/src/uart.rs
Labels: P-Upkeep, last-call

#3301 Add CAN HIL, STM32F4xx support and capsule
  boards/components/src/can.rs
  boards/components/src/lib.rs
  boards/nucleo_f429zi/src/main.rs
  capsules/README.md
  capsules/src/can.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  chips/README.md
  chips/stm32f429zi/src/can_registers.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/lib.rs
  chips/stm32f4xx/src/can.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/deferred_calls.rs
  chips/stm32f4xx/src/lib.rs
  chips/stm32f4xx/src/rcc.rs
  doc/syscalls/20007_can.md
  doc/syscalls/README.md
  kernel/src/hil/can.rs
  kernel/src/hil/mod.rs
Labels: last-call, HIL, stm32, component

#3369 debug_writer_component: make debug buffer size configurable; double default debug buffer size
  boards/components/src/debug_writer.rs
  boards/hifive1/src/main.rs
Labels: component

#3318 trd: license and copyright policy
  doc/reference/trd-legal.md
Labels: documentation

#3367 PWM Syscall Driver
  boards/components/src/lib.rs
  boards/components/src/pwm.rs
  boards/microbit_v2/src/main.rs
  capsules/src/driver.rs
  capsules/src/lib.rs
  capsules/src/pwm.rs
  doc/syscalls/00010_pwm.md
Labels: component

#3366 Add core WG notes for 2022-12-16.
  doc/wg/core/notes/core-notes-2022-12-16.md
Labels: documentation

#3380 Core Working Group call notes, January 20th 2023
  doc/wg/core/notes/core-notes-2023-01-20.md
Labels: documentation

#3384 fixed i2c buffer len
  capsules/src/bmp280.rs
  capsules/src/bus.rs
  capsules/src/i2c_master.rs
  capsules/src/i2c_master_slave_driver.rs
  capsules/src/mcp230xx.rs
  capsules/src/pca9544a.rs
  capsules/src/virtual_i2c.rs
  chips/apollo3/src/iom.rs
  chips/imxrt10xx/src/lpi2c.rs
  chips/lowrisc/src/i2c.rs
  chips/msp432/src/i2c.rs
  chips/nrf52/src/i2c.rs
  chips/rp2040/src/i2c.rs
  chips/sam4l/src/i2c.rs
  chips/stm32f303xc/src/i2c.rs
  chips/stm32f4xx/src/i2c.rs
  kernel/src/hil/i2c.rs
Labels: sam4l, nrf, HIL, WG-OpenTitan, stm32

#3283 sifive and hifive1: support 344MHz system clock
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/redboard_redv/src/main.rs
  chips/e310_g002/src/interrupt_service.rs
  chips/e310_g003/src/interrupt_service.rs
  chips/e310x/src/chip.rs
  chips/sifive/src/prci.rs
Labels: needs-rebase
