Repository tock/tock, pull requests merged in 2023-06, with the labels that each got.

#3461 hil: screen: make client 'a
  boards/components/src/screen.rs
  boards/components/src/touch.rs
  capsules/extra/src/lpm013m126.rs
  capsules/extra/src/screen.rs
  capsules/extra/src/st77xx.rs
  capsules/extra/src/touch.rs
  kernel/src/hil/screen.rs
Labels: HIL, component

#3462 Add core team call notes of 2023-05-12
  doc/wg/core/notes/core-notes-2023-05-12.md
Labels: documentation

#3455 Remove 'static from ADC HIL client
  boards/components/src/adc.rs
  boards/components/src/adc_microphone.rs
  boards/components/src/temperature_rp2040.rs
  boards/components/src/temperature_stm.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  capsules/core/src/adc.rs
  capsules/core/src/virtualizers/virtual_adc.rs
  capsules/extra/src/adc_microphone.rs
  capsules/extra/src/analog_sensor.rs
  capsules/extra/src/temperature_rp2040.rs
  capsules/extra/src/temperature_stm.rs
  chips/msp432/src/adc.rs
  chips/nrf52/src/adc.rs
  chips/nrf52/src/chip.rs
  chips/rp2040/src/adc.rs
  chips/rp2040/src/chip.rs
  chips/sam4l/src/adc.rs
  chips/sam4l/src/chip.rs
  chips/stm32f303xc/src/adc.rs
  chips/stm32f4xx/src/adc.rs
  kernel/src/hil/adc.rs
Labels: sam4l, nrf, last-call, HIL, stm32, component

#3459 hil: remove 'static for client in radio
  boards/components/src/ieee802154.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/mac.rs
  capsules/extra/src/ieee802154/xmac.rs
  capsules/extra/src/rf233.rs
  chips/nrf52/src/ieee802154_radio.rs
  kernel/src/hil/radio.rs
Labels: nrf, P-Upkeep, HIL, component

#3454 Update PWM components names
  boards/components/src/pwm.rs
  boards/microbit_v2/src/main.rs
Labels: last-call, component

#3438 nRF52: update usb with new variant
  chips/nrf52/src/usbd.rs
Labels: nrf

#3458 TicKV: Use const parameter rather than assume 2048 byte pages
  boards/components/src/tickv.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/tickv_test.rs
  capsules/extra/src/tickv.rs
Labels: WG-OpenTitan, component

#3444 kernel: minor updates to platform.rs
  kernel/src/platform/platform.rs
Labels: kernel

#3464 capsules: remove lingering pub static mut
  boards/acd52832/src/main.rs
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/opentitan/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  capsules/core/src/i2c_master.rs
  capsules/core/src/i2c_master_slave_driver.rs
  capsules/extra/src/app_flash_driver.rs
  capsules/extra/src/max17205.rs
  capsules/extra/src/mcp230xx.rs
  capsules/extra/src/nonvolatile_to_pages.rs
  capsules/extra/src/pca9544a.rs
  capsules/extra/src/sdcard.rs
  capsules/extra/src/tsl2561.rs
Labels: P-Upkeep, WG-OpenTitan

#3456 capsules: tickv: do operation after init on already init
  capsules/extra/src/tickv.rs
Labels: last-call

#3472 Add license headers to `.ld` files.
  .lcignore
  boards/acd52832/layout.ld
  boards/apollo3/lora_things_plus/layout.ld
  boards/apollo3/redboard_artemis_nano/layout.ld
  boards/arty_e21/layout.ld
  boards/clue_nrf52840/layout.ld
  boards/esp32-c3-devkitM-1/layout.ld
  boards/hail/chip_layout.ld
  boards/hail/layout.ld
  boards/hifive1/layout.ld
  boards/hifive_inventor/layout.ld
  boards/imix/chip_layout.ld
  boards/imix/layout.ld
  boards/imxrt1050-evkb/chip_layout.ld
  boards/imxrt1050-evkb/layout.ld
  boards/kernel_layout.ld
  boards/litex/arty/layout.ld
  boards/litex/sim/layout.ld
  boards/microbit_v2/layout.ld
  boards/msp_exp432p401r/chip_layout.ld
  boards/msp_exp432p401r/layout.ld
  boards/nano33ble/layout.ld
  boards/nano_rp2040_connect/layout.ld
  boards/nordic/nrf52832_chip_layout.ld
  boards/nordic/nrf52840_chip_layout.ld
  boards/nordic/nrf52840_dongle/layout.ld
  boards/nordic/nrf52840dk/layout.ld
  boards/nordic/nrf52dk/layout.ld
  boards/nucleo_f429zi/chip_layout.ld
  boards/nucleo_f429zi/layout.ld
  boards/nucleo_f446re/chip_layout.ld
  boards/nucleo_f446re/layout.ld
  boards/opentitan/earlgrey-cw310/layout.ld
  boards/opentitan/earlgrey-cw310/test_layout.ld
  boards/particle_boron/layout.ld
  boards/pico_explorer_base/layout.ld
  boards/qemu_rv32_virt/layout.ld
  boards/raspberry_pi_pico/layout.ld
  boards/redboard_redv/layout.ld
  boards/sma_q3/layout.ld
  boards/stm32f3discovery/chip_layout.ld
  boards/stm32f3discovery/layout.ld
  boards/stm32f412gdiscovery/chip_layout.ld
  boards/stm32f412gdiscovery/layout.ld
  boards/stm32f429idiscovery/chip_layout.ld
  boards/stm32f429idiscovery/layout.ld
  boards/swervolf/layout.ld
  boards/teensy40/layout.ld
  boards/weact_f401ccu6/layout.ld
Labels: WG-OpenTitan

#3460 hil: spi: remove 'static from client
  boards/components/src/bus.rs
  boards/components/src/fm25cl.rs
  boards/components/src/l3gd20.rs
  boards/components/src/lpm013m126.rs
  boards/components/src/mx25r6435f.rs
  boards/components/src/rf233.rs
  boards/components/src/spi.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imix/src/test/spi_dummy.rs
  boards/imix/src/test/spi_loopback.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/opentitan/src/main.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/spi_peripheral.rs
  capsules/core/src/virtualizers/virtual_spi.rs
  capsules/extra/src/app_flash_driver.rs
  capsules/extra/src/bus.rs
  capsules/extra/src/fm25cl.rs
  capsules/extra/src/l3gd20.rs
  capsules/extra/src/lpm013m126.rs
  capsules/extra/src/mx25r6435f.rs
  capsules/extra/src/nonvolatile_storage_driver.rs
  capsules/extra/src/nonvolatile_to_pages.rs
  capsules/extra/src/rf233.rs
  capsules/extra/src/sdcard.rs
  chips/apollo3/src/iom.rs
  chips/earlgrey/src/chip.rs
  chips/lowrisc/src/spi_host.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/spi.rs
  chips/rp2040/src/spi.rs
  chips/sam4l/src/chip.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
  chips/stm32f303xc/src/spi.rs
  chips/stm32f4xx/src/spi.rs
  kernel/src/hil/nonvolatile_storage.rs
  kernel/src/hil/spi.rs
Labels: sam4l, nrf, HIL, WG-OpenTitan, stm32, component

#3463 hil: dac: remove init
  capsules/extra/src/dac.rs
  chips/sam4l/src/dac.rs
  kernel/src/hil/dac.rs
Labels: sam4l, P-Upkeep, last-call, HIL

#3466 chips: nrf52: spi: auto disable when unused
  chips/nrf52/src/spi.rs
Labels: nrf

#3476 Core Working Group call notes, June 9th 2023
  doc/wg/core/notes/core-notes-2023-06-09.md
Labels: documentation

#3441 usb: add USB HID keyboard support
  boards/components/src/keyboard_hid.rs
  boards/components/src/lib.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/core/src/driver.rs
  capsules/extra/src/usb/keyboard_hid.rs
  capsules/extra/src/usb/mod.rs
Labels: component

#3487 kernel: hil: kv: clarify append semantics
  kernel/src/hil/kv_system.rs
Labels: HIL

#3488 tickv: return value buffer on append fail
  libraries/tickv/src/async_ops.rs
Labels: tock-libraries

#3498 Fix single APP panic in kernel scheduler
  kernel/src/scheduler/cooperative.rs
  kernel/src/scheduler/round_robin.rs
Labels: kernel

#3470 kernel: StoragePermissions: add "kerneluser" storage access
  kernel/src/capabilities.rs
  kernel/src/storage_permissions.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, tock-libraries

#3492 Core WG notes for `2023-06-16`.
  doc/wg/core/notes/core-notes-2023-06-16.md
Labels: documentation

#3496 Add core team call notes of 2023-06-02
  doc/wg/core/notes/core-notes-2023-06-02.md
Labels: documentation

#3510 increase stack size for microbit
  boards/microbit_v2/src/main.rs
Labels: P-Upkeep

#3448 nRF52 AES Improvements
  boards/components/src/aes.rs
  boards/components/src/lib.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52840dk/src/test/aes_test.rs
  boards/nordic/nrf52840dk/src/test/mod.rs
  boards/opentitan/src/main.rs
  capsules/extra/src/test/aes.rs
  chips/nrf5x/src/aes.rs
Labels: nrf, WG-OpenTitan, component

#3516 Fix global pointer setup code
  arch/rv32i/src/lib.rs
Labels: last-call, risc-v

#3512 Fix rustfmt errors
  arch/rv32i/src/lib.rs
  capsules/core/src/alarm.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/spi_peripheral.rs
  capsules/extra/src/ambient_light.rs
  capsules/extra/src/app_flash_driver.rs
  capsules/extra/src/dac.rs
  capsules/extra/src/nonvolatile_storage_driver.rs
  capsules/extra/src/nrf51822_serialization.rs
  chips/msp432/src/adc.rs
  chips/msp432/src/dma.rs
  chips/msp432/src/i2c.rs
  chips/msp432/src/ref_module.rs
  chips/msp432/src/timer.rs
  chips/msp432/src/wdt.rs
  chips/rp2040/src/pwm.rs
  chips/sam4l/src/adc.rs
  chips/sam4l/src/dma.rs
  chips/sam4l/src/eic.rs
  chips/sam4l/src/pm.rs
  chips/stm32f303xc/src/spi.rs
  chips/stm32f4xx/src/spi.rs
  kernel/src/hil/can.rs
  kernel/src/hil/time.rs
  kernel/src/memop.rs
  rustfmt.toml
Labels: kernel, sam4l, HIL, risc-v, stm32

#3513 kernel: hil: Various spelling fixes
  kernel/src/hil/buzzer.rs
  kernel/src/hil/can.rs
  kernel/src/hil/eic.rs
  kernel/src/hil/entropy.rs
  kernel/src/hil/screen.rs
  kernel/src/hil/time.rs
Labels: HIL

#3525 tools: run_cargo_fmt.sh: Don't run format on QEMU Rust code
  tools/run_cargo_fmt.sh
Labels: P-Upkeep

#3530 Fix errors when running QEMU tests for OpenTitan
  boards/opentitan/earlgrey-cw310/Makefile
Labels: P-Upkeep, WG-OpenTitan

#3452 kernel: process: freshen comments
  kernel/src/process.rs
Labels: kernel

#3453 nrf52: adc: Add highspeed implementation.
  boards/nordic/nrf52840dk/src/main.rs
  chips/nrf52/src/adc.rs
  chips/nrf52/src/chip.rs
Labels: nrf

#3479 kernel: HIL: digest: add set_client() for `ClientDataHash` and `ClientDataVerify`
  capsules/core/src/virtualizers/virtual_digest.rs
  capsules/core/src/virtualizers/virtual_hmac.rs
  capsules/core/src/virtualizers/virtual_sha.rs
  capsules/extra/src/sha256.rs
  chips/lowrisc/src/hmac.rs
  doc/reference/trd-digest.md
  kernel/src/hil/digest.rs
Labels: HIL, WG-OpenTitan
