Repository tock/tock, pull requests merged in 2023-08, with the labels that each got.

#3556 kernel/process_standard: ensure kernel_memory_break align & cleanup
  kernel/src/process_standard.rs
Labels: kernel, P-Significant, last-call

#3584 capsules: virtual_uart: ensure inflight is None on error
  capsules/core/src/virtualizers/virtual_uart.rs
Labels: bug, P-Upkeep

#3540 kernel/platform/mpu: remove dependence on ProcessID and assumptions
  arch/cortex-m/src/mpu.rs
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
  kernel/src/platform/mpu.rs
  kernel/src/process_loading.rs
  kernel/src/process_standard.rs
Labels: kernel, P-Significant, last-call, risc-v

#3592 doc: core-wg: update Leon's affiliation
  doc/wg/core/README.md
Labels: documentation, P-Upkeep

#3579 components: add SW SHA256 and HMAC-SHA256
  boards/components/src/hmac.rs
  boards/components/src/sha.rs
Labels: component

#3582 Update rust-toolchain to nightly of 2023-07-30
  .vscode/settings.json
  Cargo.toml
  arch/rv32i/src/epmp.rs
  boards/imix/src/test/i2c_dummy.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52840dk/src/test/hmac_sha256_test.rs
  boards/qemu_rv32_virt/Cargo.toml
  boards/redboard_redv/Cargo.toml
  boards/sma_q3/src/io.rs
  boards/sma_q3/src/main.rs
  boards/stm32f429idiscovery/Cargo.toml
  capsules/extra/src/can.rs
  capsules/extra/src/net/udp/udp_port_table.rs
  capsules/extra/src/sha256.rs
  capsules/extra/src/test/hmac_sha256.rs
  chips/qemu_rv32_virt_chip/Cargo.toml
  chips/virtio/Cargo.toml
  doc/Getting_Started.md
  kernel/src/process_standard.rs
  kernel/src/utilities/static_ref.rs
  libraries/tock-register-interface/src/fields.rs
  rust-toolchain
  tools/Cargo.toml
  tools/litex-ci-runner/Cargo.toml
  tools/netlify-build.sh
Labels: kernel, last-call, tock-libraries, risc-v

#3594 rustup: need version 1.23.0
  boards/Makefile.common
  doc/Getting_Started.md
Labels: P-Upkeep

#3586 Update OpenTitan to `Earlgrey-M2.5.2-RC0`
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/layout.ld
  boards/opentitan/earlgrey-cw310/run.sh
  boards/opentitan/earlgrey-cw310/test_layout.ld
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/aes_test.rs
  boards/opentitan/src/tests/flash_ctrl.rs
Labels: WG-OpenTitan

#3587 Use autogenerated register constants for OpenTitan
  chips/earlgrey/src/lib.rs
  chips/earlgrey/src/registers/README.md
  chips/earlgrey/src/registers/alert_handler_regs.rs
  chips/earlgrey/src/registers/ast_regs.rs
  chips/earlgrey/src/registers/clkmgr_regs.rs
  chips/earlgrey/src/registers/flash_ctrl_regs.rs
  chips/earlgrey/src/registers/mod.rs
  chips/earlgrey/src/registers/pinmux_regs.rs
  chips/earlgrey/src/registers/pwrmgr_regs.rs
  chips/earlgrey/src/registers/rstmgr_regs.rs
  chips/earlgrey/src/registers/rv_plic_regs.rs
  chips/earlgrey/src/registers/sensor_ctrl_regs.rs
  chips/earlgrey/src/uart.rs
  chips/lowrisc/src/lib.rs
  chips/lowrisc/src/registers/README.md
  chips/lowrisc/src/registers/adc_ctrl_regs.rs
  chips/lowrisc/src/registers/aes_regs.rs
  chips/lowrisc/src/registers/aon_timer_regs.rs
  chips/lowrisc/src/registers/clkmgr_regs.rs
  chips/lowrisc/src/registers/csrng_regs.rs
  chips/lowrisc/src/registers/edn_regs.rs
  chips/lowrisc/src/registers/entropy_src_regs.rs
  chips/lowrisc/src/registers/flash_ctrl_regs.rs
  chips/lowrisc/src/registers/gpio_regs.rs
  chips/lowrisc/src/registers/hmac_regs.rs
  chips/lowrisc/src/registers/i2c_regs.rs
  chips/lowrisc/src/registers/keymgr_regs.rs
  chips/lowrisc/src/registers/kmac_regs.rs
  chips/lowrisc/src/registers/lc_ctrl_regs.rs
  chips/lowrisc/src/registers/mod.rs
  chips/lowrisc/src/registers/otbn_regs.rs
  chips/lowrisc/src/registers/otp_ctrl_regs.rs
  chips/lowrisc/src/registers/pattgen_regs.rs
  chips/lowrisc/src/registers/pinmux_regs.rs
  chips/lowrisc/src/registers/pwm_regs.rs
  chips/lowrisc/src/registers/rom_ctrl_regs.rs
  chips/lowrisc/src/registers/rv_core_ibex_regs.rs
  chips/lowrisc/src/registers/rv_timer_regs.rs
  chips/lowrisc/src/registers/spi_device_regs.rs
  chips/lowrisc/src/registers/spi_host_regs.rs
  chips/lowrisc/src/registers/sram_ctrl_regs.rs
  chips/lowrisc/src/registers/sysrst_ctrl_regs.rs
  chips/lowrisc/src/registers/uart_regs.rs
  chips/lowrisc/src/registers/usbdev_regs.rs
  chips/lowrisc/src/uart.rs
Labels: last-call, WG-OpenTitan

#3601 Fix linker script calculations
  boards/kernel_layout.ld
  boards/teensy40/layout.ld
Labels: P-Upkeep

#3598 Update OpenTitan to use auto-generated base address constants
  chips/earlgrey/src/aes.rs
  chips/earlgrey/src/aon_timer.rs
  chips/earlgrey/src/csrng.rs
  chips/earlgrey/src/flash_ctrl.rs
  chips/earlgrey/src/gpio.rs
  chips/earlgrey/src/hmac.rs
  chips/earlgrey/src/i2c.rs
  chips/earlgrey/src/otbn.rs
  chips/earlgrey/src/plic.rs
  chips/earlgrey/src/pwrmgr.rs
  chips/earlgrey/src/registers/mod.rs
  chips/earlgrey/src/registers/top_earlgrey.rs
  chips/earlgrey/src/spi_host.rs
  chips/earlgrey/src/timer.rs
  chips/earlgrey/src/uart.rs
  chips/earlgrey/src/usbdev.rs
Labels: WG-OpenTitan

#3602 boards: nano33ble: use start function
  boards/nano33ble/src/main.rs
Labels: P-Upkeep

#3603 kernel_layout: remove eh_frame_hdr
  boards/kernel_layout.ld
Labels: P-Upkeep

#3578 Networking Working Group
  doc/wg/network/README.md
Labels: documentation, P-Significant, last-call

#3609 Update thiserror to 1.0.44.
  tools/license-checker/Cargo.toml
Labels: P-Upkeep

#3616 opentitan: tests: fix test order for flash/aes
  boards/opentitan/src/tests/aes_test.rs
  boards/opentitan/src/tests/flash_ctrl.rs
Labels: WG-OpenTitan

#3620 doc: remove dangling reference to IRC
  doc/OutOfTree.md
Labels: documentation

#3604 Notes from Network working group call, August 10
  doc/wg/network/notes/network-notes-2023-08-10.md
Labels: documentation

#3588 New approach for kernel attributes
  boards/kernel_layout.ld
  doc/Kernel_Attributes.md
Labels: rfc, last-call

#3607 tools: clippy: list all complexity and style lints
  tools/run_clippy.sh
Labels: last-call

#3608 Notes from the 08-11-2023 call
  doc/wg/core/notes/core-notes-2023-08-11.md
Labels: documentation

#3605 Core working group call notes, August 4th
  doc/wg/core/notes/core-notes-2023-08-04.md
Labels: documentation

#3625 boards: nrf52840dk: increase RTT wait
  boards/nordic/nrf52840dk/src/io.rs
Labels: bug, P-Upkeep

#3611 doc: Update compilation document with information about fixed-address apps
  doc/Compilation.md
Labels: documentation

#3522 Add TicKV to nrf52840dk
  boards/components/src/lib.rs
  boards/components/src/siphash.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/extra/src/mx25r6435f.rs
Labels: component

#3636 clippy: -D ptr_eq
  capsules/core/src/virtualizers/virtual_rng.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
  kernel/src/scheduler/mlfq.rs
  tools/run_clippy.sh
Labels: kernel, P-Upkeep, last-call

#3634 clippy: -D unused_unit
  capsules/extra/src/public_key_crypto/rsa_keys.rs
  chips/nrf5x/src/aes.rs
  kernel/src/hil/public_key_crypto/keys.rs
  tools/run_clippy.sh
Labels: kernel, nrf, P-Upkeep, last-call

#3619 TicKV: Fix garabage collect for async and update tests
  capsules/extra/src/tickv.rs
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tickv.rs
Labels: tock-libraries

#3641 chips/lowrisc/uart: fix spurious RX buffer underrun error condition
  chips/lowrisc/src/uart.rs
Labels: bug, P-Upkeep, WG-OpenTitan

#3644 clippy: -D clippy::enum_glob_use
  capsules/core/src/process_console.rs
  chips/imxrt10xx/src/gpio.rs
  tools/run_clippy.sh
Labels: P-Upkeep

#3623 TicKV: Add a search test
  libraries/tickv/src/async_ops.rs
Labels: P-Upkeep, tock-libraries

#3615 Rewritten nRF52840 802.15.4 driver adding software ACK on receive
  boards/clue_nrf52840/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/particle_boron/src/main.rs
  boards/sma_q3/src/main.rs
  chips/nrf52/src/chip.rs
  chips/nrf52/src/lib.rs
  chips/nrf52832/src/lib.rs
  chips/nrf52833/src/lib.rs
  chips/nrf52840/src/ieee802154_radio.rs
  chips/nrf52840/src/interrupt_service.rs
  chips/nrf52840/src/lib.rs
Labels: nrf, WG-Network

#3624 rv32i: use la instruction, pass in linker vars
  arch/rv32i/src/lib.rs
Labels: last-call, risc-v

#3642 docs: wg-core: add notes for 2023-08-18
  doc/wg/core/notes/core-notes-2023-08-18.md
Labels: documentation

#3628 Update deprecated VSCode settings
  .vscode/settings.json
Labels: last-call

#3648 kernel: export `StoppedExecutingReason`
  kernel/src/kernel.rs
  kernel/src/process.rs
  kernel/src/scheduler.rs
  kernel/src/scheduler/cooperative.rs
  kernel/src/scheduler/mlfq.rs
  kernel/src/scheduler/priority.rs
  kernel/src/scheduler/round_robin.rs
Labels: kernel

#3618 libraries: tickv: Fixup the broken region search
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tickv.rs
Labels: tock-libraries

#3596 Document Code Review Principles
  doc/CodeReview.md
Labels: documentation, last-call

#3640 chips/earlgrey: convert CONFIG to trait, make board-configurable
  boards/opentitan/earlgrey-cw310/Cargo.toml
  boards/opentitan/src/io.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/multi_alarm.rs
  chips/earlgrey/Cargo.toml
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/chip_config.rs
  chips/earlgrey/src/timer.rs
  chips/earlgrey/src/uart.rs
Labels: last-call, WG-OpenTitan

#3649 capsules: rename KVSystem to Kv
  capsules/core/src/driver.rs
  capsules/extra/src/kv_driver.rs
Labels: P-Upkeep
