Repository tock/tock, pull requests merged in 2023-04, with the labels that each got.

#3327 Temporally order userspace print statements with kernel debug statements
  boards/apollo3/lora_things_plus/src/io.rs
  boards/apollo3/redboard_artemis_nano/src/io.rs
  boards/arty_e21/src/io.rs
  boards/clue_nrf52840/src/io.rs
  boards/components/src/console.rs
  boards/esp32-c3-devkitM-1/src/io.rs
  boards/hail/src/io.rs
  boards/hifive1/src/io.rs
  boards/hifive_inventor/src/io.rs
  boards/imix/src/io.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/io.rs
  boards/litex/arty/src/io.rs
  boards/litex/sim/src/io.rs
  boards/microbit_v2/src/io.rs
  boards/msp_exp432p401r/src/io.rs
  boards/nano33ble/src/io.rs
  boards/nano_rp2040_connect/src/io.rs
  boards/nordic/nrf52840_dongle/src/io.rs
  boards/nordic/nrf52840dk/src/io.rs
  boards/nordic/nrf52dk/src/io.rs
  boards/nucleo_f429zi/src/io.rs
  boards/nucleo_f446re/src/io.rs
  boards/opentitan/src/io.rs
  boards/particle_boron/src/io.rs
  boards/pico_explorer_base/src/io.rs
  boards/qemu_rv32_virt/src/io.rs
  boards/raspberry_pi_pico/src/io.rs
  boards/redboard_redv/src/io.rs
  boards/sma_q3/src/io.rs
  boards/stm32f3discovery/src/io.rs
  boards/stm32f412gdiscovery/src/io.rs
  boards/stm32f429idiscovery/src/io.rs
  boards/swervolf/src/io.rs
  boards/teensy40/src/io.rs
  boards/weact_f401ccu6/src/io.rs
  capsules/core/src/console_ordered.rs
  capsules/core/src/lib.rs
  kernel/src/debug.rs
Labels: kernel, last-call, WG-OpenTitan, component

#3408 boards/opentitan: bump opentitan commit sha
  boards/opentitan/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/run.sh
  chips/lowrisc/src/otbn.rs
Labels: WG-OpenTitan

#3402 Update command 0 comments on stabilized userspace drivers
  capsules/core/src/adc.rs
  capsules/core/src/button.rs
  capsules/core/src/led.rs
Labels: last-call

#3407 arch/rv32i: clobber kernel registers instead of manual (un)stacking
  arch/rv32i/src/syscall.rs
Labels: risc-v

#3425 Core working group call notes, April 14th
  doc/wg/core/notes/core-notes-2023-04-14.md
Labels: documentation
