Repository tock/tock, pull requests merged in 2023-07, with the labels that each got.

#3511 kernel: LeasableBuffer: fix double slice end value
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel

#3515 Redefine TBF `protected_size` field to a `protected_trailer_size`
  doc/TockBinaryFormat.md
  libraries/tock-tbf/src/types.rs
Labels: last-call, tock-libraries

#3531 Notes from Core working group call, June 30
  doc/wg/core/notes/core-notes-2023-06-30.md
Labels: documentation

#3538 boards: apollo3: lora_things_plus: Fixup README
  boards/apollo3/lora_things_plus/README.md
Labels: P-Upkeep

#3509 kernel: process loading: update comments & remove capabilities
  kernel/src/process_loading.rs
Labels: kernel

#3535 tock-cells: change `OptionalCell::map` to pass a copy into the closure
  capsules/core/src/adc.rs
  capsules/core/src/i2c_master_slave_driver.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/spi_peripheral.rs
  capsules/core/src/virtualizers/virtual_rng.rs
  capsules/core/src/virtualizers/virtual_uart.rs
  capsules/extra/src/analog_comparator.rs
  capsules/extra/src/ble_advertising_driver.rs
  capsules/extra/src/buzzer_driver.rs
  capsules/extra/src/can.rs
  capsules/extra/src/crc.rs
  capsules/extra/src/gpio_async.rs
  capsules/extra/src/hmac.rs
  capsules/extra/src/kv_driver.rs
  capsules/extra/src/l3gd20.rs
  capsules/extra/src/lpm013m126.rs
  capsules/extra/src/lps25hb.rs
  capsules/extra/src/lsm303agr.rs
  capsules/extra/src/lsm303dlhc.rs
  capsules/extra/src/ltc294x.rs
  capsules/extra/src/max17205.rs
  capsules/extra/src/mlx90614.rs
  capsules/extra/src/nrf51822_serialization.rs
  capsules/extra/src/pca9544a.rs
  capsules/extra/src/pwm.rs
  capsules/extra/src/screen.rs
  capsules/extra/src/sdcard.rs
  capsules/extra/src/sha.rs
  capsules/extra/src/symmetric_encryption/aes.rs
  capsules/extra/src/text_screen.rs
  capsules/extra/src/tsl2561.rs
  capsules/extra/src/usb_hid_driver.rs
  chips/stm32f303xc/src/gpio.rs
  chips/stm32f4xx/src/dma.rs
  chips/stm32f4xx/src/gpio.rs
  kernel/src/kernel.rs
  libraries/tock-cells/src/optional_cell.rs
Labels: kernel, tock-libraries, stm32

#3514 boards: microbitv2: use helper function in main
  boards/microbit_v2/src/main.rs
Labels: rfc

#3542 Core working group call notes, July 14th
  doc/wg/core/notes/core-notes-2023-07-14.md
Labels: documentation

#3503 capsules: remove virtual_[digest|flash|sha].rs which do not virtualize
  boards/components/src/digest.rs
  boards/components/src/hmac.rs
  boards/components/src/lib.rs
  boards/components/src/sha.rs
  boards/opentitan/src/main.rs
  capsules/core/src/virtualizers/mod.rs
  capsules/core/src/virtualizers/virtual_digest.rs
  capsules/core/src/virtualizers/virtual_hmac.rs
  capsules/core/src/virtualizers/virtual_sha.rs
Labels: WG-OpenTitan, component

#3489 capsules: tickv: call error cb on append error
  capsules/extra/src/tickv.rs
  kernel/src/hil/kv_system.rs
Labels: HIL

#3490 capsules: kv_store: implement virtualization
  boards/components/src/kv_system.rs
  boards/opentitan/src/main.rs
  capsules/extra/src/kv_store.rs
Labels: WG-OpenTitan, component

#3505 kernel: leasablebuffer: add APIs
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel

#3539 Switch to v0 mangling scheme and port print_tock_memory_usage.py
  boards/Makefile.common
  tools/print_tock_memory_usage.py
Labels: last-call

#3541 rv32i/{pmp,epmp}: invalidate unused regions on config switch
  arch/rv32i/src/epmp.rs
  arch/rv32i/src/pmp.rs
Labels: bug, last-call, risc-v

#3550 kernel/platform/mpu: don't provide default impls for methods
  kernel/src/platform/mpu.rs
Labels: kernel, P-Upkeep

#3536 tock-cells/OptionalCell: rename extract-method to get
  chips/sam4l/src/crccu.rs
  chips/stm32f4xx/src/can.rs
  chips/virtio/src/transports/mmio.rs
  kernel/src/process_standard.rs
  libraries/tock-cells/src/optional_cell.rs
Labels: kernel, sam4l, last-call, tock-libraries, stm32

#3508 Full KV stack update PR
  boards/components/src/kv_system.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/sip_hash.rs
  boards/opentitan/src/tests/tickv_test.rs
  capsules/extra/src/kv_driver.rs
  capsules/extra/src/kv_store.rs
  capsules/extra/src/sip_hash.rs
  capsules/extra/src/test/kv_system.rs
  capsules/extra/src/test/siphash24.rs
  capsules/extra/src/tickv.rs
  kernel/src/hil/hasher.rs
  kernel/src/hil/kv_system.rs
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/tickv.rs
Labels: last-call, tock-libraries, HIL, WG-OpenTitan, component

#3404 Add reset function to cortexm::support
  arch/cortex-m/src/support.rs
  boards/clue_nrf52840/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/weact_f401ccu6/src/main.rs
Labels: waiting-on-author

#3552 Make StaticRef NonNull
  kernel/src/utilities/static_ref.rs
  tools/svd2regs.py
Labels: kernel, P-Upkeep, last-call

#3537 Fix MapCell safety 2.0
  libraries/tock-cells/src/map_cell.rs
Labels: last-call, tock-libraries

#3554 storage permissions: clarify naming
  doc/TockBinaryFormat.md
  kernel/src/process_standard.rs
  kernel/src/storage_permissions.rs
  libraries/tock-tbf/src/parse.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, tock-libraries

#3560 doc: add notes from short-lived repo
  doc/wg/README.md
  doc/wg/legacy/2018-11-20.md
  doc/wg/legacy/2018-12-04.md
  doc/wg/legacy/2018-12-11.md
  doc/wg/legacy/README.md
Labels: documentation, P-Upkeep

#3564 Fix NRF52 nvmc register offset and use
  chips/nrf52/src/nvmc.rs
Labels: nrf

#3561 HMAC sha256: replace buffer and add verify support
  boards/nordic/nrf52840dk/src/test/hmac_sha256_test.rs
  capsules/extra/src/hmac_sha256.rs
Labels: Tutorial-Requirement

#3557 pconsole: support a "hibernation" mode
  capsules/core/src/process_console.rs
  doc/Process_Console.md
Labels: Tutorial-Requirement

#3562 Add `capsules/tutorials` crate and add encryption oracle capsule
  Cargo.toml
  boards/nordic/nrf52840dk_demo/Cargo.toml
  boards/nordic/nrf52840dk_demo/Makefile
  boards/nordic/nrf52840dk_demo/README.md
  boards/nordic/nrf52840dk_demo/build.rs
  boards/nordic/nrf52840dk_demo/jtag/gdbinit_pca10040.jlink
  boards/nordic/nrf52840dk_demo/jtag/jdbserver_pca10040.sh
  boards/nordic/nrf52840dk_demo/layout.ld
  boards/nordic/nrf52840dk_demo/src/io.rs
  boards/nordic/nrf52840dk_demo/src/main.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/tutorials/README.md
  capsules/extra/src/tutorials/encryption_oracle_chkpt0.rs
  capsules/extra/src/tutorials/encryption_oracle_chkpt1.rs
  capsules/extra/src/tutorials/encryption_oracle_chkpt2.rs
  capsules/extra/src/tutorials/encryption_oracle_chkpt3.rs
  capsules/extra/src/tutorials/encryption_oracle_chkpt4.rs
  capsules/extra/src/tutorials/encryption_oracle_chkpt5.rs
  capsules/extra/src/tutorials/mod.rs
Labels: Tutorial-Requirement

#3566 capsules: update spelling
  capsules/extra/src/hmac.rs
  capsules/extra/src/sip_hash.rs
Labels: P-Upkeep

#3519 Rename `LeasableBuffer` to `SubSlice`
  boards/components/src/udp_driver.rs
  boards/imix/src/imix_components/test/mock_udp.rs
  boards/opentitan/src/tests/hmac.rs
  boards/opentitan/src/tests/sip_hash.rs
  capsules/extra/src/crc.rs
  capsules/extra/src/hmac.rs
  capsules/extra/src/hmac_sha256.rs
  capsules/extra/src/kv_driver.rs
  capsules/extra/src/kv_store.rs
  capsules/extra/src/net/icmpv6/icmpv6_send.rs
  capsules/extra/src/net/ipv6/ipv6.rs
  capsules/extra/src/net/ipv6/ipv6_send.rs
  capsules/extra/src/net/udp/driver.rs
  capsules/extra/src/net/udp/udp_send.rs
  capsules/extra/src/sha.rs
  capsules/extra/src/sha256.rs
  capsules/extra/src/sip_hash.rs
  capsules/extra/src/test/crc.rs
  capsules/extra/src/test/hmac_sha256.rs
  capsules/extra/src/test/kv_system.rs
  capsules/extra/src/test/sha256.rs
  capsules/extra/src/test/siphash24.rs
  capsules/extra/src/test/udp.rs
  capsules/extra/src/tickv.rs
  chips/lowrisc/src/hmac.rs
  chips/sam4l/src/crccu.rs
  doc/reference/trd-digest.md
  kernel/src/hil/crc.rs
  kernel/src/hil/digest.rs
  kernel/src/hil/hasher.rs
  kernel/src/hil/kv_system.rs
  kernel/src/process_checker/basic.rs
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel, sam4l, HIL, WG-OpenTitan, component

#3573 ot: tests: LB->SS
  boards/opentitan/src/tests/sip_hash.rs
Labels: WG-OpenTitan

#3574 kernel: remove core_intrinsics
  kernel/src/lib.rs
Labels: kernel, P-Upkeep

#3580 boards: remove nrf52840dk demo
  Cargo.toml
  boards/nordic/nrf52840dk_demo/Cargo.toml
  boards/nordic/nrf52840dk_demo/Makefile
  boards/nordic/nrf52840dk_demo/README.md
  boards/nordic/nrf52840dk_demo/build.rs
  boards/nordic/nrf52840dk_demo/jtag/gdbinit_pca10040.jlink
  boards/nordic/nrf52840dk_demo/jtag/jdbserver_pca10040.sh
  boards/nordic/nrf52840dk_demo/layout.ld
  boards/nordic/nrf52840dk_demo/src/io.rs
  boards/nordic/nrf52840dk_demo/src/main.rs
Labels: P-Upkeep

#3547 Capsule: AT24C32/64 support
  capsules/extra/src/at24c_eeprom.rs
  capsules/extra/src/lib.rs
Labels: last-call
