Repository tock/tock, pull requests merged in 2023-02, with the labels that each got.

#3391 kernel: sched: mlfq
  kernel/src/scheduler/mlfq.rs
Labels: kernel

#3385 multiple boards: refactored GET_PERIPHERALS
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/teensy40/src/main.rs
  boards/weact_f401ccu6/src/main.rs
Labels: P-Upkeep

#3381 Process console command history
  boards/components/src/process_console.rs
  boards/imix/src/main.rs
  boards/litex/arty/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/particle_boron/src/main.rs
  boards/sma_q3/src/main.rs
  capsules/src/process_console.rs
  doc/Process_Console.md
Labels: component

#3399 Update rp2040 boards
  boards/nano_rp2040_connect/Makefile
  boards/nano_rp2040_connect/README.md
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/Makefile
  boards/pico_explorer_base/README.md
  boards/pico_explorer_base/openocd-picoprobe.cfg
  boards/pico_explorer_base/openocd-swd.cfg
  boards/pico_explorer_base/src/io.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/Makefile
  boards/raspberry_pi_pico/README.md
  boards/raspberry_pi_pico/src/io.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/rp2040/src/sysinfo.rs
Labels: last-call

#3398 Add reset to process console
  boards/clue_nrf52840/src/main.rs
  boards/components/src/process_console.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  capsules/src/process_console.rs
  chips/rp2040/src/chip.rs
  chips/rp2040/src/resets.rs
  chips/rp2040/src/watchdog.rs
  doc/Process_Console.md
Labels: last-call, component

#3307 Add correct handling of Userspace Binary version numbers to boot sequence
  doc/reference/trd-appid.md
  kernel/src/kernel.rs
  kernel/src/process.rs
  kernel/src/process_checker.rs
  kernel/src/process_checker/basic.rs
  kernel/src/process_loading.rs
  kernel/src/process_standard.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, tock-libraries

#3392 kernel: util: static ref deref return type
  kernel/src/utilities/static_ref.rs
Labels: kernel, last-call

#3403 Fix process console
  capsules/src/process_console.rs
Labels: bug, P-Upkeep
