Repository tock/tock, pull requests merged in 2024-11, with the labels that each got.

#4208 Add `StreamingProcessSlice` helper, based on `ProcessSliceBuffer` design (#4023)
  capsules/extra/src/can.rs
  kernel/src/utilities/mod.rs
  kernel/src/utilities/streaming_process_slice.rs
Labels: kernel, WG-Network

#4219 rp2040: pio: replace unnecessary OptionalCell
  boards/pico_explorer_base/src/main.rs
  chips/rp2040/src/pio_pwm.rs
Labels: P-Upkeep, last-call

#4159 atecc508a: Support the SignatureVerify HIL
  boards/apollo3/lora_things_plus/src/tests/verify_sig.rs
  boards/components/src/atecc508a.rs
  capsules/extra/src/atecc508a.rs
Labels: component

#4221 Core working group call notes: November 1st, 2024
  doc/wg/core/notes/core-notes-2024-11-01.md
Labels: documentation

#4225 Add 802154 support to the nrf52833 and microbit v2
  boards/microbit_v2/src/main.rs
  chips/nrf52/src/ieee802154_radio.rs
  chips/nrf52/src/lib.rs
  chips/nrf52833/src/interrupt_service.rs
  chips/nrf52833/src/lib.rs
  chips/nrf52840/src/lib.rs
Labels: nrf

#4230 doc: Add example expansion for register_bitfields! macro
  libraries/tock-register-interface/README.md
Labels: enhancement, P-Upkeep, last-call, tock-libraries

#4138 HC_SR04 Distance Sensor Driver
  capsules/core/src/driver.rs
  capsules/extra/README.md
  capsules/extra/src/distance.rs
  capsules/extra/src/hc_sr04.rs
  capsules/extra/src/lib.rs
  doc/syscalls/60009_distance.md
  doc/syscalls/README.md
  kernel/src/hil/sensors.rs
Labels: last-call, HIL

#4144 Soil Moisture Sensor Support
  Makefile
  boards/apollo3/lora_things_plus/Cargo.toml
  boards/apollo3/lora_things_plus/Makefile
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/lora_things_plus/src/tests/environmental_sensors.rs
  boards/apollo3/redboard_artemis_atp/Makefile
  boards/apollo3/redboard_artemis_nano/Makefile
  boards/components/src/chirp_i2c_moisture.rs
  boards/components/src/lib.rs
  boards/components/src/moisture.rs
  capsules/core/src/driver.rs
  capsules/extra/README.md
  capsules/extra/src/chirp_i2c_moisture.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/moisture.rs
  kernel/src/hil/sensors.rs
Labels: last-call, HIL, component

#4226 Core working group call notes: November 8, 2024
  doc/wg/core/notes/core-notes-2024-11-08.md
Labels: documentation, last-call

#4223 bme280: A collection of fixes
  boards/apollo3/lora_things_plus/src/tests/environmental_sensors.rs
  boards/apollo3/redboard_artemis_nano/src/tests/environmental_sensors.rs
  capsules/extra/src/bme280.rs
  chips/apollo3/src/iom.rs
Labels: last-call

#4234 capsules: spi_controller: Fix userspace operations
  capsules/core/src/spi_controller.rs
Labels: P-Upkeep

#4235 chips: apollo3: iom: Work with new SPI HIL
  chips/apollo3/src/iom.rs
Labels: P-Upkeep, last-call

#4236 capsules: spi_controller: Fixup read operations
  capsules/core/src/spi_controller.rs
Labels: P-Upkeep, last-call

#4229 kernel: split out encode_syscall_return to utilities module
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
  kernel/src/syscall.rs
  kernel/src/utilities/arch_helpers.rs
  kernel/src/utilities/mod.rs
Labels: kernel, risc-v

#4232 boards: apollo3: Support loading signed applications
  boards/apollo3/lora_things_plus/Cargo.toml
  boards/apollo3/lora_things_plus/src/main.rs
  boards/components/src/storage_permissions/tbf_header.rs
  capsules/extra/src/atecc508a.rs
Labels: component

#4238 doc: core wg: add 2024-11-15 notes
  doc/wg/core/notes/core-notes-2024-11-15.md
Labels: documentation

#4239 arch: cortex-m: register name is psr
  arch/cortex-v7m/src/lib.rs
Labels: P-Upkeep

#4174 Add `CapbilityPtr` and Add `SuccessAddr` and `SuccessPtr` syscall variants
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
  kernel/src/grant.rs
  kernel/src/kernel.rs
  kernel/src/memop.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
  kernel/src/syscall.rs
  kernel/src/upcall.rs
  kernel/src/utilities/arch_helpers.rs
  kernel/src/utilities/capability_ptr.rs
  kernel/src/utilities/mod.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, P-Significant, last-call, tock-libraries, risc-v

#4145 Enable RISC-V bitmanip extensions for OpenTitan
  Makefile
  boards/cargo/riscv_bitmanip.toml
  boards/opentitan/earlgrey-cw310/.cargo/config.toml
Labels: last-call, waiting-on-author

#4244 capsules: chirp_i2c_moisture: Improve reliability and accuracy
  capsules/extra/src/chirp_i2c_moisture.rs
Labels: P-Upkeep, last-call

#4240 Network working group call notes: November 18, 2024
  doc/wg/network/notes/network-notes-2024-11-18.md
Labels: documentation, WG-Network

#4241 Enhance SiFive PLIC support
  chips/sifive/src/plic.rs
Labels: last-call

#4254 kernel: scheduler: Use NonZeroU32 instead of u32 for `start()` and `get_remaining_us()`
  arch/cortex-m/src/systick.rs
  chips/sifive/src/clint.rs
  kernel/src/kernel.rs
  kernel/src/platform/scheduler_timer.rs
  kernel/src/scheduler.rs
  kernel/src/scheduler/mlfq.rs
  kernel/src/scheduler/round_robin.rs
Labels: kernel, last-call
