Repository tock/tock, pull requests merged in 2024-12, with the labels that each got.

#4251 USB HID/CTAP: General cleanup
  boards/components/src/ctap.rs
  boards/components/src/keyboard_hid.rs
  capsules/extra/src/usb/ctap.rs
  capsules/extra/src/usb_hid_driver.rs
  kernel/src/hil/usb_hid.rs
Labels: last-call, HIL, component

#4261 kernel: kernel: Trace exit syscalls
  kernel/src/kernel.rs
Labels: kernel

#4248 capsules: kv: Support 512 byte KV values
  boards/components/src/kv.rs
Labels: component

#4262 nordic: components: startup: fix uicr pin check
  boards/nordic/nrf52_components/src/startup.rs
Labels: bug, P-Upkeep, last-call

#4265 pconsole: increase command buffer size to 64
  capsules/core/src/process_console.rs
Labels: P-Upkeep

#4264 pconsole: change `boot` cmd to use process.start()
  boards/components/src/process_console.rs
  capsules/core/src/process_console.rs
Labels: component

#4263 Core working group call notes: December 6, 2024
  doc/wg/core/notes/core-notes-2024-12-06.md
Labels: documentation, last-call

#4268 Improv(docs): Fixed doc errors
  capsules/extra/src/ieee802154/framer.rs
  chips/apollo3/src/iom.rs
  chips/sifive/src/plic.rs
  kernel/src/utilities/streaming_process_slice.rs
Labels: kernel, P-Upkeep, WG-Network

#4259 ARMv6: fix setting the CONTROL register
  arch/cortex-m0/src/lib.rs
Labels: release-blocker

#4267 grant: added remove_pending_upcalls function
  kernel/src/grant.rs
  kernel/src/kernel.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: kernel

#4269 Add core wg 2024-12-13 notes
  doc/wg/core/notes/core-notes-2024-12-13.md
Labels: documentation

#4274 Core working group call notes: December 20, 2024
  doc/wg/core/notes/core-notes-2024-12-20.md
Labels: documentation
