Repository tock/tock, pull requests merged in 2024-02, with the labels that each got.

#3820 Core Working Group call notes, January 26 2024
  doc/wg/core/notes/core-notes-2024-01-26.md
Labels: documentation

#3818 kernel: appchecker: add shortid based on names
  kernel/src/process_checker/basic.rs
Labels: kernel

#3821 Doc: TRD: Finalize Legal TRD (TRD4)
  doc/reference/trd4-legal.md
Labels: documentation

#3815 wg: Add DOC Working Group
  doc/wg/README.md
  doc/wg/documentation/README.md
Labels: documentation

#3831 doc: wg: DOC: add date
  doc/wg/documentation/README.md
Labels: documentation

#3830 doc: wg: core: add notes 2024-02-02
  doc/wg/core/notes/core-notes-2024-02-02.md
Labels: documentation

#3834 Network Working Group call notes February 05 2024
  doc/wg/network/notes/network-notes-2024-02-05.md
Labels: documentation, WG-Network

#3827 opentitan: Rearrange UARTs and I2Cs.
  boards/opentitan/src/pinmux_layout.rs
Labels: last-call, WG-OpenTitan

#3838 doc: minor TRD102 fixes
  doc/reference/trd102-adc.md
Labels: documentation

#3837 Boards: wm1110dev updates: remove build.rs, update readme
  boards/wm1110dev/Cargo.toml
  boards/wm1110dev/README.md
  boards/wm1110dev/build.rs
Labels: P-Upkeep

#3826 arch/cortex-m0: hard_fault_handler: fix incorrect return to PSP stack
  arch/cortex-m0/src/lib.rs
Labels: bug, P-Significant

#3829 kernel: utilities: add crc32_posix
  kernel/src/utilities/helpers.rs
Labels: kernel

#3802 Remove `#![feature(naked_functions)]` and compile Cortex-M on stable!
  arch/cortex-m/src/lib.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-v7m/src/lib.rs
  arch/rv32i/src/lib.rs
  boards/Makefile.common
  boards/hail/Makefile
  boards/hail/rust-toolchain.toml
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/earlgrey/src/chip.rs
  chips/earlgrey/src/lib.rs
  chips/esp32-c3/src/chip.rs
  chips/esp32-c3/src/lib.rs
  chips/swervolf-eh1/src/lib.rs
Labels: risc-v, WG-OpenTitan

#3835 Add notes of Networking Working Group call of 2024-01-22
  doc/wg/network/notes/network-notes-2024-01-22.md
Labels: documentation, WG-Network

#3846 libraries: tock-tbf: fix footer parse error
  libraries/tock-tbf/src/parse.rs
Labels: tock-libraries

#3836 boards: nordic: use start()
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
Labels: P-Upkeep, last-call

#3852 doc: trd103: fix link
  doc/reference/trd103-gpio.md
Labels: documentation, P-Upkeep

#3856 kernel: syscall: add driver_num helper functions
  kernel/src/syscall.rs
Labels: kernel

#3853 components: Add types for several basic components
  boards/components/src/adc.rs
  boards/components/src/button.rs
  boards/components/src/gpio.rs
  boards/components/src/led.rs
Labels: P-Upkeep, component

#3863 kernel: process_std: easy copy `make debug`
  kernel/src/process_standard.rs
Labels: kernel

#3870 kernel: sched: round-robin: handle empty process array
  kernel/src/scheduler/round_robin.rs
Labels: kernel

#3824 Avoid creating intermediate Rust references when taking pointers of memory / extern statics
  boards/acd52832/src/main.rs
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_atp/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/nonvolatile_storage.rs
  boards/components/src/process_console.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/opentitan/src/tests/otbn.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/swervolf/src/main.rs
  boards/teensy40/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  boards/wm1110dev/src/main.rs
  chips/imxrt10xx/src/lib.rs
  chips/imxrt10xx/src/lpuart.rs
  chips/msp432/src/uart.rs
  chips/nrf52/src/pwm.rs
  chips/nrf52/src/uart.rs
  chips/sam4l/src/crccu.rs
  chips/sam4l/src/usbc/mod.rs
  chips/stm32f4xx/src/spi.rs
  chips/stm32f4xx/src/usart.rs
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel, sam4l, nrf, last-call, WG-OpenTitan, stm32, component

#3862 process_console: display completion code as isize
  kernel/src/process_printer.rs
Labels: kernel

#3817 Add makepython-nrf52840 board, SSD1306 OLED driver, and SharedScreen SyscallDriver
  Cargo.toml
  boards/components/src/lib.rs
  boards/components/src/screen.rs
  boards/components/src/ssd1306.rs
  boards/makepython-nrf52840/Cargo.toml
  boards/makepython-nrf52840/Makefile
  boards/makepython-nrf52840/README.md
  boards/makepython-nrf52840/layout.ld
  boards/makepython-nrf52840/src/io.rs
  boards/makepython-nrf52840/src/main.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/screen_shared.rs
  capsules/extra/src/ssd1306.rs
Labels: component

#3858 Core Working Group call notes, Feb 9 and 16 2024
  doc/wg/core/notes/core-notes-2024-02-09.md
  doc/wg/core/notes/core-notes-2024-02-16.md
Labels: documentation

#3865 Fix conditional compilation #[cfg( matches for arch & target_os
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/scb.rs
  arch/cortex-m/src/support.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/cortex-m7/src/lib.rs
  arch/cortex-v7m/src/lib.rs
  arch/riscv/src/csr/mcycle.rs
  arch/riscv/src/csr/minstret.rs
  arch/riscv/src/csr/mod.rs
  arch/riscv/src/csr/mseccfg.rs
  arch/riscv/src/csr/pmpaddr.rs
  arch/riscv/src/csr/pmpconfig.rs
  arch/riscv/src/lib.rs
  arch/rv32i/src/lib.rs
  arch/rv32i/src/support.rs
  arch/rv32i/src/syscall.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/apollo3/src/lib.rs
  chips/arty_e21_chip/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/esp32-c3/src/chip.rs
  chips/litex_vexriscv/src/interrupt_controller.rs
  chips/nrf5x/src/gpio.rs
  chips/rp2040/src/clocks.rs
  chips/stm32f4xx/src/fsmc.rs
  libraries/riscv-csr/src/csr.rs
Labels: nrf, last-call, tock-libraries, risc-v, WG-OpenTitan, stm32

#3882 Add @alexandruradovici to Core WG
  doc/wg/core/README.md
Labels: documentation, WG-Core

#3851 802.15.4 Send Raw Syscall
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
Labels: last-call, WG-Network

#3878 HIL: Add Signature::verify with `const L:usize` and process checker for signatures
  kernel/src/hil/public_key_crypto/mod.rs
  kernel/src/hil/public_key_crypto/signature.rs
  kernel/src/process_checker.rs
  kernel/src/process_checker/signature.rs
Labels: kernel

#3859 IEEE802.15.4: Remove dyn, change to template
  boards/clue_nrf52840/src/main.rs
  boards/components/src/ieee802154.rs
  boards/components/src/udp_mux.rs
  boards/imix/src/main.rs
  boards/imix/src/test/icmp_lowpan_test.rs
  boards/imix/src/test/ipv6_lowpan_test.rs
  boards/makepython-nrf52840/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/particle_boron/src/main.rs
  boards/sma_q3/src/main.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
Labels: component, WG-Network

#3883 Network working group call notes, Feb 19 2024
  doc/wg/network/notes/network-notes-2024-02-19.md
Labels: documentation, WG-Network

#3877 Add notes of core WG call from 2024-01-05
  doc/wg/core/notes/core-notes-2024-01-05.md
Labels: documentation

#3872 Capsules: AES test: make decryption optional
  boards/imix/src/test/aes_test.rs
  boards/nordic/nrf52840dk/src/test/aes_test.rs
  boards/nordic/nrf52dk/src/tests/aes.rs
  boards/opentitan/src/tests/aes_test.rs
  capsules/extra/src/test/aes.rs
Labels: WG-OpenTitan

#3855 RNG: template and add `RngComponentType`
  boards/acd52832/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/rng.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/imix/src/main.rs
  boards/imix/src/test/rng_test.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble/src/test/virtual_rng_test.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/opentitan/src/main.rs
  boards/particle_boron/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/wm1110dev/src/main.rs
  capsules/core/src/rng.rs
Labels: WG-OpenTitan, component

#3888 stm32f4xx: expose clock frequency to peripherals
  chips/stm32f4xx/src/rcc.rs
  chips/stm32f4xx/src/tim2.rs
  chips/stm32f4xx/src/usart.rs
Labels: stm32
