Repository tock/tock, pull requests merged in 2024-03, with the labels that each got.

#3892 Add notes from the March 01, 2024 meeting.
  doc/wg/core/notes/core-notes-2024-03-01.md
Labels: documentation

#3717 Nano33BLE Sense Rev2: Board Implementation
  Cargo.toml
  boards/components/src/hs3003.rs
  boards/nano33ble_rev2/Cargo.toml
  boards/nano33ble_rev2/Makefile
  boards/nano33ble_rev2/README.md
  boards/nano33ble_rev2/bootloaders/README.md
  boards/nano33ble_rev2/layout.ld
  boards/nano33ble_rev2/src/io.rs
  boards/nano33ble_rev2/src/main.rs
Labels: component

#3894 New provisions for what Core WG vs other WGs do
  doc/wg/README.md
  doc/wg/core/README.md
Labels: documentation

#3896 Fix panic printing
  kernel/src/debug.rs
Labels: kernel

#3897 capsules: test: sha256 implement CapsuleTest
  capsules/extra/src/test/sha256.rs
Labels: last-call

#3898 Network working group notes, March 04 2024
  doc/wg/network/notes/network-notes-2024-03-04.md
Labels: documentation, WG-Network

#3901 test_fields!: stringify offset and size in error messages
  libraries/tock-register-interface/src/macros.rs
Labels: tock-libraries

#3904 15.4 Radio channel Enum
  boards/components/src/rf233.rs
  boards/imix/src/main.rs
  capsules/extra/src/rf233.rs
  chips/nrf52840/src/ieee802154_radio.rs
  doc/reference/trd-radio.md
  kernel/src/hil/radio.rs
Labels: nrf, HIL, component, WG-Network

#3902 TBF Header: Store slices instead of parsed objects
  libraries/tock-tbf/src/parse.rs
  libraries/tock-tbf/src/types.rs
Labels: last-call, tock-libraries

#3908 Doc: update boards readme with new boards and add script
  boards/README.md
  tools/check_boards_readme.py
Labels: documentation

#3916 kernel: deferred call: better error panic
  kernel/src/deferred_call.rs
Labels: kernel

#3915 stm32f429zi: rtc deferred call
  chips/stm32f429zi/src/interrupt_service.rs
Labels: stm32

#3909 Core WG notes for 2024-03-08
  doc/wg/core/notes/core-notes-2024-03-08.md
Labels: documentation

#3910 Capsules: update readme with new capsules
  capsules/core/README.md
  capsules/core/src/i2c_master_slave_combo.rs
  capsules/extra/README.md
  capsules/extra/src/at24c_eeprom.rs
  tools/check_capsule_readme.py
Labels: documentation, P-Upkeep

#3911 Tools: add readmes
  tools/README.md
  tools/alert_codes/README.md
  tools/alert_codes/src/main.rs
  tools/check-for-readmes.sh
  tools/license-checker/README.md
  tools/litex-ci-runner/README.md
  tools/qemu-runner/README.md
  tools/sha256sum/README.md
  tools/usb/bulk-echo/README.md
  tools/usb/bulk-echo/src/main.rs
  tools/usb/bulk-test/README.md
  tools/usb/control-test/README.md
Labels: documentation

#3921 Code updates from new nightly
  arch/riscv/src/csr/mtvec.rs
  arch/riscv/src/csr/stvec.rs
  arch/riscv/src/csr/utvec.rs
  capsules/extra/src/screen_shared.rs
  chips/nrf52840/src/ieee802154_radio.rs
Labels: nrf, risc-v, WG-Network

#3906 chips: virtio: add readme
  chips/virtio/README.md
Labels: documentation

#3907 Update chips readme with chip support
  chips/README.md
  tools/update_chip_support.py
Labels: documentation

#3899 15.4 Receive Ring Buffer
  capsules/extra/src/ieee802154/driver.rs
Labels: WG-Network

#3919 Raw Receive
  capsules/extra/src/ieee802154/framer.rs
Labels: WG-Network

#3920 wm1110: add nonvolatile storage
  boards/components/src/nonvolatile_storage.rs
  boards/wm1110dev/layout.ld
  boards/wm1110dev/src/main.rs
Labels: component

#3924 use `usize::checked_next_multiple_of`
  libraries/tock-tbf/src/parse.rs
Labels: tock-libraries

#3929 core team notes 3-15-24
  doc/wg/core/notes/core-notes-2024-03-15.md
Labels: documentation

#3931 Core working group notes, March 22nd 2024
  doc/wg/core/notes/core-notes-2024-03-22.md
Labels: documentation

#3935 arch/cortex-m3: re-export interrupt mask
  arch/cortex-m3/src/lib.rs
  kernel/src/hil/time.rs
Labels: HIL

#3927 [opentitan] Fix spurious `0` byte reads on the LowRISC UART driver.
  chips/lowrisc/src/uart.rs
Labels: needs-rebase, WG-OpenTitan, waiting-on-author
