Repository tock/tock, pull requests merged in 2024-04, with the labels that each got.

#3936 Network working group notes, March 18 2024
  doc/wg/network/notes/network-notes-2024-03-18.md
Labels: documentation, WG-Network

#3933 IEEE802.15.4 Framer PSDU Offset Fix
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/mac.rs
Labels: WG-Network

#3947 EUI-64 Capsule
  boards/components/src/eui64.rs
  boards/components/src/lib.rs
  boards/nordic/nrf52840dk/src/main.rs
  capsules/core/src/driver.rs
  capsules/extra/src/eui64.rs
  capsules/extra/src/lib.rs
Labels: last-call, component

#3942 doc: core: add notes from 2024-03-29
  doc/wg/core/notes/core-notes-2024-03-29.md
Labels: documentation

#3937 make TakeCell::empty() const, and make nrf52840 GPIO pin initialization a const fn
  chips/nrf52/src/adc.rs
  chips/nrf52/src/ble_radio.rs
  chips/nrf52/src/i2c.rs
  chips/nrf52/src/spi.rs
  chips/nrf52/src/uart.rs
  chips/nrf52840/src/gpio.rs
  chips/nrf5x/src/aes.rs
  chips/nrf5x/src/gpio.rs
  libraries/tock-cells/src/take_cell.rs
Labels: nrf, tock-libraries, WG-Network

#3952 boards: opentitan: tests: fix flash warnings
  boards/opentitan/src/tests/flash.rs
Labels: WG-OpenTitan

#3944 capsules: add sh1106 OLED screen driver
  boards/components/src/lib.rs
  boards/components/src/sh1106.rs
  capsules/extra/README.md
  capsules/extra/src/lib.rs
  capsules/extra/src/sh1106.rs
  capsules/extra/src/ssd1306.rs
Labels: last-call, component

#3940 IEEE802.15.4 RxClient Encrypted Receive
  boards/components/src/ieee802154.rs
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
Labels: component, WG-Network

#3966 libraries: remove unused imports
  libraries/enum_primitive/src/cast.rs
Labels: tock-libraries

#3967 kernel: process_checker: basic: make assigner pub
  kernel/src/process_checker/basic.rs
Labels: kernel

#3960 Core working group call notes: April 12, 2024
  doc/wg/core/notes/core-notes-2024-04-12.md
Labels: documentation

#3963 Network working group call notes: April 15, 2024
  doc/wg/network/notes/network-notes-2024-04-15.md
Labels: documentation, WG-Network

#3842 rust: update nightly April 2024
  .vscode/settings.json
  arch/cortex-m/src/mpu.rs
  boards/components/src/segger_rtt.rs
  boards/imix/src/test/log_test.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/io.rs
  boards/nano33ble/src/test/log_test.rs
  boards/nano33ble_rev2/src/main.rs
  capsules/extra/src/ble_advertising_driver.rs
  capsules/extra/src/log.rs
  chips/msp432/src/adc.rs
  chips/msp432/src/dma.rs
  chips/nrf52/src/ficr.rs
  chips/nrf5x/src/trng.rs
  chips/sam4l/src/dma.rs
  chips/stm32f4xx/src/dma.rs
  chips/virtio/src/queues/split_queue.rs
  doc/Getting_Started.md
  kernel/src/deferred_call.rs
  kernel/src/hil/can.rs
  libraries/tickv/src/async_ops.rs
  rust-toolchain.toml
  tools/netlify-build.sh
  tools/run_clippy.sh
Labels: blocked, kernel, sam4l, nrf, tock-libraries, HIL, stm32, component, WG-Network

#3971 Notes from Core working group call: April 19, 2024
  doc/wg/core/notes/core-notes-2024-04-19.md
Labels: documentation

#3961 Network working group call notes: April 01, 2024
  doc/wg/network/notes/network-notes-2024-04-01.md
Labels: documentation, WG-Network
