Repository tock/tock, pull requests merged in 2024-07, with the labels that each got.

#4056 Fix module name for TextScreen
  boards/components/src/text_screen.rs
Labels: P-Upkeep, component

#4057 arch: cortex-m: fix docs
  arch/cortex-m/src/lib.rs
  arch/cortex-v7m/src/lib.rs
Labels: P-Upkeep

#4061 kernel: process standard: do not store reference to process name
  kernel/src/process_standard.rs
Labels: kernel

#4059 arch: rv32i: fix comments
  arch/rv32i/src/lib.rs
Labels: P-Upkeep, risc-v

#4037 Makefile: remove `format` command in favor of simpler `format-check`
  Makefile
  tools/check_format.sh
  tools/run_cargo_fmt.sh
Labels: last-call

#4068 Use `cargo doc --document-private-items`
  arch/rv32i/src/pmp.rs
  boards/Makefile.common
  capsules/core/src/virtualizers/virtual_i2c.rs
  capsules/core/src/virtualizers/virtual_spi.rs
  capsules/core/src/virtualizers/virtual_uart.rs
  capsules/extra/src/bmp280.rs
  capsules/extra/src/hmac_sha256.rs
  capsules/extra/src/usb/ctap.rs
  capsules/extra/src/usb/keyboard_hid.rs
  chips/earlgrey/src/aes.rs
  chips/imxrt10xx/src/gpio.rs
  chips/litex/src/timer.rs
  chips/nrf52/src/ficr.rs
  kernel/src/syscall_driver.rs
Labels: kernel, nrf, risc-v, WG-OpenTitan

#4063 chips: apollo3: Handle the errata for clock double increments
  chips/apollo3/src/stimer.rs
Labels: last-call

#4067 libraries: tock-cells and enum_primitive: specify edition
  libraries/enum_primitive/Cargo.toml
  libraries/tock-cells/Cargo.toml
  libraries/tock-cells/src/map_cell.rs
Labels: P-Upkeep, tock-libraries

#4073 chips/{litex/liteeth,lowrisc/usbdev}: remove dead code
  chips/litex/src/liteeth.rs
  chips/lowrisc/src/usbdev.rs
Labels: P-Upkeep, last-call, WG-OpenTitan, WG-Network

#4071 Update Rust nightly toolchain to nightly-2024-07-08
  .vscode/settings.json
  arch/rv32i/src/pmp.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/spi_peripheral.rs
  capsules/extra/src/screen_shared.rs
  doc/Getting_Started.md
  libraries/tock-register-interface/src/registers.rs
  rust-toolchain.toml
  tools/netlify-build.sh
Labels: last-call, tock-libraries, risc-v

#4077 make: simplify cargo doc rule
  boards/Makefile.common
Labels: P-Upkeep

#4087 docs: fix various links
  boards/README.md
  boards/nano33ble/README.md
  boards/nano33ble_rev2/README.md
  boards/nano_rp2040_connect/README.md
  boards/nordic/nrf52840dk/README.md
  boards/sma_q3/README.md
  boards/tutorials/nrf52840dk-thread-tutorial/README.md
  capsules/core/src/low_level_debug/README.md
  doc/ExternalDependencies.md
  doc/syscalls/README.md
  libraries/tickv/README.md
  libraries/tickv/SPEC.md
Labels: P-Upkeep, tock-libraries

#4083 Stm32 Boards: use start()
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
Labels: P-Upkeep

#4084 boards: litex: use start()
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
Labels: P-Upkeep

#4090 clippy: deny `unnecessary_unwrap`
  Cargo.toml
  chips/lowrisc/src/usbdev.rs
  chips/msp432/src/uart.rs
Labels: P-Upkeep, WG-OpenTitan

#4091 clippy: deny `needless_match`
  Cargo.toml
  capsules/extra/src/net/udp/driver.rs
Labels: P-Upkeep, WG-Network

#4092 clippy: deny `type_repetition_in_bounds`
  Cargo.toml
  boards/components/src/lpm013m126.rs
  libraries/tock-register-interface/src/debug.rs
Labels: P-Upkeep, tock-libraries, component

#4095 clippy: deny `needless-if`
  Cargo.toml
  capsules/extra/src/net/udp/udp_port_table.rs
Labels: WG-Network

#4096 clippy: deny `explicit_auto_deref`
  Cargo.toml
  arch/rv32i/src/clic.rs
  chips/sam4l/src/ast.rs
  chips/sam4l/src/eic.rs
  chips/sam4l/src/gloc.rs
  chips/sam4l/src/gpio.rs
  chips/sam4l/src/i2c.rs
  chips/sam4l/src/pm.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
  chips/sam4l/src/usbc/mod.rs
  chips/stm32f4xx/src/dma.rs
Labels: sam4l, P-Upkeep, risc-v, stm32

#4093 clippy: deny `borrow_deref_ref`
  Cargo.toml
  chips/sam4l/src/i2c.rs
Labels: sam4l, P-Upkeep

#4097 clippy: deny `from-over-into`
  Cargo.toml
  chips/nrf5x/src/pinmux.rs
  chips/rp2040/src/deferred_calls.rs
  chips/stm32f4xx/src/chip_specific/flash.rs
Labels: nrf, last-call, stm32

#4098 Fixing deferred calls registering for rp2040 rtc
  boards/components/src/date_time.rs
  chips/rp2040/src/chip.rs
Labels: bug, P-Upkeep, last-call, component

#4089 clippy: deny `wrong-self-convention`
  Cargo.toml
  chips/imxrt10xx/src/gpio.rs
Labels: P-Upkeep, last-call

#4078 chips: apollo3: stimer: Ensure alarm occurs if set in the past
  chips/apollo3/src/stimer.rs
Labels: last-call

#4094 clippy: deny `overflow_check_conditional`
  Cargo.toml
  chips/sam4l/src/flashcalw.rs
Labels: sam4l, P-Upkeep, last-call

#4080 kernel crate: Improve comments and generated docs
  .github/workflows/mergequeue_docs.yml
  kernel/src/component.rs
  kernel/src/errorcode.rs
  kernel/src/grant.rs
  kernel/src/kernel.rs
  kernel/src/process_printer.rs
  kernel/src/syscall.rs
  kernel/src/syscall_driver.rs
  kernel/src/upcall.rs
Labels: documentation, kernel, last-call

#4102 Notes from Core working group call: July 12, 2024
  doc/wg/core/notes/core-notes-2024-07-12.md
Labels: documentation, last-call

#4105 kernel: syscall: fix missing comments
  kernel/src/syscall.rs
Labels: kernel, P-Upkeep

#4107 Network working group call notes: July 15, 2024
  doc/wg/network/notes/network-notes-2024-07-15.md
Labels: documentation, last-call, WG-Network

#4069 tickv: Remove the offset from read_region()
  capsules/extra/src/tickv.rs
  libraries/tickv/Cargo.toml
  libraries/tickv/src/async_ops.rs
  libraries/tickv/src/crc32.rs
  libraries/tickv/src/flash_controller.rs
  libraries/tickv/src/lib.rs
  libraries/tickv/src/tests.rs
  libraries/tickv/src/tickv.rs
Labels: last-call, tock-libraries

#4028 AppID: Restore `AppIdPolicy` implementations' ability to use the accepted credential, and allow credential checkers to pass data with accepted credentials
  capsules/system/src/process_checker/basic.rs
  capsules/system/src/process_checker/signature.rs
  doc/reference/trd-appid.md
  kernel/src/process.rs
  kernel/src/process_binary.rs
  kernel/src/process_checker.rs
  kernel/src/process_loading.rs
  kernel/src/process_standard.rs
Labels: kernel, last-call

#4108 Fix something that was not the root cause of relocation bug from #2219 at the time, the root cause was a bug in LLD, and now that bug is fixed, so we can use the canonical way of ensuring the relocation section has a predictable LMA
  boards/kernel_layout.ld
Labels: last-call

#4116 loops: use .iter() rather than c loops
  capsules/core/src/process_console.rs
  kernel/src/debug.rs
  kernel/src/process_loading.rs
Labels: kernel, last-call

#4115 clippy: deny `unnecessary_struct_initialization`
  Cargo.toml
  capsules/extra/src/usb/cdc.rs
  capsules/extra/src/usb/ctap.rs
Labels: P-Upkeep, last-call

#4117 arch: fix clippy warnings
  Makefile
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/support.rs
  arch/rv32i/src/syscall.rs
Labels: last-call, risc-v

#4114 clippy: deny `match-single-binding`
  Cargo.toml
  chips/stm32f401cc/src/interrupt_service.rs
  chips/stm32f446re/src/interrupt_service.rs
Labels: needs-rebase, P-Upkeep, last-call, stm32

#4113 doc: kernel: improve comments in debug.rs and process.rs
  kernel/src/debug.rs
  kernel/src/process.rs
Labels: kernel

#4119 Notes from 07/19/2024 core WG meeting.
  doc/wg/core/notes/core-notes-2024-07-19.md
Labels: documentation

#4120 Add Core Notes July 26, 2024
  doc/wg/core/notes/core-notes-2024-07-26.md
Labels: documentation
