Repository tock/tock, pull requests merged in 2024-08, with the labels that each got.

#4125 Add rust-analyzer to rust-toolchain
  rust-toolchain.toml
Labels: P-Upkeep

#4128 kernel: improve deferred_call doc
  kernel/src/deferred_call.rs
Labels: kernel, P-Upkeep, last-call

#4124 segger_rtt: mark allocated struct as `_SEGGER_RTT` in ELF
  boards/components/src/segger_rtt.rs
  kernel/src/utilities/static_init.rs
Labels: kernel, last-call, component

#4127 doc: wg: add notes from 2024-08-02
  doc/wg/core/notes/core-notes-2024-08-02.md
Labels: documentation, last-call

#4122 Build docs for target-specific code independent of platform
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/scb.rs
  arch/cortex-m/src/support.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-v7m/src/lib.rs
  arch/riscv/src/lib.rs
  arch/rv32i/src/lib.rs
  arch/rv32i/src/support.rs
  arch/rv32i/src/syscall.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/apollo3/src/lib.rs
  chips/arty_e21_chip/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/esp32-c3/src/chip.rs
  chips/litex_vexriscv/src/interrupt_controller.rs
  chips/rp2040/src/clocks.rs
  chips/stm32f4xx/src/fsmc.rs
  libraries/riscv-csr/src/csr.rs
Labels: last-call, tock-libraries, risc-v, WG-OpenTitan, stm32

#4132 Screen driver for SMA Q3
  boards/components/src/lpm013m126.rs
  boards/sma_q3/src/main.rs
Labels: last-call, component

#4123 chips: apollo3: Support the flash controller
  boards/apollo3/lora_things_plus/layout.ld
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_atp/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  chips/apollo3/src/chip.rs
  chips/apollo3/src/flashctrl.rs
  chips/apollo3/src/lib.rs
Labels: last-call

#4130 Segger RTT Receive
  chips/segger/src/rtt.rs
Labels: last-call

#4137 Notes from Core Working Group call: August 9, 2024
  doc/wg/core/notes/core-notes-2024-08-09.md
Labels: documentation

#4139 Network working group call notes: August 12, 2024
  doc/wg/network/notes/network-notes-2024-08-12.md
Labels: documentation, WG-Network

#3696 Initial support for the ATECC508A
  Makefile
  boards/apollo3/lora_things_plus/.cargo/config.toml
  boards/apollo3/lora_things_plus/Cargo.toml
  boards/apollo3/lora_things_plus/Makefile
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/lora_things_plus/src/tests/atecc508a.rs
  boards/apollo3/lora_things_plus/src/tests/csrng.rs
  boards/apollo3/lora_things_plus/src/tests/mod.rs
  boards/apollo3/redboard_artemis_atp/.cargo/config.toml
  boards/apollo3/redboard_artemis_nano/.cargo/config.toml
  boards/components/src/atecc508a.rs
  boards/components/src/lib.rs
  capsules/extra/README.md
  capsules/extra/src/atecc508a.rs
  capsules/extra/src/lib.rs
  chips/apollo3/src/iom.rs
Labels: last-call, component

#4142 Core working group meeting notes: August 16, 2024
  doc/wg/core/notes/core-notes-2024-08-16.md
Labels: documentation, last-call

#4135 Add well-formedness check to CortexMRegion::new()
  arch/cortex-m/src/mpu.rs
Labels: last-call

#4149 kernel: process loading: improve debug prints
  kernel/src/process_loading.rs
Labels: kernel, P-Upkeep

#4148 kernel: hil: uart: improve rustdoc
  kernel/src/hil/uart.rs
Labels: documentation, last-call, HIL

#4151 Fix cooperative scheduler panic
  kernel/src/scheduler/cooperative.rs
Labels: kernel

#4074 Moving microbit_v2 away from openocd to probe-rs
  boards/microbit_v2/Makefile
  boards/microbit_v2/README.md
Labels: waiting-on-author

#4155 chips: apollo3: iom: Add delay when reading I2C
  chips/apollo3/src/iom.rs
Labels: last-call
