Repository tock/tock, pull requests merged in 2024-06, with the labels that each got.

#3975 capsules/alarm: left-justify 32 bit ticks, re-architect alarm, add unit tests
  capsules/core/src/alarm.rs
Labels: P-Significant

#4013 Remove dead code
  chips/lowrisc/src/aon_timer.rs
  chips/sam4l/src/flashcalw.rs
Labels: sam4l, WG-OpenTitan

#4002 bump Rust nightly to nightly-2024-05-23 and set optimize_for_size
  .vscode/settings.json
  boards/Makefile.common
  boards/arty_e21/src/timer_test.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/spi_peripheral.rs
  capsules/system/src/process_checker/basic.rs
  capsules/system/src/process_checker/signature.rs
  chips/stm32f4xx/Cargo.toml
  doc/Getting_Started.md
  kernel/src/collections/ring_buffer.rs
  kernel/src/debug.rs
  kernel/src/grant.rs
  kernel/src/hil/can.rs
  kernel/src/hil/i2c.rs
  kernel/src/introspection.rs
  kernel/src/kernel.rs
  kernel/src/platform/mpu.rs
  kernel/src/process.rs
  kernel/src/process_binary.rs
  kernel/src/process_checker.rs
  kernel/src/process_loading.rs
  kernel/src/process_standard.rs
  kernel/src/scheduler/mlfq.rs
  kernel/src/scheduler/priority.rs
  kernel/src/storage_permissions.rs
  kernel/src/upcall.rs
  libraries/enum_primitive/src/cast.rs
  libraries/tickv/src/crc32.rs
  libraries/tickv/src/tickv.rs
  rust-toolchain.toml
  tools/netlify-build.sh
  tools/run_clippy.sh
Labels: kernel, tock-libraries, HIL, stm32, WG-Network

#3995 802.15.4 HIL updates; nRF52840 IEEE 802.15.4 Driver Updates
  chips/nrf52840/src/ieee802154_radio.rs
  chips/nrf52840/src/interrupt_service.rs
  kernel/src/hil/radio.rs
Labels: nrf, HIL, WG-Network

#4019 appid: add null checker
  boards/components/src/appid/checker.rs
  boards/components/src/appid/checker_null.rs
  boards/components/src/appid/mod.rs
  capsules/system/src/process_checker/basic.rs
Labels: component

#4016 802.15.4: Add raw userspace driver
  boards/components/src/ieee802154.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/mod.rs
  capsules/extra/src/ieee802154/phy_driver.rs
Labels: component, WG-Network

#4014 802.15.4: Revert raw/encrypted receive
  boards/components/src/ieee802154.rs
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
Labels: component, WG-Network

#4015 802.15.4: Revert raw TX in 15.4 stack
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
Labels: WG-Network

#4022 802.15.4: Add 15.4 Stack Readme
  capsules/extra/src/ieee802154/README.md
Labels: WG-Network

#4024 Network working group call notes: June 10, 2024
  doc/wg/network/notes/network-notes-2024-06-10.md
Labels: documentation, WG-Network

#4025 Core Team Notes 6-7-24
  doc/wg/core/notes/core-notes-2024-06-07.md
Labels: documentation

#4009 arch/rv32i: separate kernel and app trap handlers
  arch/rv32i/src/lib.rs
  arch/rv32i/src/syscall.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/swervolf/src/main.rs
  chips/earlgrey/src/chip.rs
Labels: risc-v, WG-OpenTitan

#4021 TRD: Tock Storage Permissions
  doc/reference/trd-storage-permissions.md
Labels: documentation

#4029 Add Core Team Call Notes of 2024-05-31
  doc/wg/core/notes/core-notes-2024-05-31.md
Labels: documentation

#3577 [RFC] Yield-WaitFor syscall
  doc/reference/trd104-syscalls.md
  kernel/src/collections/queue.rs
  kernel/src/collections/ring_buffer.rs
  kernel/src/kernel.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
  kernel/src/syscall.rs
  kernel/src/upcall.rs
Labels: kernel, P-Significant

#4032 doc/reference/trd104: bump draft version and date modified
  doc/reference/trd104-syscalls.md
Labels: documentation

#4026 AppID/TBF: Add `ShortId` header
  Cargo.toml
  boards/components/src/appid/assigner_tbf.rs
  boards/components/src/appid/checker_null.rs
  boards/components/src/appid/mod.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/Cargo.toml
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/Makefile
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/README.md
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/layout.ld
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  capsules/system/src/process_checker/mod.rs
  capsules/system/src/process_checker/tbf.rs
  kernel/src/process.rs
  libraries/tock-tbf/src/parse.rs
  libraries/tock-tbf/src/types.rs
Labels: kernel, tock-libraries, component

#4034 opentitan: Add ROM_EXT-compatible ePMP setup.
  chips/earlgrey/src/epmp.rs
Labels: WG-OpenTitan

#4038 kernel: processstd: remove unsafe in version
  kernel/src/process_standard.rs
Labels: kernel

#4036 Components: Add component for sequential process loader
  boards/components/src/lib.rs
  boards/components/src/loader/mod.rs
  boards/components/src/loader/sequential.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/imix/src/main.rs
  boards/makepython-nrf52840/src/main.rs
Labels: component

#4033 kernel/collections/queue: rename `remove_first` to `remove_first_matching`
  kernel/src/collections/queue.rs
  kernel/src/collections/ring_buffer.rs
  kernel/src/process_standard.rs
Labels: kernel, P-Upkeep

#4039 kernel: process standard: stop in YieldedFor
  kernel/src/kernel.rs
  kernel/src/process.rs
  kernel/src/process_standard.rs
Labels: bug, kernel

#4045 ci: nightly: change syntax
  .github/workflows/ci-nightly.yml
Labels: P-Upkeep

#4041 capsules: appid: names: simplify implementation
  capsules/system/src/process_checker/basic.rs
Labels: P-Upkeep

#4043 doc: scheduling: moved to book
  doc/Scheduling.md
Labels: documentation

#4042 nrf52: Expose SPI0 and TWI1 (and not TWI0 and SPI1)
  boards/acd52832/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/main.rs
  boards/tutorials/nrf52840dk-thread-tutorial/src/main.rs
  chips/nrf52/src/chip.rs
Labels: nrf, last-call

#4046 Add notes from core wg meeting June 14, 2024
  doc/wg/core/notes/core-notes-2024-06-14.md
Labels: documentation

#4050 Include Network WG in list of working groups
  doc/wg/README.md
Labels: documentation, P-Upkeep

#4048 Email group changed
  README.md
Labels: P-Upkeep

#4052 doc: wg: core: update Hudson's affiliation
  doc/wg/core/README.md
Labels: documentation

#4047 nrf52840: IEEE802154 TX Buf Length Fix
  chips/nrf52840/src/ieee802154_radio.rs
Labels: nrf, WG-Network

#4053 IPC: Avoid double grant entry
  kernel/src/ipc.rs
Labels: bug, kernel
