Repository tock/tock, pull requests merged in 2024-10, with the labels that each got.

#4186 doc: add some found legacy notes
  doc/wg/legacy/2018-09-25.md
Labels: documentation

#4190 ot/earlgrey-cw310: custom build.rs that supports alternative linker script for tests
  boards/apollo3/lora_things_plus/Makefile
  boards/apollo3/redboard_artemis_atp/Makefile
  boards/apollo3/redboard_artemis_nano/Makefile
  boards/build_scripts/src/default.rs
  boards/build_scripts/src/lib.rs
  boards/esp32-c3-devkitM-1/Makefile
  boards/opentitan/earlgrey-cw310/Cargo.toml
  boards/opentitan/earlgrey-cw310/Makefile
  boards/opentitan/earlgrey-cw310/build.rs
  boards/opentitan/earlgrey-cw310/run.sh
Labels: last-call, WG-OpenTitan

#4191 Update .apps section
  boards/build_scripts/tock_kernel_layout.ld
  boards/esp32-c3-devkitM-1/Makefile
  boards/imxrt1050-evkb/Makefile
  boards/imxrt1050-evkb/README.md
  boards/nano_rp2040_connect/Makefile
  boards/nucleo_f429zi/README.md
  boards/nucleo_f446re/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/pico_explorer_base/Makefile
  boards/raspberry_pi_pico/Makefile
  boards/teensy40/Makefile
  boards/teensy40/README.md
  boards/weact_f401ccu6/Makefile
  boards/weact_f401ccu6/README.md
Labels: last-call, WG-OpenTitan

#4165 Add support for ECDSA NIST P256 signature credentials
  boards/components/Cargo.toml
  boards/components/src/appid/checker_signature.rs
  boards/components/src/appid/mod.rs
  libraries/tock-tbf/src/types.rs
Labels: tock-libraries, component

#4195 Remove `.unwrap()` in `impl From`
  Cargo.toml
  chips/earlgrey/src/gpio.rs
  kernel/src/syscall_driver.rs
Labels: kernel, WG-OpenTitan

#4192 kernel/processbuffer: accept arbitrary Ranges in ProcessSlice::get
  capsules/extra/src/ble_advertising_driver.rs
  kernel/src/processbuffer.rs
Labels: kernel, WG-Network

#4189 Notes from Core working group call: Oct. 4, 2024
  doc/wg/core/notes/core-notes-2024-10-04.md
Labels: documentation

#4099 Fix the bus library to support all the possible address widths
  boards/components/src/st77xx.rs
  capsules/extra/src/bus.rs
  capsules/extra/src/st77xx.rs
  chips/stm32f4xx/src/fsmc.rs
  kernel/src/hil/bus8080.rs
Labels: last-call, HIL, stm32, component

#4126 Servomotor driver
  boards/components/src/lib.rs
  boards/components/src/servo.rs
  capsules/core/src/driver.rs
  capsules/extra/README.md
  capsules/extra/src/lib.rs
  capsules/extra/src/servo.rs
  capsules/extra/src/sg90.rs
  doc/syscalls/90009_servo.md
  doc/syscalls/README.md
  kernel/src/hil/mod.rs
  kernel/src/hil/servo.rs
Labels: last-call, HIL, component

#4202 ci: update github action versions
  .github/workflows/benchmarks.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/ci.yml
  .github/workflows/litex_sim.yml
  .github/workflows/mergequeue_docs.yml
Labels: P-Upkeep

#4200 treadmill-ci: pin CLI client revision, switch to ARM64 Raspberry Pi hosts
  .github/workflows/treadmill-ci.yml
Labels: last-call

#4198 Core Working Group call notes: October 11, 2024
  doc/wg/core/notes/core-notes-2024-10-11.md
Labels: documentation, last-call

#4201 Alarm Syscall: fix computed `dt` when both unshifted `reference` and `dt` from userspace have low-order bits.
  capsules/core/src/alarm.rs
Labels: last-call

#4188 ProcessStandard: Make debugging data optional
  boards/components/src/loader/sequential.rs
  boards/components/src/storage_permissions/individual.rs
  boards/components/src/storage_permissions/null.rs
  boards/components/src/storage_permissions/tbf_header.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/imix/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  capsules/system/src/storage_permissions/individual.rs
  capsules/system/src/storage_permissions/null.rs
  capsules/system/src/storage_permissions/tbf_header.rs
  kernel/src/process.rs
  kernel/src/process_loading.rs
  kernel/src/process_policies.rs
  kernel/src/process_standard.rs
Labels: kernel, last-call, component

#4211 tools/license-checker: update syntect rev to accelerate tests
  tools/license-checker/Cargo.toml
Labels: last-call

#4214 Bump QEMU version to 9.1.1
  Makefile
Labels: P-Upkeep

#4212 Pio last update
  boards/pico_explorer_base/src/main.rs
  chips/rp2040/src/pio_pwm.rs
Labels: last-call

#4154 atecc508a: Support SHA256 Digests
  boards/apollo3/lora_things_plus/src/tests/mod.rs
  boards/apollo3/lora_things_plus/src/tests/sha.rs
  boards/components/src/atecc508a.rs
  capsules/extra/src/atecc508a.rs
Labels: component

#4213 Network working group call notes: October 21, 2024
  doc/wg/network/notes/network-notes-2024-10-21.md
Labels: documentation, WG-Network

#4197 kernel: Update documentation to utilities and debug
  kernel/src/debug.rs
  kernel/src/utilities/copy_slice.rs
  kernel/src/utilities/helpers.rs
  kernel/src/utilities/leasable_buffer.rs
  kernel/src/utilities/math.rs
  kernel/src/utilities/mod.rs
  kernel/src/utilities/mut_imut_buffer.rs
  kernel/src/utilities/peripheral_management.rs
  kernel/src/utilities/static_init.rs
  kernel/src/utilities/static_ref.rs
  kernel/src/utilities/storage_volume.rs
  libraries/tock-register-interface/src/fields.rs
  libraries/tock-register-interface/src/macros.rs
Labels: documentation, kernel, last-call, tock-libraries

#4217 doc: Fix `make doc` exiting with errors
  arch/riscv/src/lib.rs
  capsules/extra/src/servo.rs
Labels: P-Upkeep, last-call, risc-v

#4215 Small updates for better performance in screen driver
  boards/stm32f412gdiscovery/src/main.rs
  capsules/extra/src/screen.rs
Labels: P-Upkeep, last-call
