Repository tock/tock, pull requests merged in 2024-09, with the labels that each got.

#4161 Fix deferred calls
  kernel/src/deferred_call.rs
Labels: kernel

#4163 fmt: make `panic!` error messages greppable
  arch/rv32i/src/pmp.rs
  boards/build.rs
Labels: P-Upkeep, last-call, risc-v

#4166 doc: wg: core: notes 2024-09-06
  doc/wg/core/notes/core-notes-2024-09-06.md
Labels: documentation

#4170 kernel: hil: spi: improve rustdoc
  kernel/src/hil/spi.rs
Labels: documentation, P-Upkeep, last-call, HIL

#4118 Add VeeR EL2 simulation target
  Cargo.toml
  boards/README.md
  boards/swervolf/Makefile
  boards/swervolf/README.md
  boards/swervolf/layout.ld
  boards/swervolf/makehex.py
  boards/veer_el2_sim/.cargo/config.toml
  boards/veer_el2_sim/Cargo.toml
  boards/veer_el2_sim/Makefile
  boards/veer_el2_sim/README.md
  boards/veer_el2_sim/layout.ld
  boards/veer_el2_sim/src/io.rs
  boards/veer_el2_sim/src/main.rs
  chips/README.md
  chips/swerv/Cargo.toml
  chips/swerv/README.md
  chips/swerv/src/eh1_timer.rs
  chips/swervolf-eh1/README.md
  chips/swervolf-eh1/src/lib.rs
  chips/swervolf-eh1/src/syscon.rs
  chips/swervolf-eh1/src/uart.rs
  chips/veer_el2/Cargo.toml
  chips/veer_el2/README.md
  chips/veer_el2/src/chip.rs
  chips/veer_el2/src/io.rs
  chips/veer_el2/src/lib.rs
  chips/veer_el2/src/machine_timer.rs
  chips/veer_el2/src/pic.rs
  chips/veer_el2/src/uart.rs
  tools/update_chip_support.py
Labels: last-call

#4178 Network working group call notes: Sep. 23, 2024
  doc/wg/network/notes/network-notes-2024-09-23.md
Labels: documentation, WG-Network

#4175 Core WG notes for 2024-09-20.
  doc/wg/core/notes/core-notes-2024-09-20.md
Labels: documentation

#4173 Switch SPI master HIL to leasable buffers instead of raw slices
  boards/apollo3/lora_things_plus/src/tests/spi_controller.rs
  boards/apollo3/redboard_artemis_nano/src/tests/spi_controller.rs
  boards/imix/src/test/spi_dummy.rs
  boards/imix/src/test/spi_loopback.rs
  boards/opentitan/src/tests/spi_host.rs
  capsules/core/src/spi_controller.rs
  capsules/core/src/virtualizers/virtual_spi.rs
  capsules/extra/src/bus.rs
  capsules/extra/src/fm25cl.rs
  capsules/extra/src/l3gd20.rs
  capsules/extra/src/lpm013m126.rs
  capsules/extra/src/mx25r6435f.rs
  capsules/extra/src/rf233.rs
  capsules/extra/src/sdcard.rs
  chips/apollo3/src/iom.rs
  chips/lowrisc/src/spi_host.rs
  chips/nrf52/src/spi.rs
  chips/rp2040/src/spi.rs
  chips/sam4l/src/spi.rs
  chips/sam4l/src/usart.rs
  chips/stm32f303xc/src/spi.rs
  chips/stm32f4xx/src/dma.rs
  chips/stm32f4xx/src/spi.rs
  chips/stm32f4xx/src/usart.rs
  kernel/src/hil/spi.rs
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel, sam4l, nrf, last-call, HIL, WG-OpenTitan, stm32, WG-Network

#4169 boards: linker: do not load .apps section by default
  boards/esp32-c3-devkitM-1/Makefile
  boards/imxrt1050-evkb/Makefile
  boards/imxrt1050-evkb/README.md
  boards/kernel_layout.ld
  boards/nano_rp2040_connect/Makefile
  boards/nucleo_f429zi/README.md
  boards/nucleo_f446re/README.md
  boards/opentitan/earlgrey-cw310/Makefile
  boards/pico_explorer_base/Makefile
  boards/raspberry_pi_pico/Makefile
  boards/stm32f3discovery/README.md
  boards/stm32f412gdiscovery/README.md
  boards/stm32f429idiscovery/README.md
  boards/teensy40/Makefile
  boards/teensy40/README.md
  boards/weact_f401ccu6/Makefile
  boards/weact_f401ccu6/README.md
Labels: last-call, WG-OpenTitan

#4180 LPM013m126 Screen: Support RGB color formats
  capsules/extra/src/lpm013m126.rs
  capsules/extra/src/screen.rs
  kernel/src/hil/screen.rs
Labels: last-call, HIL

#4177 Add initial Treadmill Hardware CI workflow scaffold
  .github/workflows/treadmill-ci.yml
Labels: last-call

#4182 boards: fixed STM systick frequency
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/weact_f401ccu6/src/main.rs
Labels: last-call
