Repository tock/tock, pull requests merged in 2024-05, with the labels that each got.

#3934 cortex-m: Add initial dwt and dcb support, take 2
  arch/cortex-m/src/dcb.rs
  arch/cortex-m/src/dwt.rs
  arch/cortex-m/src/lib.rs
  arch/cortex-m4/src/lib.rs
  capsules/core/src/driver.rs
  capsules/extra/README.md
  capsules/extra/src/cycle_count.rs
  capsules/extra/src/lib.rs
  kernel/src/hil/hw_debug.rs
  kernel/src/hil/mod.rs
Labels: HIL

#3976 Remove Thread Capsule Debug Statements
  capsules/extra/src/net/thread/driver.rs
Labels: WG-Network

#3972 nrf52840 802.15.4 LQI
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/mac.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
  capsules/extra/src/ieee802154/xmac.rs
  capsules/extra/src/net/sixlowpan/sixlowpan_state.rs
  capsules/extra/src/rf233.rs
  chips/nrf52840/src/ieee802154_radio.rs
  kernel/src/hil/radio.rs
Labels: nrf, last-call, HIL, WG-Network

#3978 doc: Getting Started updates
  boards/nucleo_f429zi/README.md
  boards/nucleo_f446re/README.md
  doc/Getting_Started.md
Labels: documentation, P-Upkeep

#3982 Update pinned Tockloader rev to v1.12.0
  .github/workflows/litex_sim.yml
  shell.nix
Labels: P-Upkeep

#3973 kernel/hil/time,capsules/alarm: pad Ticks to 32 bit for predictable wrapping
  capsules/core/src/alarm.rs
  kernel/src/hil/time.rs
Labels: last-call, HIL

#3980 boards: nrf52840dk: update readme
  boards/nordic/nrf52840dk/README.md
Labels: documentation, P-Upkeep

#3984 boards: makepython: loader: register deferred call
  boards/makepython-nrf52840/src/main.rs
Labels: bug, P-Upkeep

#3986 kernel: add RestartWithDebugFaultPolicy
  kernel/src/process.rs
  kernel/src/process_policies.rs
Labels: kernel

#3985 nrf52840 IEEE802.15.4 driver drop corrupted packets
  chips/nrf52840/src/ieee802154_radio.rs
Labels: nrf, WG-Network

#3989 chips/nrf5x: disallow registering multiple interrupts for a single GPIO
  chips/nrf5x/src/gpio.rs
Labels: nrf

#3977 Core working group call notes: May 3, 2024
  doc/wg/core/notes/core-notes-2024-05-03.md
Labels: documentation

#3974 Network working group call notes: April 29, 2024
  doc/wg/network/notes/network-notes-2024-04-29.md
Labels: documentation, WG-Network

#3997 kernel: hil: radio: use standard rx client
  boards/components/src/ieee802154.rs
  capsules/extra/src/rf233.rs
  chips/nrf52840/src/ieee802154_radio.rs
  kernel/src/hil/radio.rs
Labels: nrf, P-Upkeep, HIL, component, WG-Network

#3993 ieee802154: Remove buffers from `initialize()` functions
  boards/components/src/rf233.rs
  boards/imix/src/main.rs
  capsules/extra/src/ieee802154/mac.rs
  capsules/extra/src/ieee802154/xmac.rs
  capsules/extra/src/rf233.rs
  chips/nrf52840/src/ieee802154_radio.rs
  kernel/src/hil/radio.rs
Labels: nrf, HIL, component, WG-Network

#3996 doc: add core wg notes 2024-05-17
  doc/wg/core/notes/core-notes-2024-05-17.md
Labels: documentation

#4003 Notes from Core working group call: May 24, 2024
  doc/wg/core/notes/core-notes-2024-05-24.md
Labels: documentation

#4007 components/console: use snake case for variables
  boards/components/src/console.rs
Labels: component

#3998 kernel: hil: 802.15.4: document the HIL
  kernel/src/hil/radio.rs
Labels: HIL, WG-Network

#4008 stm32f4xx: clocks rework
  boards/nucleo_f429zi/src/io.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/io.rs
  boards/nucleo_f446re/src/main.rs
  boards/stm32f412gdiscovery/src/io.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/io.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/weact_f401ccu6/src/io.rs
  boards/weact_f401ccu6/src/main.rs
  chips/stm32f401cc/src/interrupt_service.rs
  chips/stm32f412g/src/interrupt_service.rs
  chips/stm32f429zi/src/interrupt_service.rs
  chips/stm32f429zi/src/rtc.rs
  chips/stm32f446re/src/interrupt_service.rs
  chips/stm32f4xx/src/adc.rs
  chips/stm32f4xx/src/can.rs
  chips/stm32f4xx/src/chip.rs
  chips/stm32f4xx/src/clocks/clocks.rs
  chips/stm32f4xx/src/clocks/hse.rs
  chips/stm32f4xx/src/clocks/hsi.rs
  chips/stm32f4xx/src/clocks/mod.rs
  chips/stm32f4xx/src/clocks/phclk.rs
  chips/stm32f4xx/src/clocks/pll.rs
  chips/stm32f4xx/src/dac.rs
  chips/stm32f4xx/src/dma.rs
  chips/stm32f4xx/src/fsmc.rs
  chips/stm32f4xx/src/gpio.rs
  chips/stm32f4xx/src/i2c.rs
  chips/stm32f4xx/src/rcc.rs
  chips/stm32f4xx/src/spi.rs
  chips/stm32f4xx/src/syscfg.rs
  chips/stm32f4xx/src/tim2.rs
  chips/stm32f4xx/src/trng.rs
  chips/stm32f4xx/src/usart.rs
Labels: stm32, WG-Network
