Repository tock/tock, pull requests merged in 2025-05, with the labels that each got.

#4421 docs: syscalls: Readme: add DBS to the table
  doc/syscalls/README.md
Labels: documentation, P-Upkeep

#4423 Fix abort upcall bug
  capsules/extra/src/app_loader.rs
Labels: bug, P-Upkeep

#4414 Refactored the PMP address check for RV32 vs RV64
  arch/riscv/src/pmp.rs
Labels: last-call, risc-v

#4424 boards: remove workaround for rust-lang/rust#62184
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_atp/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/main.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/imix/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/main.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/tutorials/nrf52840dk-hotp-tutorial/src/main.rs
  boards/tutorials/nrf52840dk-thread-tutorial/src/main.rs
  boards/veer_el2_sim/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  boards/wm1110dev/src/main.rs
Labels: P-Upkeep, WG-OpenTitan

#4425 fix the typos
  arch/cortex-m/src/dwt.rs
  kernel/src/hil/i2c.rs
  libraries/tock-register-interface/src/fields.rs
  libraries/tock-register-interface/src/lib.rs
Labels: P-Upkeep, tock-libraries, HIL

#4411 Add `ProcessInfo` capsule that allows userspace to inspect and control processes
  boards/components/src/lib.rs
  boards/components/src/process_info_driver.rs
  capsules/core/src/driver.rs
  capsules/extra/README.md
  capsules/extra/src/lib.rs
  capsules/extra/src/process_info_driver.rs
  doc/syscalls/README.md
Labels: last-call, component

#4385 Fix the port to the x86 Architecture
  Cargo.toml
  Makefile
  arch/x86/Cargo.toml
  arch/x86/README.md
  arch/x86/src/boundary/boundary_impl.rs
  arch/x86/src/boundary/context.rs
  arch/x86/src/boundary/mod.rs
  arch/x86/src/boundary/return_from_user.rs
  arch/x86/src/boundary/switch_to_user.rs
  arch/x86/src/interrupts/handler_entry.rs
  arch/x86/src/interrupts/handler_stubs.rs
  arch/x86/src/interrupts/handlers.rs
  arch/x86/src/interrupts/idt.rs
  arch/x86/src/interrupts/mod.rs
  arch/x86/src/interrupts/poller.rs
  arch/x86/src/lib.rs
  arch/x86/src/mpu.rs
  arch/x86/src/registers/bits32/eflags.rs
  arch/x86/src/registers/bits32/mod.rs
  arch/x86/src/registers/bits32/paging.rs
  arch/x86/src/registers/bits32/task.rs
  arch/x86/src/registers/controlregs.rs
  arch/x86/src/registers/dtables.rs
  arch/x86/src/registers/io.rs
  arch/x86/src/registers/irq.rs
  arch/x86/src/registers/mod.rs
  arch/x86/src/registers/ring.rs
  arch/x86/src/registers/segmentation.rs
  arch/x86/src/registers/task.rs
  arch/x86/src/registers/tlb.rs
  arch/x86/src/segmentation.rs
  arch/x86/src/start.rs
  arch/x86/src/support.rs
  boards/Makefile.common
  boards/README.md
  boards/qemu_i486_q35/.cargo/config.toml
  boards/qemu_i486_q35/Cargo.toml
  boards/qemu_i486_q35/Makefile
  boards/qemu_i486_q35/README.md
  boards/qemu_i486_q35/i486-unknown-none.json
  boards/qemu_i486_q35/layout.ld
  boards/qemu_i486_q35/src/io.rs
  boards/qemu_i486_q35/src/main.rs
  boards/qemu_i486_q35/src/multiboot.rs
  chips/README.md
  chips/x86_q35/Cargo.toml
  chips/x86_q35/README.md
  chips/x86_q35/src/chip.rs
  chips/x86_q35/src/interrupts.rs
  chips/x86_q35/src/lib.rs
  chips/x86_q35/src/pic.rs
  chips/x86_q35/src/pit.rs
  chips/x86_q35/src/serial.rs
  tools/gen_x86_handler_stubs.py
Labels: last-call

#4429 kernel: hil: ethernet: fix doc links
  kernel/src/hil/ethernet.rs
Labels: P-Upkeep, HIL

#4435 QOL improvement for SMA_Q3 board and small fix for it's screen driver
  boards/sma_q3/Embed.toml
  capsules/extra/src/lpm013m126.rs
Labels: P-Upkeep

#4430 x86: fix doc warnings and links
  arch/x86/src/interrupts/poller.rs
  arch/x86/src/support.rs
  boards/qemu_i486_q35/src/multiboot.rs
  chips/x86_q35/src/pic.rs
  chips/x86_q35/src/pit.rs
  chips/x86_q35/src/serial.rs
Labels: P-Upkeep

#4438 Core working group call notes: May 14, 2025
  doc/wg/core/notes/core-notes-2025-05-14.md
Labels: documentation

#4428 remove crate_name and crate_type
  arch/cortex-m/src/lib.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/cortex-m4f/src/lib.rs
  arch/cortex-m7/src/lib.rs
  arch/cortex-v7m/src/lib.rs
  arch/riscv/src/lib.rs
  arch/rv32i/src/lib.rs
  chips/apollo3/src/lib.rs
  chips/arty_e21_chip/src/lib.rs
  chips/e310_g002/src/lib.rs
  chips/e310_g003/src/lib.rs
  chips/e310x/src/lib.rs
  chips/earlgrey/src/lib.rs
  chips/esp32-c3/src/lib.rs
  chips/esp32/src/lib.rs
  chips/imxrt10xx/src/lib.rs
  chips/litex/src/lib.rs
  chips/litex_vexriscv/src/lib.rs
  chips/lowrisc/src/lib.rs
  chips/msp432/src/lib.rs
  chips/nrf52/src/lib.rs
  chips/qemu_rv32_virt_chip/src/lib.rs
  chips/sam4l/src/lib.rs
  chips/sifive/src/lib.rs
  chips/stm32f303xc/src/lib.rs
  chips/stm32f4xx/src/lib.rs
  chips/veer_el2/src/lib.rs
  chips/virtio/src/lib.rs
Labels: sam4l, nrf, P-Upkeep, last-call, risc-v, WG-OpenTitan, stm32

#4437 components: remove `unsafe` from SeggerRtt
  boards/components/src/segger_rtt.rs
  boards/nordic/nrf52840dk/src/lib.rs
  boards/sma_q3/src/main.rs
Labels: component

#4440 components: remove `unsafe` from DebugWriter (attempt 2)
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_atp/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/debug_writer.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/main.rs
  boards/cy8cproto_62_4343_w/src/main.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/lib.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_i486_q35/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/teensy40/src/main.rs
  boards/veer_el2_sim/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  boards/wm1110dev/src/main.rs
  kernel/src/capabilities.rs
  kernel/src/debug.rs
Labels: kernel, WG-OpenTitan, component

#4439 Allow multiple Capabilities in `create_capability!`
  kernel/src/utilities/helpers.rs
Labels: kernel

#4436 components: remove `unsafe` from ProcessLoaderSequential
  boards/apollo3/lora_things_plus/src/main.rs
  boards/components/src/loader/sequential.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/imix/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/tutorials/nrf52840dk-thread-tutorial/src/main.rs
Labels: component

#4427 arch: Cortex-M: Set MPU address per arch
  arch/cortex-m/src/mpu.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/cortex-m4f/src/lib.rs
  arch/cortex-m7/src/lib.rs
  chips/apollo3/src/chip.rs
  chips/imxrt10xx/src/chip.rs
  chips/msp432/src/chip.rs
  chips/nrf52/src/chip.rs
  chips/psoc62xa/src/chip.rs
  chips/rp2040/src/chip.rs
  chips/sam4l/src/chip.rs
  chips/stm32f303xc/src/chip.rs
  chips/stm32f4xx/src/chip.rs
Labels: sam4l, nrf, last-call, stm32

#4420 boards: tutorials: add nrf52840dk-dynamic-apps-and-policies
  Cargo.toml
  boards/components/src/process_info_driver.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/.cargo/config.toml
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/Cargo.toml
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/Makefile
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/README.md
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/layout.ld
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/app_id_assigner_name_metadata.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/io.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/main.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/system_call_filter.rs
Labels: component

#4431 arch: cortex-m: Do a pass on Cortex-M crate comments/docs
  arch/cortex-m/src/dcb.rs
  arch/cortex-m/src/dwt.rs
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/mpu.rs
  arch/cortex-m/src/nvic.rs
  arch/cortex-m/src/scb.rs
  arch/cortex-m/src/support.rs
  arch/cortex-m/src/syscall.rs
  arch/cortex-m/src/systick.rs
Labels: documentation, last-call

#4445 boards: qemu_rv32_virt: fix typos in README
  boards/qemu_rv32_virt/README.md
Labels: documentation, P-Upkeep

#4442 Update Rust version to 2025-05-19
  .vscode/settings.json
  arch/cortex-m/src/mpu.rs
  arch/riscv/src/pmp.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/io.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/io.rs
  capsules/extra/src/net/thread/thread_utils.rs
  chips/litex/src/liteeth.rs
  doc/Getting_Started.md
  kernel/src/grant.rs
  kernel/src/scheduler/mlfq.rs
  kernel/src/utilities/binary_write.rs
  rust-toolchain.toml
  tools/netlify-build.sh
Labels: kernel, risc-v, WG-Network

#4449 kernel: process_loading: use existing discover_process_binary
  kernel/src/process_loading.rs
Labels: kernel, P-Upkeep, last-call
