Repository tock/tock, pull requests merged in 2025-03, with the labels that each got.

#4354 RISCV: Allow extended values of interrupt IDs in MCAUSE
  arch/riscv/src/csr/mcause.rs
  arch/rv32i/src/lib.rs
  chips/e310x/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/litex_vexriscv/src/chip.rs
  chips/qemu_rv32_virt_chip/src/chip.rs
  chips/veer_el2/src/chip.rs
Labels: last-call, risc-v, WG-OpenTitan

#4356 doc: Add Core WG notes 2025-02-25
  doc/wg/core/notes/core-notes-2025-02-26.md
Labels: documentation

#4339 Core working group call notes: February 12, 2025
  doc/wg/core/notes/core-notes-2025-02-12.md
Labels: documentation

#4361 Network working group call notes: February 24, 2025
  doc/wg/network/notes/network-notes-2025-02-24.md
Labels: documentation, WG-Network

#4362 nrf: calculate uarte baud instead of lookup
  chips/nrf52/src/uart.rs
Labels: nrf

#4353 chips/litex/liteeth: implement common EthernetAdapterDatapath HIL
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  chips/litex/src/liteeth.rs
Labels: WG-Network

#4368 doc: core: add notes 2025-03-05
  doc/wg/core/notes/core-notes-2025-03-05.md
Labels: documentation

#4369 Core working group meeting notes: March 12, 2025
  doc/wg/core/notes/core-notes-2025-03-12.md
Labels: documentation

#4329 Document process for stabilizing a syscall driver
  doc/Maintenance.md
  doc/syscalls/README.md
Labels: documentation, last-call

#4381 Network working group call notes: March 24, 2025
  doc/wg/network/notes/network-notes-2025-03-24.md
Labels: documentation, WG-Network

#4379 Fix next_pending_with_mask() and has_pending_with_mask() bug
  arch/cortex-m/src/nvic.rs
Labels: last-call

#4375 capsules: chirp_i2c_moisture: Remove initialise function and improve moisture values
  boards/components/src/chirp_i2c_moisture.rs
  capsules/extra/src/chirp_i2c_moisture.rs
Labels: component

#4387 doc: external deps: add PR template
  doc/ExternalDependencies.md
Labels: documentation

#4378 SPI-PIO for RP2040
  boards/raspberry_pi_pico/README.md
  chips/rp2040/src/lib.rs
  chips/rp2040/src/pio.rs
  chips/rp2040/src/pio_spi.rs
Labels: last-call
