Repository tock/tock, pull requests merged in 2025-02, with the labels that each got.

#4330 kernel: remove debug_enqueue
  boards/components/src/debug_queue.rs
  boards/components/src/lib.rs
  kernel/src/debug.rs
Labels: kernel, last-call, component

#4331 Core working group call notes: January 29, 2025
  doc/wg/core/notes/core-notes-2025-01-29.md
Labels: documentation, last-call

#4300 boards: add initial code for CY8CPROTO-062-4343W
  Cargo.toml
  boards/README.md
  boards/cy8cproto_62_4343_w/.cargo/config.toml
  boards/cy8cproto_62_4343_w/Cargo.toml
  boards/cy8cproto_62_4343_w/Makefile
  boards/cy8cproto_62_4343_w/README.md
  boards/cy8cproto_62_4343_w/layout.ld
  boards/cy8cproto_62_4343_w/openocd.cfg
  boards/cy8cproto_62_4343_w/src/io.rs
  boards/cy8cproto_62_4343_w/src/main.rs
  chips/psoc62xa/Cargo.toml
  chips/psoc62xa/README.md
  chips/psoc62xa/src/chip.rs
  chips/psoc62xa/src/cpuss.rs
  chips/psoc62xa/src/gpio.rs
  chips/psoc62xa/src/hsiom.rs
  chips/psoc62xa/src/lib.rs
  chips/psoc62xa/src/peri.rs
  chips/psoc62xa/src/scb.rs
  chips/psoc62xa/src/srss.rs
  chips/psoc62xa/src/tcpwm.rs
Labels: last-call

#4336 doc: wg: core: add notes 2025-02-05
  doc/wg/core/notes/core-notes-2025-02-05.md
Labels: documentation

#4343 kernel/utilities/streaming_process_slice: fix off-by-one error
  kernel/src/utilities/streaming_process_slice.rs
Labels: kernel

#4345 boards: archive the acd52832
  Cargo.toml
  boards/README.md
  boards/acd52832/.cargo/config.toml
  boards/acd52832/Cargo.toml
  boards/acd52832/Makefile
  boards/acd52832/README.md
  boards/acd52832/layout.ld
  boards/acd52832/src/io.rs
  boards/acd52832/src/main.rs
  boards/nordic/README.md
Labels: last-call

#4250 kernel: Introduce the `MachineRegister` type.
  arch/cortex-m/src/syscall.rs
  arch/rv32i/src/syscall.rs
  boards/hail/Cargo.toml
  kernel/src/grant.rs
  kernel/src/process.rs
  kernel/src/syscall.rs
  kernel/src/upcall.rs
  kernel/src/utilities/capability_ptr.rs
  kernel/src/utilities/machine_register.rs
  kernel/src/utilities/mod.rs
Labels: kernel, last-call, risc-v

#4341 chips/virtio/virtio_net: implement common EthernetAdapterDatapath HIL
  boards/qemu_rv32_virt/src/main.rs
  chips/virtio/src/devices/virtio_net.rs
Labels: last-call, WG-Network

#4350 capsules/core/driver: rename "Radio" to "Networking", reserve "EthernetTap" syscall driver number
  capsules/core/src/driver.rs
Labels: WG-Network

#4337 Network working group call notes: February 10, 2025
  doc/wg/network/notes/network-notes-2025-02-10.md
Labels: documentation, WG-Network

#4344 doc: dpl: added documentation for abort()
  doc/reference/trd-dynamic-process-loading.md
Labels: documentation

#4359 Remove semicolon from `debug_writer_no_mux_component_static` macro
  boards/components/src/debug_writer.rs
Labels: bug, P-Upkeep, component
