Repository tock/tock, pull requests merged in 2025-06, with the labels that each got.

#4395 Enable app signature checking to support multiple keys, add SetKey and SelectKey HILs, update ECDSA config board to use two signature verify keys
  boards/apollo3/lora_things_plus/src/main.rs
  boards/components/src/appid/checker_signature.rs
  boards/components/src/atecc508a.rs
  boards/components/src/lib.rs
  boards/components/src/signature_verify_in_memory_keys.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  capsules/ecdsa_sw/src/p256_verifier.rs
  capsules/extra/README.md
  capsules/extra/src/atecc508a.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/signature_verify_in_memory_keys.rs
  capsules/system/src/process_checker/signature.rs
  kernel/src/hil/public_key_crypto/keys.rs
Labels: kernel, component

#4450 doc: Core WG Notes 2025-05-28
  doc/wg/core/notes/core-notes-2025-05-28.md
Labels: documentation

#4457 Netlify cache fixes
  netlify.toml
  tools/netlify-build.sh
  tools/netlify-cache/index.js
  tools/netlify-cache/manifest.yml
Labels: P-Upkeep, last-call

#4463 arch/riscv/pmp: fix underflow in region_overlaps
  arch/riscv/src/pmp.rs
Labels: risc-v

#4470 Core working group meeting notes: June 18, 2025
  doc/wg/core/notes/core-notes-2025-06-18.md
Labels: documentation

#4473 boards: make `STACK_MEMORY` not `pub`
  boards/apollo3/lora_things_plus/src/main.rs
  boards/apollo3/redboard_artemis_atp/src/main.rs
  boards/apollo3/redboard_artemis_nano/src/main.rs
  boards/arty_e21/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/configurations/microbit_v2/microbit_v2-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-ecdsap256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-sha256/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-appid-tbf/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-dynamic-app-load/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-invs/src/main.rs
  boards/configurations/nrf52840dk/nrf52840dk-test-kernel/src/main.rs
  boards/cy8cproto_62_4343_w/src/main.rs
  boards/esp32-c3-devkitM-1/src/main.rs
  boards/hail/src/main.rs
  boards/hifive1/src/main.rs
  boards/hifive_inventor/src/main.rs
  boards/imix/src/main.rs
  boards/imxrt1050-evkb/src/main.rs
  boards/litex/arty/src/main.rs
  boards/litex/sim/src/main.rs
  boards/makepython-nrf52840/src/main.rs
  boards/microbit_v2/src/main.rs
  boards/msp_exp432p401r/src/main.rs
  boards/nano33ble/src/main.rs
  boards/nano33ble_rev2/src/main.rs
  boards/nano_rp2040_connect/src/main.rs
  boards/nordic/nrf52840_dongle/src/main.rs
  boards/nordic/nrf52840dk/src/lib.rs
  boards/nordic/nrf52dk/src/main.rs
  boards/nucleo_f429zi/src/main.rs
  boards/nucleo_f446re/src/main.rs
  boards/opentitan/src/main.rs
  boards/particle_boron/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_i486_q35/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  boards/redboard_redv/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f3discovery/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/stm32f429idiscovery/src/main.rs
  boards/veer_el2_sim/src/main.rs
  boards/weact_f401ccu6/src/main.rs
  boards/wm1110dev/src/main.rs
Labels: WG-OpenTitan

#4476 clippy: deny declare-interior-mutable-const
  Cargo.toml
  arch/riscv/src/pmp.rs
  boards/components/src/sched/cooperative.rs
  boards/components/src/sched/mlfq.rs
  boards/components/src/sched/round_robin.rs
  capsules/extra/src/pwm.rs
  chips/earlgrey/src/epmp.rs
  chips/imxrt10xx/src/dma.rs
  kernel/src/deferred_call.rs
  libraries/tock-cells/src/take_cell.rs
Labels: kernel, last-call, tock-libraries, risc-v, WG-OpenTitan, component

#4481 clippy: deny while-let-loop
  Cargo.toml
  chips/apollo3/src/chip.rs
  chips/imxrt10xx/src/chip.rs
  chips/msp432/src/chip.rs
  chips/nrf52/src/chip.rs
  chips/psoc62xa/src/chip.rs
  chips/rp2040/src/chip.rs
  chips/sam4l/src/chip.rs
  chips/stm32f303xc/src/chip.rs
  chips/stm32f4xx/src/chip.rs
Labels: sam4l, nrf, last-call, stm32

#4480 clippy: add comments to `perf`, `complexity`, and `cargo`, remove allow for `manual_unwrap_or_default`
  Cargo.toml
Labels: last-call

#4486 tock-registers: release v0.10.0
  libraries/tock-register-interface/CHANGELOG.md
  libraries/tock-register-interface/Cargo.toml
  libraries/tock-register-interface/README.md
  libraries/tock-register-interface/src/debug.rs
  libraries/tock-register-interface/src/fields.rs
  libraries/tock-register-interface/src/interfaces.rs
  libraries/tock-register-interface/src/lib.rs
  libraries/tock-register-interface/src/local_register.rs
  libraries/tock-register-interface/src/macros.rs
  libraries/tock-register-interface/src/registers.rs
Labels: tock-libraries

#4488 dyn_binary_storage: fix load process done callback
  kernel/src/dynamic_binary_storage.rs
Labels: kernel

#4489 process_loading: fix flipped debug comment
  kernel/src/process_loading.rs
Labels: kernel, P-Upkeep
