Repository tock/tock, pull requests merged in 2025-07, with the labels that each got.

#4490 Change `tock-dev@googlegroups.com` to `devel@lists.tockos.org`
  Cargo.toml
  boards/particle_boron/Cargo.toml
  boards/sma_q3/Cargo.toml
  doc/reference/trd-appid.md
  doc/reference/trd-digest.md
  doc/reference/trd-radio.md
  doc/reference/trd-spi.md
  doc/reference/trd-uart.md
  doc/reference/trd-userspace-readable-allow-syscalls.md
  doc/reference/trd102-adc.md
  doc/reference/trd103-gpio.md
  doc/reference/trd104-syscalls.md
  doc/reference/trd106-completion-codes.md
  libraries/riscv-csr/Cargo.toml
  libraries/tock-cells/Cargo.toml
  libraries/tock-register-interface/Cargo.toml
  libraries/tock-tbf/Cargo.toml
  tools/Cargo.toml
Labels: last-call, tock-libraries

#4487 Bring back naked functions
  arch/cortex-m/src/lib.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-v7m/src/lib.rs
  arch/riscv/src/lib.rs
  boards/hail/Cargo.toml
  boards/nano_rp2040_connect/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/raspberry_pi_pico/src/main.rs
  chips/arty_e21_chip/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/esp32-c3/src/chip.rs
Labels: last-call, risc-v, WG-OpenTitan

#4491 Network working group call notes: June 30, 2025
  doc/wg/network/notes/network-notes-2025-06-30.md
Labels: documentation, WG-Network

#4443 style: spell out constants used in crypto interfaces
  boards/components/src/appid/checker_signature.rs
  capsules/extra/src/hmac.rs
  capsules/extra/src/sha.rs
  capsules/system/src/process_checker/signature.rs
  kernel/src/hil/digest.rs
  kernel/src/hil/public_key_crypto/signature.rs
Labels: kernel, last-call, HIL, component

#4493 Core working group call notes: July 02, 2025
  doc/wg/core/notes/core-notes-2025-07-02.md
Labels: documentation

#4492 doc: wg: core: notes 2025-06-25
  doc/wg/core/notes/core-notes-2025-06-25.md
Labels: documentation

#4510 Network working group call notes: July 14, 2025
  doc/wg/network/notes/network-notes-2025-07-14.md
Labels: documentation, WG-Network

#4520 change app_loader capsule buffer size to 4096
  capsules/extra/src/app_loader.rs
Labels: P-Upkeep, last-call

#4523 arch/cortex-m: Add functions to disable exceptions.
  arch/cortex-m/src/scb.rs
Labels: last-call
