Repository tock/tock, pull requests merged in 2025-01, with the labels that each got.

#4281 shell.nix: update fenix to fix deprecation warning
  shell.nix
Labels: P-Upkeep

#4266 systick: made frequency mutable
  arch/cortex-m/src/systick.rs
Labels: last-call

#4289 802.15.4 Add radio enable syscall to standard driver
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/mac.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
  capsules/extra/src/ieee802154/xmac.rs
Labels: WG-Network

#4291 Backport #4289 for Release 2.2: [15.4] Add radio enable syscall to standard driver
  capsules/extra/src/ieee802154/device.rs
  capsules/extra/src/ieee802154/driver.rs
  capsules/extra/src/ieee802154/framer.rs
  capsules/extra/src/ieee802154/mac.rs
  capsules/extra/src/ieee802154/virtual_mac.rs
  capsules/extra/src/ieee802154/xmac.rs
Labels: WG-Network

#4294 Backport #4292 to Release 2.2: kernel/scheduler/mlfq: fix lockup by immediately servicing kernel interrupts
  kernel/src/scheduler/mlfq.rs
Labels: kernel

#4292 kernel/scheduler/mlfq: fix lockup by immediately servicing kernel interrupts
  kernel/src/scheduler/mlfq.rs
Labels: kernel, release-blocker

#4286 Add core wg notes from 2025-01-03
  doc/wg/core/notes/core-notes-2025-01-03.md
Labels: documentation

#4271 apollo3: Support deep sleep
  arch/cortex-m/src/scb.rs
  chips/apollo3/src/chip.rs
Labels: last-call

#4273 boards: apollo3: lora_things_plus: Disable BLE
  boards/apollo3/lora_things_plus/src/main.rs
  chips/apollo3/src/mcuctrl.rs
Labels: last-call

#4284 capsules/process_console: emit CRLF with process termination message
  capsules/core/src/process_console.rs
Labels: P-Upkeep

#4256 arch: cortex-m (v7m): Only check and set the stack bit in `EXC_RETURN`
  arch/cortex-v7m/src/lib.rs
Labels: P-Significant, last-call

#4301 Core Team Notes 2025-01-10
  doc/wg/core/notes/core-notes-2025-01-10.md
Labels: documentation, last-call

#4307 Network working group call notes: January 13, 2025
  doc/wg/network/notes/network-notes-2025-01-13.md
Labels: documentation, last-call, WG-Network

#4306 stm32f4xx: usart disable
  chips/stm32f4xx/src/usart.rs
Labels: last-call, stm32

#4299 doc: trd104: fix pointer->parameter
  doc/reference/trd104-syscalls.md
Labels: documentation, last-call

#4233 Add support for DFRobot Rain Sensor
  boards/apollo3/lora_things_plus/Cargo.toml
  boards/apollo3/lora_things_plus/Makefile
  boards/apollo3/lora_things_plus/src/main.rs
  boards/components/src/dfrobot_rainfall_sensor.rs
  boards/components/src/lib.rs
  boards/components/src/rainfall.rs
  capsules/core/src/driver.rs
  capsules/extra/README.md
  capsules/extra/src/dfrobot_rainfall_sensor.rs
  capsules/extra/src/lib.rs
  capsules/extra/src/rainfall.rs
  kernel/src/hil/sensors.rs
Labels: HIL, component

#4311 arm: replace two asm instructions with one equivalent
  arch/cortex-v7m/src/lib.rs
Labels: last-call

#4310 stm32f4xx: fixed usart abort
  chips/stm32f4xx/src/usart.rs
Labels: last-call, stm32

#4309 CommandReturn: added public API to inspect the contents
  kernel/src/syscall_driver.rs
Labels: kernel, last-call

#4278 CI: add MSRV check with the cargo-hack tool
  .github/workflows/ci.yml
  Makefile
Labels: last-call

#4308 Core working group call notes: January 15, 2025
  doc/wg/core/notes/core-notes-2025-01-15.md
Labels: documentation, last-call

#4319 typo in contributing doc
  .github/CONTRIBUTING.md
Labels: P-Upkeep

#4081 doc: TRD: start non-XIP flash info document
  doc/reference/trd-non-xip.md
Labels: documentation, last-call, No-XIP

#4317 clippy: deny only_used_in_recursion
  Cargo.toml
  capsules/extra/src/mx25r6435f.rs
Labels: P-Upkeep

#4321 update upstream tock url to use https protocol
  .github/CONTRIBUTING.md
Labels: P-Upkeep

#4314 docs: getting started: add probe-rs docs
  doc/Getting_Started.md
Labels: documentation

#4327 SubSliceMut: ensure `.slice()` only shrinks the current slice
  kernel/src/utilities/leasable_buffer.rs
Labels: kernel, last-call

#4315 doc: add core-wg 2025-01-22 notes
  doc/wg/core/notes/core-notes-2025-01-22.md
Labels: documentation

#4325 Network working group call notes: January 27, 2025
  doc/wg/network/notes/network-notes-2025-01-27.md
Labels: documentation, WG-Network

#4320 capsules: spi controller: set rlen length
  capsules/core/src/spi_controller.rs
Labels: bug
