Repository tock/tock, pull requests merged in 2025-09, with the labels that each got.

#4577 Update my affiliation.
  doc/reference/trd-appid.md
  doc/reference/trd104-syscalls.md
  doc/wg/core/README.md
Labels: documentation

#4581 replace git hash with kernel version + clean/dirty
  Makefile
  arch/cortex-m0/src/lib.rs
  arch/cortex-v7m/src/lib.rs
  boards/Makefile.common
  kernel/src/debug.rs
  kernel/src/lib.rs
Labels: kernel

#4545 Add in-kernel screen splitting to enable sharing the screen, add Fake LEDs on the screen, reorganize capsules_extra/screen and capsules_extra/virtualizers
  boards/apollo3/lora_things_plus/src/main.rs
  boards/clue_nrf52840/src/main.rs
  boards/components/src/kv.rs
  boards/components/src/lib.rs
  boards/components/src/screen.rs
  boards/components/src/screen_on.rs
  boards/makepython-nrf52840/src/main.rs
  boards/opentitan/earlgrey-cw310/src/main.rs
  boards/pico_explorer_base/src/main.rs
  boards/qemu_rv32_virt/src/main.rs
  boards/sma_q3/src/main.rs
  boards/stm32f412gdiscovery/src/main.rs
  boards/tutorials/nrf52840dk-dynamic-apps-and-policies/src/main.rs
  boards/tutorials/nrf52840dk-hotp-tutorial/src/main.rs
  boards/tutorials/nrf52840dk-root-of-trust-tutorial/src/main.rs
  boards/tutorials/nrf52840dk-thread-tutorial/src/main.rs
  capsules/extra/README.md
  capsules/extra/src/lib.rs
  capsules/extra/src/screen/README.md
  capsules/extra/src/screen/mod.rs
  capsules/extra/src/screen/screen.rs
  capsules/extra/src/screen/screen_adapters.rs
  capsules/extra/src/screen/screen_on_led.rs
  capsules/extra/src/screen/screen_shared.rs
  capsules/extra/src/virtualizers/mod.rs
  capsules/extra/src/virtualizers/screen/mod.rs
  capsules/extra/src/virtualizers/screen/virtual_screen_split.rs
  capsules/extra/src/virtualizers/virtual_kv.rs
Labels: WG-OpenTitan, component

#4551 kernel: add `SingleThreadValue` type for `!Sync` statics, using atomics for synchronization
  arch/cortex-m/src/lib.rs
  arch/cortex-m/src/support.rs
  arch/cortex-m/src/thread_id.rs
  arch/cortex-m0/src/lib.rs
  arch/cortex-m0p/src/lib.rs
  arch/cortex-m3/src/lib.rs
  arch/cortex-m33/src/lib.rs
  arch/cortex-m4/src/lib.rs
  arch/cortex-m4f/src/lib.rs
  arch/cortex-m7/src/lib.rs
  arch/riscv/src/lib.rs
  arch/riscv/src/syscall.rs
  arch/riscv/src/thread_id.rs
  arch/rv32i/src/lib.rs
  arch/x86/src/lib.rs
  arch/x86/src/thread_id.rs
  chips/apollo3/src/chip.rs
  chips/arty_e21_chip/src/chip.rs
  chips/e310x/src/chip.rs
  chips/earlgrey/src/chip.rs
  chips/esp32-c3/src/chip.rs
  chips/imxrt10xx/src/chip.rs
  chips/litex_vexriscv/src/chip.rs
  chips/msp432/src/chip.rs
  chips/nrf52/src/chip.rs
  chips/psoc62xa/src/chip.rs
  chips/qemu_rv32_virt_chip/src/chip.rs
  chips/rp2040/src/chip.rs
  chips/rp2350/src/chip.rs
  chips/sam4l/src/chip.rs
  chips/stm32f303xc/src/chip.rs
  chips/stm32f4xx/src/chip.rs
  chips/veer_el2/src/chip.rs
  chips/x86_q35/src/chip.rs
  kernel/src/platform/chip.rs
  kernel/src/utilities/mod.rs
  kernel/src/utilities/single_thread_value.rs
Labels: kernel, sam4l, nrf, P-Significant, risc-v, WG-OpenTitan, stm32

#4596 x86: Interrupt Handling Improvements
  boards/qemu_i486_q35/Makefile
  boards/qemu_i486_q35/src/main.rs
  chips/x86_q35/src/chip.rs
  chips/x86_q35/src/interrupts.rs
  chips/x86_q35/src/pic.rs
  kernel/src/platform/chip.rs
Labels: kernel, last-call

#4603 Network working group call notes: September 15, 2025
  doc/wg/network/notes/network-notes-2025-09-15.md
Labels: documentation, WG-Network

#4607 Update Network working group charter
  .github/labeler.yml
  doc/wg/network/README.md
Labels: last-call, WG-Network

#4608 Virtio Support for x86
  Cargo.toml
  boards/qemu_i486_q35/.cargo/config.toml
  boards/qemu_i486_q35/Cargo.toml
  boards/qemu_i486_q35/Makefile
  boards/qemu_i486_q35/src/main.rs
  chips/pci-x86/Cargo.toml
  chips/pci-x86/README.md
  chips/pci-x86/src/bdf.rs
  chips/pci-x86/src/cap.rs
  chips/pci-x86/src/cfg.rs
  chips/pci-x86/src/device.rs
  chips/pci-x86/src/iter.rs
  chips/pci-x86/src/lib.rs
  chips/virtio-pci-x86/Cargo.toml
  chips/virtio-pci-x86/README.md
  chips/virtio-pci-x86/src/lib.rs
  chips/virtio-pci-x86/src/pci.rs
  chips/virtio/README.md
Labels: last-call

#4610 Set stack's load address in ram
  boards/build_scripts/tock_kernel_layout.ld
Labels: last-call

#4617 doc: wg: crypto: update adopted date
  doc/wg/cryptography/README.md
Labels: documentation, P-Upkeep, WG-Crypto

#4614 rustdoc: fix various warnings (Sep 2025)
  arch/cortex-v7m/src/lib.rs
  chips/virtio/src/devices/virtio_gpu/mod.rs
  chips/x86_q35/src/vga.rs
  kernel/src/hil/keyboard.rs
  kernel/src/hil/screen.rs
Labels: P-Upkeep, HIL
